/* CSS Document */

body
{
    background-color: white;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

p.note
{
    color: #111111;
    text-align: left;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: #D4D4D4;
    margin: 0px 10px 0px 0px;
    padding: 0.8em 1.5em 1em 1.5em;
    line-height: 16px;
}

p.main
{
    color: #333333;
    line-height: 18px;
    text-align: left;
}

li.main
{
    color: #333333;
    margin-bottom: 5px;
}

a:link, a:visited
{
    color: #006699;
    text-decoration: none;
}

a:hover, a:focus, a:active
{
    color: #1C417C;
    text-decoration: underline;
}

H1.main
{
    margin-bottom: 10px;
    color: #333333;
}

H2.main
{
    margin-bottom: 10px;
    color: #333333;
}

H3.main
{
    margin-bottom: 10px;
    color: #333333;
}

.codeBlock
{
    margin-left: -6px;
}

.jsComment
{
    color: Green;
}

DIV.main
{
    margin-left: 10px;
}


body{
	font-family:Arial, Helvetica, sans-serif;
	margin-left:20px;
}

h1{
	margin-top:20px;
	font-size:12pt;
}

h2{
	font-style:normal;
	font-size:10pt;
}

.textFocus{
	color:#00F;
	font-weight:bold;
}
.del-ico{
		background:url("images/delete.gif") no-repeat;
		padding-left: 14px;
		height:16px;	
}
.his-ico{
		background:url("images/history.gif") no-repeat;
		padding-left: 14px;
		height:16px;	
}

.newline{ clear:both;margin-top:40px;}

