<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
   

</style>

<form method="post" id="frm">
    
        <div class="row">    
            <div id="grid" class="zGrid mb-2"></div>
        </div>
         <div class="row"> 
         <div class="button-group"> 
            <button type="button" class="btn btn-primary " id="btnSave">
                <i class="far fa-save"></i> Save
            </button>
            <button type="button" onclick="return checkDelete();" class="btn btn-primary " id="btnDelete">
            	<i class="fas fa-trash-alt"></i> Delete
            </button>    
        </div>
    </div>
</form>
