<style type="text/css" media="all">
    .pull-right {
        float: right !important;
    }
</style>

<div class="col-xs-12 "> 
    <div class="zPanel">
        <div class="buttonGroup pull-right">
            <button type="button" class="btn btn-primary btn-sm" id="btnExport">
            	<span class="fas fa-file-export"></span> Export
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnImport">
            	<span class="fas fa-file-import"></span> Import
            </button>    
        </div>
        <div id="gridCustOrder" class="zGrid"> </div>  
    </div>
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave">
            	<span class="fas fa-save"></span> Save
            </button>    
        </div>
    
</div>


