.zGrid {
    border: 1pt solid #d6d8d8;
    float: left;
    .form-control[type='checkbox']{
        height: unset;
    
    }
  }
  .zCell a {
    text-decoration: underline;
  }
  
.modal-body div nav #nav-tab .nav-link{

  color : #000000;
  margin-left: 2px;

  &.active {
    color: #fff;
    background-image: linear-gradient(to bottom, #1a0dab 0px, #12078a 100%);
  }

  &:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #1a0dab 0px, #12078a 100%);
  }

}
.btn-primary {
  &:hover {
    background-color: #0a007a;
  }
}
.zpage-title {
  color: #1a0dab;
}
  .zGrid .zHeaders {
    background-image: linear-gradient(to bottom, #1a0dab 0px, #12078a 100%);
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
  }
  
  .zHeaders {
    .title .text {
      padding-left: 4px;
      white-space: nowrap;
      font-size: 0.7rem;
      input {
        &[type="checkbox"], &[type="radio"] {
          left: 1px;
          position: relative;
          top: 1px;
          width: inherit;
        }
      }
    }
    .item .cr {
      height: 100%;
      right: 0px;
      position: absolute;
      cursor: w-resize;
      top: 0px;
      width: 2px;
    }
  }
  
  .zGrid .zGridPanel {
    float: left;
    overflow: hidden;
  }
  
  .zGroupHeaderItem:not(:last-child) {
    border-right: 1pt solid #d6d8d8;
    float: left;
    height: inherit;
    position: relative;
  }
  
  .zGrid {
    .zHeaderItem {
      position: relative;
      float: left;
      width: inherit;
    }
    .zRows {
      clear: left;
    }
    .right {
      border-left: 1pt solid #939393;
      .zRows {
        overflow: auto;
      }
    }
    .left {
      overflow: hidden;
      .zRows {
        overflow: hidden;
      }
    }
    .item {
      float: left;
      text-align: center;
      clear: right;
    }
    .zHeaders {
      .groupItem {
        border-top: 1pt solid #d6d8d8;
      }
      > .item .title {
        height: 20px;
        align-items: center;
        display: flex;
      }
      .item {
        position: relative;
        overflow: hidden;
      }
      .zSort {
        align-items: center;
        display: flex;
      }
    }
  }
  
  .zHeaders > .group0 > .title {
    display: block;
  }
  
  .zGrid {
    .item .title {
      height: 20px;
    }
    .zHeaders .item input {
      display: inline-block;
    }
    .item {
      border-right: 1pt solid #d6d8d8;
    }
  }
  
  .groupItem > .groupItem:last-child {
    border-right: 0pt;
  }
  
  .zGrid .zRows {
      > #table {
      .zRow input[type='checkbox'] {
        background-color: transparent;
        outline: 0 none;
        margin-top: 5px;
      }
    }
  }
  
  input[type='radio'] {
    background-color: transparent;
    outline: 0 none;
    margin-top: 5px;
  }
  
  .zGrid {
    .zRow {
      clear: left;
      height: 23px;
      overflow: hidden;
    }
    .zCell {
      border-right: 1pt solid #d6d8d8;
      border-bottom: 1pt solid #d6d8d8;      
      float: left;
      height: inherit;
      line-height: 18pt;
      min-width: 25px;
      position: relative;
      overflow: hidden;
      
      span.text {
        padding: .1rem .5rem;
      } 


    }
    .zRows #table {
      position: relative;
      .zRow.even{
        background-color: #e3e4e5;

        &.active {
          background-color: #333333;
        }
      }
    }
  }

  .zRows {
    .zRow {
      transition: background 0.2s ease-in;
      &:hover {
        background-color: #b8b8b8;
        color: #000;
      }
    }
    #table .zRow.active {
      background-color: #333333;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  
  .zGrid {
    .zCell .form-control:not([type="checkbox"]) {
      background-color: transparent;
      border: medium none;
      height: inherit;
      width: inherit;
      padding-left: 0.3rem;
    }
    .active .zCell .form-control {
      background-color: #333333;
      color: #fff;
      border-radius: 0;
      border-right: 1pt solid #d6d8d8;
    }
    .zRow {
      .form-control.mandatory {
        border-radius: 0;
        border-right: 1pt solid #d6d8d8 !important;
      }
      &:nth-child(odd) .form-control.mandatory {
        background-color: #B7B5B5 !important;
      }
      &:nth-child(even) .form-control.mandatory {
        background-color: #DDDDDD !important;
      }
    }

    .zPageFooter {
      background-color: #bcbcbc;
      background-image: linear-gradient(to bottom, #bcbcbc 0px, #9c9d9e 100%);
      height: 27px;
      overflow: visible;
      padding-left: 5px;
      padding-right: 5px;
      clear: left;
      position: relative;
      z-index: 1;
      .pagestatus {
        float: left;
        font-weight: bold;
        padding-top: 4px;
      }
      .pagectrl {
        float: right;
        padding-top: 4px;
        input#rpp {
          height: 18px;
          width: 35px;
        }
      }
    }
  }
  
  .pagectrl {
    input, select {
      border: 1pt solid #5f6061;
      border-radius: 2pt;
    }
  }
  
  .zGrid .left {
    position: relative;
    z-index: 1;
  }
  
  /*dropdown list */
  
  .zDdlBtn {
    border-left: 1pt solid #d6d8d8;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    color: #000;
    padding-right: 3px;
    > .caret {
      margin-left: 4px;
    }
  }
  
  .zDDList {
    background-color: #333333;
    color: #fff;
    font-size: 9pt;
    left: 0;
    position: absolute;
    z-index: 1000;
    top: 100px;
    display: none;
  }
  
  .zRow {
    &:nth-child(odd) .zDdlBtn {
      background-color: #e3e4e5;
    }
    &:nth-child(even) .zDdlBtn {
      background-color: #fff;
    }
    &.active .zDdlBtn {
      background-color: #333333;
      color: #fff;
    }
  }
  
  /*end of dropdown list */
  
  /*sort */
  
  .zHeaders .item > .title.hasSort {
    float: left;
  }
  
  .zGrid .zHeaders {
    .zSort {
      width: 10px;
      text-align: left;
      position: absolute;
      right: 6px;
      top: 1px;
      a {
        color: #fff;
      }
      span.sPane {
        float: left;
        line-height: 5px;
      }
      white-space: normal;
    }
    .arrow-up {
      border-bottom: 4px solid #dff904;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      display: inline-block;
      height: 0;
      width: 0;
    }
    .arrow-down {
      border-top: 4px solid #dff904;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      display: inline-block;
      width: 0;
      height: 0;
    }
    .zSort > {
      .asc > .sPane, .desc > .sPane {
        line-height: 10px;
      }
    }
  }
  
  /*end of sort*/