
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style>
    #loginform {
        margin-top: -10px;
        padding-right: 25px;
    }

        #loginform label {
            color: #fff;
        }
</style>

<div class="pageHeader"></div>
<div class="menu-horizontal">
    <div class="container-full">
        <div id="loginform" class="pull-left">
            <form id="frmLogin" action="@Url.Content("~/")account/validate" method="post"  >
                <label>User Name </label><label id="pass">Password </label>
                <br><input id="username" name="username" /> <input id="password" name="password" type="password" />
                <button id="btnLogin" class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-triangle-right"></span> Login</button>
            </form>
        </div>
    </div>
</div>

<div class="container page">

</div>

<script>
    $(document).ready(function () {
	    var msg = zsi.getUrlParamValue("access");
		var _username = readCookie("username");
		if(_username){
			if (msg !== "invalid") {
				$("#username").val(_username);
				$("#password").val( readCookie("userpwd"));
				$("#isremember").prop('checked',true);
				$("#frmLogin").submit();
			}
			else
				clearCookies();
		}
        if (msg === "invalid") {
            alert("Invalid Access. Please try again.")
        }
		
        $('.carousel').carousel({
            interval: 6000
        })		
    });

$("#frmLogin").submit(function () {

    if ($("#username").val() === "") { alert("Please enter username."); return false; }
    if ($("#password").val() === "") { alert("Please enter password."); return false; }
	checkRememberSignin();
});

$("#btnTest").click(function () {
	checkRememberSignin();
});

function clearCookies(){
	createCookie("username","",0);
	createCookie("userpwd","",0);
	$("#isremember").prop('checked',false);
}

function checkRememberSignin(){
	if ( $("#isremember").is(':checked') ){
			createCookie("username",$("#username").val(),1);
			createCookie("userpwd",$("#password").val(),1);
	}
	else clearCookies();
}

var button = $("#example-one");
button.on("click", function () {

    var x = $(this);
    if (x.text() == x.data("text-swap")) {
        x.text(x.data("text-original"));
    } else {
        x.data("text-original", x.text());
        x.text(x.data("text-swap"));
    }

});

var button = $("#example-two");
button.on("click", function () {

    var x = $(this);
    if (x.text() == x.data("text-swap")) {
        x.text(x.data("text-original"));
    } else {
        x.data("text-original", x.text());
        x.text(x.data("text-swap"));
    }

});
function createCookie(name,value,days) {
    var expires;
    if (days) {
    	var date = new Date();
    	date.setTime(date.getTime()+(days*24*60*60*1000));
    	expires = "; expires="+date.toGMTString();
    }
    else expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
}
</script>
