*.suo
*.pdb
*.db
inventory/Web/inventory/bin/*
inventory/Web/inventory/obj/*
inventory/Web/packages/*
inventory/Web/.vs/*
inventory/Web/inventory/zsiInventory.csproj.user
inventory/Web/inventory/ace/*
inventory/Web/inventory/Properties/PublishProfiles/*
createCodeBackup/createCodeBackup/bin/*
createCodeBackup/createCodeBackup/obj/*
createCodeBackup2/createCodeBackup/bin/*
createCodeBackup2/createCodeBackup/obj/*
inventory/Web/inventory/createCodeBackup.exe.config
*.user
zsiWeb/packages/*
zsiWeb/app/obj/*
zsiWeb/app/bin/*
zsi.smagerUp/app/bin/*
zsi.smagerUp/app/obj/*
zsi.smagerUp/packages/*
