*.suo
*.pdb
*.db
*.user
createCodeBackup/createCodeBackup/bin/*
createCodeBackup/createCodeBackup/obj/*
createCodeBackup2/createCodeBackup/bin/*
createCodeBackup2/createCodeBackup/obj/*
inventory/Web/inventory/createCodeBackup.exe.config
inventory/createCodeBackup.exe.config
zsiWeb/packages/*
zsiWeb/app/obj/*
zsiWeb/app/bin/*
zsiWeb/.vs/config/applicationhost.config
zsi.smagerUp/app/bin/*
zsi.smagerUp/app/obj/*
zsi.smagerUp/packages/*
pafeis/createCodeBackup.exe.config
pafeis/ace/*
zsi.smagerUp/.vs/config/applicationhost.config
zsi.smagerUp/app/ace/*
zsi.smagerUp/.vs/*
poker/createCodeBackup.exe.config
cts/createCodeBackup.exe.config
cts/dbWebSource/template/tmplmanageStatus.html
cts/dbWebSource/template/tmplManageSubscription.html
