*.suo
*.pdb
*.db
*.user
createCodeBackup/createCodeBackup/bin/*
createCodeBackup/createCodeBackup/obj/*
createCodeBackup2/createCodeBackup/bin/*
createCodeBackup2/createCodeBackup/obj/*
inventory/Web/inventory/createCodeBackup.exe.config
inventory/createCodeBackup.exe.config
zsiWeb/packages/*
zsiWeb/app/obj/*
zsiWeb/app/bin/*
zsiWeb/.vs/*
zsi.smagerUp/app/bin/*
zsi.smagerUp/app/obj/*
zsi.smagerUp/app/ace/*
zsi.smagerUp/packages/*
zsi.smagerUp/.vs/*
zsi.smagerUp/app/amcharts4/*
zsi.smagerUp/app/webfonts/*
zsi.smagerUp/app/dbWebSource/*
pafeis/createCodeBackup.exe.config
pafeis/ace/*
poker/createCodeBackup.exe.config
cts/createCodeBackup.exe.config
cts/dbWebSource/template/tmplmanageStatus.html
cts/dbWebSource/template/tmplManageSubscription.html

/yearbook/HTML5Application/nbproject/private/
/schoolWebsite/schoolWebsite/nbproject/private/
/schoolWebsite/yearbook/nbproject/private/
zsi.smagerUp/app/images/dbimages/*
smartadmin-html-full/package-lock.json
zsiWeb2/.vs/*
zsiWeb2/app/bin/*
zsiWeb2/app/obj/*
zsiWeb2/packages/*
package-lock.json
