@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="page-wrapper">
    <div class="page-inner">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4 bg-brand-red">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center navbar-brand text-white">
                        	<i class="ttool lear-logo"></i>
                        	 Material Database
                        </a>
                    </div>
                    <a href="#" class="btn-link text-white ml-auto">
                        
                    </a>
                </div>
            </div>
            <div class="flex-1" style="background: url(img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row">
                        <div class="col col-md-6 col-lg-7 hidden-sm-down bg-color-red">
                            <h2 class="fs-xxl fw-500 mt-4">
                                The simplest UI toolkit for developers &amp; programmers
                                <small class="h3 fw-300 mt-3 mb-5 opacity-60">
                                    Presenting you with the next level of innovative UX design and engineering. The most modular toolkit available with over 600+ layout permutations. Experience the simplicity of SmartAdmin, everywhere you go!
                                </small>
                            </h2>
                            <a href="#" class="fs-lg fw-500 opacity-70">Learn more &gt;&gt;</a>
                            <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                                <div class="px-0 py-1 mt-5 fs-nano opacity-50">
                                    Find us on social media
                                </div>
                                <div class="d-flex flex-row opacity-70">
                                    <a href="#" class="mr-2 fs-xxl bg-color-red">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                    <a href="#" class="mr-2 fs-xxl bg-color-red">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                    <a href="#" class="mr-2 fs-xxl bg-color-red">
                                        <i class="fab fa-google-plus-square"></i>
                                    </a>
                                    <a href="#" class="mr-2 fs-xxl bg-color-red">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto col-xs-12">
                            <h1 class="bg-color-red fw-300 mb-3 d-sm-block d-md-none">
                                Secure login
                            </h1>
                            <div class="card p-4 rounded-plus bg-brand-dark">
                                <form id="frmLogin" method="post" action='@Url.Content("~/")account/validate'>
                                    <div class="form-group">
                                        <label class="form-label" for="username">Username</label>
                                        <input type="text" name="username" class="form-control form-control-sm" placeholder="username">
                                        <div class="invalid-feedback">No, you missed this one.</div>
                                        <div class="help-block">Your unique username to app</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" name="password" class="form-control form-control-sm input_pass" placeholder="password">
                                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                                        <div class="help-block">Your password</div>
                                    </div>
                                    
                                    <div class="row no-gutters">
                                        
                                        <div class="col-lg-6 pl-lg-1 my-2">
                                            <button id="btnLogIn" type="submit" class="btn btn-lear btn-block btn-md">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
	    var msg = zsi.getUrlParamValue("access");
	    var _username = readCookie("username");

		if(_username){
			if (msg !== "") {
				$("#username").val(_username);
				$("#password").val( readCookie("userpwd"));
				$("#isremember").prop('checked',true);
				$("#frmLogin").submit();
			}
			else
				clearCookies();
		}
		else {
		    if (msg) alert( unescape(msg) + " Please try again.")
        }

        $('.carousel').carousel({
            interval: 6000
        })
    });

$("#frmLogin").submit(function () {

    if ($("#username").val() === "") { alert("Please enter username."); return false; }
    if ($("#password").val() === "") { alert("Please enter password."); return false; }
	checkRememberSignin();
});

$("#btnTest").click(function () {
	checkRememberSignin();
});

function clearCookies(){
	createCookie("username","",0);
	createCookie("userpwd","",0);
	$("#isremember").prop('checked',false);
}

function checkRememberSignin(){
	if ( $("#isremember").is(':checked') ){
			createCookie("username",$("#username").val(),1);
			createCookie("userpwd",$("#password").val(),1);
	}
	else clearCookies();
}

var button = $("#example-one");
button.on("click", function () {

    var x = $(this);
    if (x.text() == x.data("text-swap")) {
        x.text(x.data("text-original"));
    } else {
        x.data("text-original", x.text());
        x.text(x.data("text-swap"));
    }

});

var button = $("#example-two");
button.on("click", function () {

    var x = $(this);
    if (x.text() == x.data("text-swap")) {
        x.text(x.data("text-original"));
    } else {
        x.data("text-original", x.text());
        x.text(x.data("text-swap"));
    }

});

function createCookie(name,value,days) {
    var expires;
    if (days) {
    	var date = new Date();
    	date.setTime(date.getTime()+(days*24*60*60*1000));
    	expires = "; expires="+date.toGMTString();
    }
    else expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}
</script>
