<div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 "> 
    <form method="post" id="frm">
        <div class="zPanel">   
        <table id="grid" class="fullWidth"> 
            <thead>	
                <tr>
                    <th style="width: 25px"></th>
                    <th>Role Name</th>
                    <th>Menu Name</th>
                    <th>New?</th>
                    <th>Write?</th>
                    <th>Delete?</th>
                </tr>
            </thead>	
        <tfoot><tr><td colspan="12">&nbsp;</td></tr></tfoot>
        </table>    
    
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave">
            	<span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <button type="button" onclick="return checkDelete();" class="btn btn-primary btn-sm" id="btnDelete">
            	<span class="glyphicon glyphicon-trash"></span> Delete
            </button>    
        </div>
    
        </div>
    </form>
</div>