<div class="zPanel"> 
    <div class="buttonGroup">
        <h2>Update App Codes</h2>
        <button type="button" class="btn btn-primary btn-sm" onclick="btnUploadRestoreWebCodes();">
        	<span class="glyphicon glyphicon-hdd"></span> Upload
        </button>    

    </div>
</div>

<ul name="localTemplates">
    <li name="tmplUploadFile">
        <div class="form-horizontal">
            <div class="form-group">  
                <label class="col-xs-3  control-label">File</label>
                <div class=" col-xs-3">
                    <input name="file" id="file" type="file" accept='application/zip'  class="browse btn btn-primary" >
                </div>
            </div>
        </div>
    </li>
</ul>