<style type="text/css" media="all">
    .pull-left {
        float: left !important;
    }
</style>

<div class="col-12 zContainer1" style="margin-top:40px;">
    <h5>DETAILS</h5>
    <form>
        <div class="form-group row">
            <label for="po_number" class="col-sm-1 col-form-label">PO Number:</label>
            <div class="col-1">
                <input type="text" class="form-control-plaintext" id="po_number" name="po_number">
            </div>
                <label for="status" class="col-sm-1 col-form-label">Status:</label>
            <div class="col-1">
                <input type="text" class="form-control-plaintext" id="status"  name="status">
            </div>      
            <label for="customer" class="col-sm-1 col-form-label">Customer:</label>
            <div class="col-1">
                <input type=text class="form-control-plaintext" id="customer" name="customer">
            </div>
            <label for="type" class="col-sm-1 col-form-label">Type:</label>
            <div class="col-1">
                <input type="text" class="form-control-plaintext" id="type" name="type">
            </div>
        </div>
    
        <div class="form-group row">
            <label for="program" class="col-sm-1 col-form-label">Program:</label>
            <div class="col-1">
                <input type=text class="form-control-plaintext" id="program" name="program">
            </div>
            <label for="build_phase" class="col-sm-1 col-form-label">Build Phase:</label>
            <div class="col-1">
                <input type=text class="form-control-plaintext" id="build_phase" name="build_phase">
            </div>
            <label for="plant" class="col-sm-1 col-form-label">Plant:</label>
            <div class="col-1">
                <input type=text class="form-control-plaintext" id="plant" name="plant">
            </div>
            <label for="warehouse" class="col-sm-1 col-form-label">Warehouse:</label>
            <div class="col-1">
                <input type=text class="form-control-plaintext" id="warehouse" name="warehouse">
            </div>
        </div>
    </form>
    <div class="buttonGroup pull-left">
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnCancel">
        	<span ></span> Action
        </button>
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnSave">
        	<span ></span> Depending
        </button>        
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnSave">
        	<span ></span> On Status
        </button>        
    </div>    

</div>

<div class="col-12 zPanel" style="margin-top:40px;">
    <h5>PARTS</h5>
    <div class="form-group row">
        <label for="type" class="col-sm-3 col-form-label">TOTAL QTY ORDERED:</label>
        <div class="col-1">
            <input type="text" class="form-control-plaintext" id="type" name="ordered" value="10">
        </div>
        <label for="type" class="col-sm-3 col-form-label">TOTAL QTY RECEIVED:</label>
        <div class="col-1">
            <input type="text" class="form-control-plaintext" id="type" name="received" value="-">
        </div>
    </div>
    <div id="gridNewOrder" class="zGrid"></div>
</div>

<span style="font-weight:bold; margin-left:10px;">ATTACHMENT</span>
<br>
<span style="font-weight:bold; margin-left:20px; color:blue; text-decoration:underline; cursor:pointer;">Browse to upload file</span>
<br>
<br>
<span style="font-weight:bold; margin-left:10px;">ACTIVITIES</span>


