<style>
#employee{
    margin-bottom:10px;
}
#employee .zGridPanel .zHeaders .item .title .text{
    width:100%;
}
</style>
<div class="row">
    <div id="grid" class="zGrid">
    </div>    
</div>
<div class="row">
    <div class="buttonGroup">
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnSave">
        	<span class="fas fa-save"></span> Save
        </button>   
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnDelete">
        	<span class="fas fa-trash-alt"></span> Delete
        </button>
    </div>
</div>