<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ADLocal" value="false" />
    <add key="domain" value="zfleet.local" />
    <add key="ResponseCompression" value="true"/>
    <add key="dbConfig" value="o884qglZkVHtkeuuyOLTRIe6LdNLEisIIK3cI3BVdPMaGCYxkJu57iJNSJ/rvUt2KZuIhjLC12XJKduGBHwnn5w5Sn/RMg48Fd+JsrMIAIiO38VpAMFc5TnWC92Te4DZ"/>  
  </appSettings> 
 <system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
	<directoryBrowse enabled="true" />
	<rewrite>
		<rules>
			<rule name="http to https" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
			</rule>
		</rules>
	</rewrite>		
 </system.webServer>
   <system.web>
	<customErrors mode="Off" />
    <pages validateRequest="false" />
    <sessionState timeout="2880" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" requestPathInvalidCharacters="" />
    
  </system.web>
   
</configuration>