div.zTable {
        overflow : hidden;
    }
    
    .noSelect, div.zTable.noSelect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
    
    div.zTable table {
        border-collapse: collapse;
    }
    
    div.zTable table thead {
        background-color : #1D64B6;
        overflow: hidden;
        display: block;
    }
    
    div.zTable table tbody {
        overflow: auto;
        display: block;
    } 
    
    div.zTable table th
    ,div.zTable table td {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
    }
    
    div.zTable .crPanel {
        position : absolute;   
    }
    
    div.zTable .cr {
        position : absolute;
        cursor : w-resize;
        top : 0;
        width : 2px;
        border : none;
    }
    
    div.zTable .cr.active {
        border-left : 1pt solid;
        border-left-style: dotted;
    }
    
    div.zTable .cr.hidden {
        display : none;
    }
