
body{
	font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
}

/* latin-ext */
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(../fonts/military1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(../fonts/military2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}


#current {
	width:40%;
	
	
}

#future {
	width:40%;
	margin-left:50%;
	margin-top:-40%;
	

}
#currentmethod {
	width:45%;
	
}
#futuremethod {
	width:45%;
	margin-left:50%;
	margin-top:-3.5%;
	

}
#pass {
	padding-left:75px;
}
#request {
	padding-left:60px;

}
.container h2 {
	color:red;
	
}

.about {
	padding-top:10px;
	width:600px;
}

/*.pageHeader{
	  background-color: #3b483c;
    height: 44px;
 }*/
 
 .menu-horizontal {
	background-color:#000;
	height:80px;
	border-bottom:3pt solid #F11716;
	
	
}
 .menu-horizontal ul{
	margin: 0;
    padding: 0;
	display: flex;
	float:left;
 }
 
 .menu-horizontal ul li{
    font-size: 17px;
    padding-left: 35px;
    text-transform: uppercase;
	line-height: 41px;
	
	color: #fff;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    font-size: 10.5pt;
    font-weight: bold;
 }
  .menu-horizontal .link{
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    font-weight: bold;
 }
 
 .ContentTeaser {
	background-color: #e8e8e8;
    min-height: 400px;
    overflow: auto;
    padding: 20px 14px;
}

 .ContentTeaser  img{
    padding-bottom: 10px;
}
.SortingTag {
    background-color: #ea1519;
    color: #fff;
    font-family: Open Sans,sans-serif;
    font-size: 16px !important;
    font-style: normal;
    font-weight: normal !important;
    height: 54px;
    letter-spacing: 0.2em;
    line-height: 22px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	margin-top:10px;
	margin-bottom:10px;
}

.SortTag {
    
    color: #000!important;
    font-family: Open Sans,sans-serif;
    font-size: 16px !important;
    font-style: normal;
    font-weight: normal !important;
    letter-spacing: 0.2em;
    line-height: 22px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
	
}
.SortTagBm {
    
    color: #000!important;
    font-family: Open Sans,sans-serif;
    font-size: 16px !important;
    font-style: normal;
    font-weight: normal !important;
    letter-spacing: 0.2em;
    line-height: 22px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}


.navItem-0 {
    background-image: url("/images/navAboutLear.png");
    background-position: -6px -2px;
    background-repeat: no-repeat;
    padding-right: 25px;
}
.navItem-1 {
    background-image: url("/images/navBM-Study-Contact.png");
    background-position: -6px -2px;
    background-repeat: no-repeat;
    padding-right: 25px;
	
}.navItem-2 {
    background-image: url("/images/navAccessRequest.png");
    background-position: -6px -2px;
    background-repeat: no-repeat;
    padding-right: 25px;
	
}.navItem-3{
    background-image: url("/images/navArrow-Right.png");
    background-position: -6px -2px;
    background-repeat: no-repeat;
    padding-right: 25px;
}


.img-Item{
    background-image: url("/images/bm1.png");
    background-repeat: no-repeat;
    
}

.strong {
    font-weight: bold;
}

a{
  color: #fff;	
}	
a:hover,a:visited{
	color:#fff;
}
h1.SortingTag:hover{
	background-color: #333333;
}

.SortTagBm:hover, .SortTagBm:active {
	text-decoration: underline;
	color:red !important;
	}




.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.pageTitle {
    background-color: #333333;
   /* background-image: linear-gradient(to bottom, #BDBDBD 0px, #BDBDBD 100%);  	*/
    color: white;
    font-size: 11pt;
    height: 27px;
	margin-bottom: 5px;
    margin-left: -10px;
    margin-right: -5px;
    padding-left: 12px;
}

.formTitle {
    background-color: #333333;
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    height: 22px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    padding-top: 1px;
}

.zFormFilter{
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
}

/*menu high-light*/
ul.nav li.zParentHighLight a,ul.nav li.zChildHighLight a{
	color:#fff !important;	
}

ul.nav li.zParentHighLight{
	background-image: linear-gradient(to bottom, #000 0px, #000 100%);
}

ul.nav li.zChildHighLight{
	background-image: linear-gradient(to bottom, #f11716 0px, #a52714 100%);
}

/*zsiTable*/
table.zTable .align-l{ text-align:left;}
table.zTable .align-r{ text-align:right;}
table.zTable .align-c{ text-align:center;}
table.zTable tr.total td {
    background-image:linear-gradient(to bottom, #F11716 0px, #A52714 100%);    
    padding-bottom: 4px;
    padding-top: 4px;
    color:#fff;
    font-weight:bold;
}    
table.zTable tr th{
    vertical-align: inherit;
    background-color:#F11716;    
    background-image:linear-gradient(to bottom, #F11716 0px, #A52714 100%);    
    padding-bottom: 4px;
    padding-top: 4px;
    color: #fff;
 }    
table.zTable tr th, table.zTable tr td { 
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
}

table.zTable{
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    margin-bottom: 15px;
}

@media screen{ 
    table.zTable{ border: 1pt solid #e5e5e5; }
    table.zTable tr th, table.zTable tr td { border-left: 1pt solid #d6d8d8; }
}


table.zTable tr th.title1{
    background-image:linear-gradient(to bottom, #b9313c 0px, #7f142a 100%);   
    color:#fff;
}
table.zTable tr th.title2{
    background-image:linear-gradient(to bottom, #9b072c 0px, #941f31 100%);
    border-top: solid 1pt #B82E38;
    color:#fff;
}

table.zTable tbody tr.even td, table.zTable tbody tr:nth-child(even) td {
      background-color:#E3E4E5 !important;
}
table.zTable tbody tr.odd td, table.zTable tbody tr:nth-child(odd) td {
      background-color:#fff !important;
}

table.zTable tbody tr:hover td {
    background-color:#B8B8B8 !important;

    color:#000;
}
table.zTable > tfoot > tr > td {
	background-image:linear-gradient(to bottom, #BCBCBC 0px, #9C9D9E 100%);	
	background-color:#BCBCBC;
} 
table.zTable tr.extraRow{
	border:solid 1pt #D6D8D8;
	
}        
table.zTable tr.trOpen{
	display:table-row;
}
table.zTable tr.trClose{
	display:none;
}

table.zTable tr.extraRow > td {
    padding-left: 25px !important;
    padding-top: 5px;
}

table.zTable a:hover {
	color:red;
}

table.zTable2 tbody tr.active td, table.zTable tbody tr.active td{
	background-color:red !important;
	color:#fff;
} 
	
table.zTable2 tr th{
    vertical-align: inherit;
    background-color:#F11716;    
    background-image:linear-gradient(to bottom, #F11716 0px, #A52714 100%);    
    padding-bottom: 4px;
    padding-top: 4px;
    color: #fff;
 }    
table.zTable2 tr th, table.zTable2 tr td { 
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
}

table.zTable2{
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    margin-bottom: 15px;
}

table.zTable2 tbody tr.even td, table.zTable2 tbody tr:nth-child(even) td {
      background-color:#E3E4E5;
}
table.zTable tbody tr.odd td, table.zTable2 tbody tr:nth-child(odd) td {
      background-color:#fff;
}

/*
table.zTable2 tbody tr:hover td {
    background-image:linear-gradient(to bottom, #BCBCBC 0px, #9C9D9E 100%);
    background-color:#BCBCBC;
    color:#000;
}*/

table.zTable2 > tfoot > tr > td {
	background-image:linear-gradient(to bottom, #BCBCBC 0px, #9C9D9E 100%);	
	background-color:#BCBCBC;
} 
table.zTable2 tr.extraRow{
	border:solid 1pt #D6D8D8;
	
}        
table.zTable2 tr.trOpen{
	display:table-row;
}
table.zTable2 tr.trClose{
	display:none;
}

table.zTable2 tr.extraRow > td {
    padding-left: 25px !important;
    padding-top: 5px;
}
  
/*end of zsiTable*/

/*start of zTableReport*/
table.zTableReport .align-l{ text-align:left;}
table.zTableReport .align-r{ text-align:right;}
table.zTableReport .align-c{ text-align:center;}
table.zTableReport tr.total td {
    background-image:linear-gradient(to bottom, #BCBCBC 0px, #9C9D9E 100%);	
    padding-bottom: 4px;
    padding-top: 4px;
    color:#000000;
    font-weight:bold;
}    
table.zTableReport tr th{
    vertical-align: inherit;
    background-color:#F11716;    
    background-image:linear-gradient(to bottom, #BCBCBC 0px, #9C9D9E 100%);	
    padding-bottom: 4px;
    padding-top: 4px;
    color: #000000;
 }    
table.zTableReport tr th, table.zTableReport tr td { 
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
}

table.zTableReport{
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.58);
    margin-bottom: 15px;
}

@media screen{ 
    table.zTableReport{ border: 1pt solid #e5e5e5; }
    table.zTableReport tr th, table.zTableReport tr td { border-left: 1pt solid #d6d8d8; }
}


table.zTableReport tr th.title1{
    background-image:linear-gradient(to bottom, #b9313c 0px, #7f142a 100%);   
    color:#fff;
}
table.zTableReport tr th.title2{
    background-image:linear-gradient(to bottom, #9b072c 0px, #941f31 100%);
    border-top: solid 1pt #B82E38;
    color:#fff;
}

table.zTableReport tbody tr.even td {
    background-color:#E3E4E5;
}

table.zTableReport tbody tr.odd td {
    background-color:#fff;
}

table.zTableReport tbody tr:hover td {
    background-image:linear-gradient(to bottom, #BCBCBC 0px, #9C9D9E 100%);
    background-color:#BCBCBC;

    color:#000;
}
table.zTableReport > tfoot > tr > td {

} 
/*end of zTableReport*/

/* sort */
 .zSort {
    float: right;
}

 .zSort a {
    color: #fff;
}
 
.zSort span.sPane{
    float:left;width:13px;line-height:5px;
}  
.arrow-up {
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
}

.arrow-down {
	border-top: 4px solid #fff;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
    display: inline-block;
	width: 0; 
	height: 0; 

}
.zSort > .asc > .sPane, .zSort  > .desc > .sPane{
    line-height:10px
}

/*end of sort*/


.table {
    margin-top: 10px;
}

.modal-body > table.table tbody tr td {
    padding-right:10px;
}

.subTable tbody tr td {
    padding-top: 2px;
}
    
.page {
	padding-bottom:10px;
	color:#fff;
}
.footer {
	padding-top:5px;
    background: #6D6D6D;
	color:#fff;
	margin-bottom:20px;
	padding-top: 12px;
	padding-bottom:2px;

}
.footer  a,.footer  a:active{
	color:#fff;
}
.footer  a:hover{
	color:#7CDCFF;
}

ul
{
    list-style-type: none;
}

.leftnavpanel ul{
  margin-left: 0;
  padding-left: 5px;
}

.leftnavpanel a{
  
  font-size: 11px;
  font-weight: normal;
}
  

#footer{
 margin-top:15px; 
}
#footer a{
 color:#C1E3FF;
}

 
#copyright{
  margin-left:15px;
}

#poweredby{
  margin-right:5px;
}
.btn-info {
background-color: red;
background-image: none;
border-color:red;
}

.btn-default:hover, .btn-default:focus {
    background-color: none;
    background-position: 0 -15px;
	
}
.btn-info:hover, .btn-info:focus {
background-color: #333333;
border-color:#333333;
}

.container {
  /*width: 939px !important;*/
}

.container-full{
  margin: 0 auto;
 padding-top: 15px;
  width: 99%;
}

.welcome-container{
  margin: 0 auto;
  width: 99%;
}

.screen-holder{
  width:661px;
}


#banner{
 background :url("/images/banner.jpg") no-repeat; 
 height:39px;
 background-color:#99B7FD;
}


#parentId{
   position: relative; top: 0px; left: 0px; 
   height: 50px; 
   border: #B5CDE4 1px solid;
}

.head6 { 
    font-family: trebuchet ms, verdana, arial, helvetica; 
    font-size: 100%; 
    padding-bottom: 2px; 
    font-weight: bold; 
    color: #000;
    margin: 0; 
}
/********[left box ]*******************/
.itemLeftBox {    
    margin-top: 10px;
}
.itemLeftBox .panel-body{
    height: 400px;
    overflow:auto;
}
a.itemRemove{
    color: #3071a8;
    float: right;
    font-size: 20pt;
    margin-right: 10px;
    text-decoration: none;
    top: -31px;
}
    
a.itemRemove:hover{
    color:red;
    text-decoration:none;
}    
/***************************/

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.bottomNav{

}

.nav-tabs{
  margin-top: 5px
}

.buttonGroup {
     margin-top: 10px;
    /* margin-right: 20px; */
    padding-left: 144px;
    margin-bottom: 5px;
}
.buttonGroup button {
    margin-right: 4px;
    margin-top: 10px;
}

.pageholder{
  width:97.7%;

}
.pagectrl{
  float: right;
  padding-top: 10px;
}
.pagectrl label{
  margin-left: 5px;
}

.pagestatus{
  float: left;
  font-weight: bold;
  padding-top: 10px;
}

.userControl{
 margin-top: 10px
}
 
.inputDate{
   width:130px;
}
.input-group-btn button{
  margin-top: -3px;
}


.form-group .control-label{
  text-align: right;
}
.form-header {
   margin-bottom:5px;
   margin-top: 5px
}
.form-header .form-group label {
   padding-top: inherit;
}

.yesno-td{
   width: 53px
}

/* m5= minus 5*/
.LeftAdjust-m5{
  margin-left:-5px
}

.LeftAdjust-m4{
  margin-left:-4px
}

.LeftAdjust-m3{
  margin-left:-3px
}
/*modal*/


.modal-body {
    overflow: auto;
	margin-right:15px;
}


/*Tabs*/


.tab-pages div.tab{
  display:none;
  background-color:#fff;
  min-height:200px;
  padding-top:5px;
  padding-left:2px;
  overflow:hidden;
  border-color: transparent #ddd #ddd;
  border-style: solid;
  border-width: 1px;
}

.tab-pages div.active{
  display:block;

}
td #delete-row span{
   margin-top:7px;
}

/*end Tabs */



/*search panel*/
.SearchPanel{

   border: 1pt solid #a6a6a6;
   height: 256px;
   overflow-y: scroll;
   width: 300px;
   position: absolute;
   display:none;
   background:#fff;
}

.SearchPanel table tr.active td{

   background-color:#4285F4;
   color:#fff;
}

.SearchPanel table tr.active td a{

   color:#fff;
}

.SearchPanel table tr:hover td{

   background-color:#94bcff;
}

.SearchPanel tbody tr:nth-child(even) {background: #E3E4E5}
.SearchPanel tbody tr:nth-child(odd) {background: #fff}

/*end of search panel*/


/*gridReport*/

   .fullWidth{
      width:100%;
   }
 
 .gridReport {
      border-collapse: collapse;
      border:1pt;
   }
   
   .gridReport tr th, .gridReport tr td{
      border: solid 1pt #000;      
      padding-left: 5px;
      padding-right: 5px;
   }

   .gridReport tr th{
      font-size:10pt;            
   }
   
   .gridReport tr td{
      font-size:10pt;  
      border: 1px solid #f1171;     
   }
   
/*end of gridReport*/

/* Report */

.reportcriteria{
   font-size:10pt;
   margin-bottom: 3px;
}

.reportTitle{
   font-size: 11pt;
   font-weight: bold;
   margin-bottom: 2px;
   margin-top: 5px;
}
 
.loadingStatus{
   color: red;
   font-size: 10pt;
   font-weight: bold;
   margin: 0 auto 30px;
   width: 220px;   
}

.progressWindow{
   background-color: #fff;
   color: #333;
   font-weight: bold;
   height: 23px;
   top: 55px;
   padding-left: 10px;
   padding-top: 3px;   
   position: absolute;
   width: 200px;
   z-index: 1000;
   display:none;
}

.errorWindow{
   background-color: #fff;
    color: red;
    font-weight: bold;
    padding: 5px 5px 10px 10px;
    position: absolute;
    top: 0;
    width: 315px;
    z-index: 1000;
    border: 1pt solid #3399ff;
    display:none;
}

.alert {
    position: absolute;
    top: 0px;
    display: none;
    z-index: 10000;
}

.loadingImg{
   background :url("/images/loading.gif") no-repeat;
   width:30px;   
   height:19px;   
   float: left;
}

.loadIconR{
   background-image: url("/images/loading.gif") ;
   background-repeat: no-repeat;
   background-size: 17px 15px;
   background-position: right center;   
}


.loadingText{
   float: left;
   margin-left: 5px;   
}

.alignCenter{
   text-align:center;
}

.alignLeft{
   text-align:left;
}
@media print {
	.noprint{
		display:none;
	}
	
    .page, table.zTable{
        border:none;    
    }
   .navbar,.btn,.debugPanel { 
       display: none;     
   }

   table tr th,table tr td{
      border:solid 1px #000;
   }
   
}
/*end of Report*/

#FeaturedLinks, .featuredLinks {
    border: 3px solid #ea1519;
    border-radius: 7px;
    margin: 10px 4px;
    padding: 3px 0;
}
.dfwp-list {
    list-style: outside none none;
	padding-left: 0 !important;
}


.FeaturedContentLink > img {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}
.More > a:link, .More > a:visited, .More > a:hover, .More > a:active{
	background-color: #9c9c9c;
    color: #fff !important;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 0 0 0 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
}
.More > a:link, .More > a:visited, .More > a:hover, .More > a:active{
	background-color: #9c9c9c;
    color: #fff !important;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 0 0 0 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
}

.More > a:hover, 
.More > a:active{
	background-color: #EA1519;
}

.boxPanel{
	border: solid#F11716;
	border-width:3px;
	margin-top:10px;
}
.btnlink ul li> a{
	
    color: #EA1519 !important;
    font-size: 1.5em;
	line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btnlink ul li > a:hover, .btnlink ul li > a:active{
	color: #000;
}






