<style>
    div.font-weight-bold h1{
        font-weight:bold;
    }
    .content-left{background-color:#FFFFE5;
        border-radius:5px;
    }
    ul{    
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        padding:10px 0px 10px 0px;
        /*top left bottom right*/
    } ul ul li{
        padding-inline-start: 40px;
        padding-top:0px;
    }
    .pageTitle{display:none};
  
</style>

<div class="zAboutTTWrapper">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="font-weight-bold">
                <h1>ABOUT</h1><h1>TREND TOOL</h1>
            </div>
            <div class="content-left">
                <ul>
                    <li><i class="fas fa-check"></i> <b><u>Trend Tool</u></b> highlights Electrical & Mechanical Trends  <br>
                                    Key Drivers for each:</li>
                        <ul>
                            <li><i class="fas fa-play"></i> Region</li>
                            <li><i class="fas fa-play"></i> Model Year</li>
                            <li><i class="fas fa-play"></i> OEM</li>
                            <li><i class="fas fa-play"></i> Vehicle Type</li>
                        </ul>
                        
                    <li><i class="fas fa-check"></i> Key Drivers include Criteria which are created from
                        Standards and Specifications</li>
                
                    <li><i class="fas fa-check"></i> Data (Real-time) extracted are within the walls of the existing
                        <b><i>Benchmarking (BM) Database</i></b></li>
                
                    <li><i class="fas fa-check"></i> Trends are presented in graphs</li>
                </ul>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-justify">
            <p><b>TREND TOOL</b> provides a library with data visualization. Data is from benchmarked activities. It is a collection of product and
            architecture features in automotive. Had started from 2015 with various vehicle program platforms and progresses to vehicle
            technologies.</p>

            <p>The analysis from the rigid specification or a criteria can anticipate not only react to a possible extraordinary product.</p>
            
            <p>These can be wires, connectors, terminals, or any element components of wiring harnesses. What had been adapted and evolved
            and what can be created into a comfortable, secure, and connected product can be a positive way in preparing for the future.</p>
            
            <p>It’s not the same approach for automotive engineering as it allows to innovate, optimize, and invent our capabilities and even
            define the future of driving experience.</p>
            
            <p>Possibilities are endless. Our passion drives possibilities. Making our passion endless in striving lower cost, higher quality and
            lighter weight having an efficient, safe and visible product technologies paves the way in achieving greater opportunities.</p>
            
            <p>These Trends are represented in various types of interactive graphs with real-time data extracted from Lear’s existing
            Benchmarking Database. It comes with a selection of Electrical and Mechanical Key Drivers with a number of criteria for each.</p>
            
            <p>In a fast-paced changing world, this is the best time wherein Lear is positioned to be mindful of these necessary information when
            it comes to seeing Best Practices and other strategies from other OEMs, presented through graphs in all these Trends, thereby
            providing avenue for more opportunities in improving our E-Systems-related designs and strategies.   </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img src="/images/trendtool1.png" width="100%" height="100%" alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="font-weight-bold">
                <h1>TREND TOOL INTERFACE</h1>
            </div>
        </div>    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img src="/images/trendtool2.png" width="100%" height="100%" alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="font-weight-bold">
                <h1>FUTURE OF</h1><h1>TREND TOOL</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-justify">
            <p>The Data pattern analysis will have a machine learning and data computing. 
            </p>
            <p>This is <b>Predictive Analysis</b>. It is not only bounded from the walls of benchmark data but 
                will include to calculate the outside real time market available status. Analytics are automated and with less human intervention</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img src="/images/trendtool3.png" width="100%" height="100%" alt="">    
        </div>
    </div>
</div>     
