<form>
    <input name="parent_id"     id="parent_id"  type="hidden"  >
    <input name="image_id"      id="image_id"   type="hidden"  >
    <input name="field_name"    id="field_name" type="hidden"  >
    <input name="sqlCode" id="sqlCode" type="hidden" value="T84"  >
    <div class="input-group mb-2">  
        <label class="col-4  control-label" style="text-align: right;">Filename :</label>
        <div class=" col-4">
            <input name="file" id="file" type="file" accept="image/x-png, image/jpeg"  class="col-12 browse btn btn-primary" >
        </div>
    </div>
</form>