<style>
    .was-validated .custom-select:invalid + .select2 .select2-selection{
    border-color: #f30000!important;
    }
    .was-validated .custom-select:valid + .select2 .select2-selection{
        border-color: #1dc9b7!important;
    }
    *:focus{
      outline:0px;
    }
    .panel-container-grid .panel-content{
        padding: 0 !important;
        margin: 0 -1px;
    }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div role="content" id="tablePSN" >  
                <div class="widget-body"  id="panel-1"> 
                    <form id="formContract" class="needs-validation" novalidate>  
            			<input type="hidden" name="client_contract_id" id="client_contract_id">
                        <div class="row mb-2"> 
                        	<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Client</b></label>  
                                <select class="form-control form-control-sm custom-select select" rows="1" id="client_id" required  name="client_id" autocomplete="off"></select>
                    		</div>
                        	<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Contract No.</b></label>  
                                <input type="text" class="form-control form-control-sm pl-2" id="contract_no" required  name="contract_no" autocomplete="off"/> 
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Contract Date</b></label>  
                                <input type="text" class="form-control form-control-sm pl-2" id="contract_date" required  name="contract_date" autocomplete="off"/> 
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Contract Term</b></label>  
                                <input type="number" class="form-control form-control-sm pl-2" id="contract_term_id" required  name="contract_term_id" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Activation Date</b></label>  
                                <input type="text" class="form-control form-control-sm pl-2" id="activation_date" required  name="activation_date" autocomplete="off"/> 
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Expiry Date</b></label>  
                                <input type="text" class="form-control form-control-sm pl-2" id="expiry_date" required  name="expiry_date" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Plan</b></label>  
                                <select type="number" class="form-control form-control-sm pl-2" id="plan_id" required  name="plan_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Plan Quantity</b></label>  
                                <input type="number" class="form-control form-control-sm pl-2" id="plan_qty" required  name="plan_qty" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Device Model</b></label>  
                                <select class="form-control form-control-sm custom-select select" id="device_model_id" required  name="device_model_id"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Device Subscriptions Qty</b></label>  
                                <input type="number" class="form-control form-control-sm pl-2" id="device_qty" required  name="device_qty" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Device Term</b></label>  
                                <input type="number" class="form-control form-control-sm pl-2" id="device_term_id" required  name="device_term_id" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Unit Monthly</b></label>  
                                <input type="number" class="form-control form-control-sm pl-2" id="unit_assignment_type_id" name="unit_assignment_type_id" required autocomplete="off"/>
                    		</div>
                    	</div>
                        <div class="row">
                            <div class="col-12 col-sm-12">   
                                <div class="panel mb-2">
                                    <div class="panel-hdr">
                                        <h2>
                                            Subscription <span class="fw-300"><i>List</i></span>
                                        </h2>
                                        <div class="panel-toolbar">
                                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                        </div>
                                    </div>
                                    <div class="panel-container show panel-container-grid">
                                        <div class="panel-content">
                                            <div class="row" id="divReplacementParts">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                                    <div class="zGrid" id="gridContracts"></div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                                                    <div class="button-group"> 
                                                        <button id="submit" type="submit" class="btn btn-primary btn-sm waves-effect waves-themed savingBtn" title="Save">
                                                            <i class="far fa-save"></i> Save
                                                        </button>
                                                        <button id="btnSaveContracts" type="button" class="btn btn-primary btn-sm hide" title="Save">
                                                            <i class="far fa-save"></i> Save
                                                        </button>
                                                        <button type="button" class="btn btn-primary btn-sm" id="btnInactive" data-toggle="tooltip" title="Inactive">
                                                        	  <i class="fas fa-ban"></i> Inactive
                                                        </button>
                                                        <button id="btnResetVal" class="btn-sm btn btn-primary text-white hvr-icon-spin" type="button" title="Reset">
                                                           <i class="far fa-refresh hvr-icon"></i> Reset
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>     
        </div>
    </div>
</div> 
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body panel" style="margin-bottom:0">
                <p id="msg">Are you sure you want to save this data?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary btn-sm">Yes</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>