<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div role="content" id="tablePSN" >  
                <div class="widget-body"  id="panel-1"> 
                    <form id="formAccident" class="needs-validation" novalidate>  
            			<input type="hidden" name="accident_id" id="accident_id">
                        <div class="row mb-2"> 
                        	<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Accident Date</b></label>  
                                <input type="text" class="form-control form-control-sm pl-2" id="accident_date" required  name="accident_date" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Vehicle</b></label>
                                <select type="text" class="form-control form-control-sm custom-select select" id="vehicle_id" required  name="vehicle_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Driver</b></label>
                                <select type="text" class="form-control form-control-sm custom-select select" id="driver_id" required  name="driver_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>PAO</b></label>
                                <select type="text" class="form-control form-control-sm custom-select select" id="pao_id" required  name="pao_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Accident Type</b></label>
                                <select type="text" class="form-control form-control-sm custom-select select" id="accident_type_id" required  name="accident_type_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Accident Level</b></label>
                    		    <input type="text" class="form-control form-control-sm pl-2" id="accident_level" required  name="accident_level" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Error Type</b></label>
                                <select type="text" class="form-control form-control-sm custom-select select" id="error_type_id" required  name="error_type_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-4 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Comment</b></label>
                                <textarea type="text" class="form-control form-control-sm pl-2" id="comments" required  name="comments" autocomplete="off"></textarea>
                    		</div>
                    	</div>
                    	<div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                                <button id="submit" type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" title="Save">
                                    <i class="far fa-save"></i> Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>     
        </div>
    </div>
</div> 
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body panel" style="margin-bottom:0">
                <p id="msg">Are you sure you want to save this data?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveAccident" class="btn btn-primary btn-sm hvr-sweep-to-left">Yes</button>
                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>