<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="row">
                <div class="col-12 col-xl-7 col-md-5 col-sm-5">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-asset-type" role="tab" aria-controls="nav-asset-type"> Asset Type </a>
                        <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-assets" role="tab" aria-controls="nav-assets"> Assets </a>
                      </div>
                    </nav>
                </div>
                <div id="dummyDiv" class="col-sm-3 col-md-3 col-xl-2"></div>
                <div id="assetDiv" class="col-sm-3 col-md-3 col-xl-2 col-12 mt-1 hide"> 
                    <div class="input-group" style="flex-wrap: inherit !important;">
                        <select class="form-control form-control-sm filter-oem" name="assetId" id="assetId"></select>
                        <div class="input-group-append">
                            <button id="btnFilterAsset" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="filter"><i class="fas fa-filter"></i></button>
                        </div> 
                    </div>
                </div>
                <div class="col-md-4 col-xl-3 col-sm-4 col-12 mt-1">
                    <div class="input-group" id="searchGroup">
                        <input type="text" class="form-control form-control-sm desc-prop-group pl-2" id="searchVal" name="searchVal" autocomplete="off" placeholder="Search.....">
                        <div class="input-group-append">
                            <button id="btnSearchVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Search">
                               <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="input-group-append ml-1">
                            <button id="btnResetVal" class="btn-sm btn btn-primary btn-outline-default text-white hvr-icon-spin" type="button" title="Reset">
                               <i class="far fa-refresh hvr-icon"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
           </div>   
            <div class="tab-content" id="nav-tabContent">
                <div role="tabpanel" class="tab-pane fade show active" id="nav-asset-type">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridAssetType" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveAssetType">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnDeleteAssetType">
                                    	<i class="fas fa-trash-alt"></i> Delete
                                    </button>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-assets">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridAssets" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveAssets">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                     <button type="button" class="btn btn-primary btn-sm" id="btnInactive" data-toggle="tooltip" title="Inactive">
                                    	  <i class="fas fa-ban"></i> Inactive
                                    </button>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal" id="modalInactive" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="frm_modalInactive">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridInactiveAssets" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactive" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteAssets" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>