<style>
   .fa-sign-out-alt, .count{
       color: #fff;
   }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="gridCheckList" class="zGrid mb-1"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                    <div class="button-group">     
                        <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                            <i class="far fa-save"></i> Save
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="btnDelete" data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>