<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                        <div id="grid" class="zGrid mb-1"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">  
                        <div class="button-group"> 
                            <button type="button" class="btn-sm btn btn-primary " id="btnSave">
                                <i class="far fa-save"></i> Save
                            </button>
                            <button type="button" onclick="return checkDelete();" class="btn-sm btn btn-primary" id="btnDelete">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul name="localTemplates">
    <li name="modalBodyRoleMenus">
        <div class="row">
            <div class="col-12">     
                <div id="{{grid}}" class="zGrid"> </div>
            </div>
        </div>
        <div class="col-12">
                <button type="button" id="btnSave1" onclick="roles.{{onClickSaveRoleMenus}}" class="btn-sm btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                <!--<button type="button" onclick="roles.deleteDataRoleMenus();" class="btn-sm btn btn-primary m-1"><i class="far fa-trash"></i> Delete</button>-->
        </div>
    </li>
    <li name="modalBodyUsers">
        <div class="row">
            <div class="col-12">  
                <div id="{{grid}}" class="zGrid"> </div>
            </div>
        </div>
        <div class="col-12">
            <button type="button" id="btnSave1" onclick="roles.{{onClickSaveUser}}" class="btn-sm btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
            <!--<button type="button" onclick="roles.deleteDataUsers();" class="btn-sm btn btn-primary m-1"><i class="far fa-trash"></i> Delete</button>-->
        </div>
    </li>
</ul>