<style>
    .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    box-sizing: border-box;
}
</style>

<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div role="content" id="tablePSN">  
                <div class="widget-body"  id="panel-1"> 
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-xl-12"> 
                                        <div id="gridVehicleRenewal" class="zGrid"></div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                                        <button type="button" id="submit" class="btn btn-primary btn-sm hvr-sweep-to-left"><i class="far fa-save"></i> Save</button>
                                        <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" id="delete" data-toggle="tooltip" title="Delete">
                                        	<i class="fas fa-trash-alt"></i> Delete
                                        </button>   
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </div>  
            </div>     
        </div>
    </div>
</div>  