<style>
    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
        box-sizing: border-box;
    }
    .panel-container-grid{
        min-height: 200px !important;
    }
    .panel-container-grid .panel-content{
        padding: 0 !important;
        margin: 0 -1px;
    }
    .zRow.zTotal {
        position: absolute;
        left: 0;
        right: 0; 
    }
     
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div role="content">  
                <div class="widget-body"  id="panel-1"> 
                    <form id="formVehicleRepair" class="needs-validation" novalidate>  
            			<input type="hidden" name="repair_id" id="repair_id">
            			<input type="hidden" name="total_repair_amount" id="total_repair_amount">
                        <div class="row mb-2" id="divVehicleRepair"> 
                        	<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Repair Date</b><span class="text-danger">*</span></label>  
                                <input type="text" class="form-control form-control-sm pl-2" id="repair_date" required  name="repair_date" autocomplete="off"/>
                                <input type="hidden" id="pms_type_id" name="pms_type_id"/>
                    		</div> 
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Vehicle</b><span class="text-danger">*</span></label>
                                <select class="form-control form-control-sm custom-select select" id="vehicle_id" required  name="vehicle_id" autocomplete="off"></select>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>ODO Reading</b><span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm pl-2" id="odo_reading" required  name="odo_reading" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Repair Amount</b></label>
                                <input type="text" class="form-control form-control-sm pl-2" id="repair_amount" name="" autocomplete="off"/>
                    		</div>
                    		<div class="col-sm-6 col-md-6 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Repair Location</b></label>  
                                <textarea type="text" class="form-control form-control-sm pl-2" id="repair_location" name="repair_location" autocomplete="off"></textarea>
                                <small>Building No, Street, Barangay</small>
                    		</div>
                    		<div class="col-sm-6 col-md-6 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Comment</b></label>  
                                <textarea type="text" class="form-control form-control-sm pl-2" id="comment" name="comment" autocomplete="off"></textarea>
                        	</div>
                        	<div class="col-sm-6 col-md-3 col-xs-12">
                    		    <label for="" class="col-form-label control-label"><b>Service Amount</b></label>
                    		    <input type="text" class="form-control form-control-sm pl-2" id="service_amount" name="service_amount" autocomplete="off"/>
                    		</div>
                        	<div class="col-sm-6 col-md-3 col-xs-12 hide">
                    		    <label for="" class="col-form-label control-label"><b>Status</b></label>
                    		    <select class="form-control form-control-sm pl-2" id="status_id" name="status_id" autocomplete="off"></select>
                    		</div>
                    	</div>
                    </form>
                    <div class="row">
                            <div class="col-12 col-sm-12">   
                                <div class="panel mb-1">
                                    <div class="panel-hdr">
                                        <h2>
                                            Replacement <span class="fw-300"><i>Parts</i></span>
                                        </h2>
                                        <div class="panel-toolbar">
                                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                            <!--<button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>-->
                                            <!--<button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>-->
                                        </div>
                                    </div>
                                    <div class="panel-container show panel-container-grid">
                                        <div class="panel-content">
                                            <div class="row" id="divReplacementParts">
                                                <div class="col-12 col-sm-12 col-md-12 col-xl-12"> 
                                                    <div id="gridReplacementParts" class="zGrid"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-12 col-sm-12">   
                                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left hide" title="Save" id="btnNew">
                                    <i class="far fa-plus"></i> New
                                </button>
                                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" title="Save" id="btnSave">
                                    <i class="far fa-save"></i> Save
                                </button>
                                <!--<button id="submit" type="submit" class="btn btn-primary btn-sm waves-effect waves-themed" title="Save">-->
                                <!--    <i class="far fa-save"></i> Save-->
                                <!--</button>-->
                            </div>
                        </div> 
                </div>  
            </div>     
        </div>
    </div>
</div>  
 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body panel" style="margin-bottom:0">
                <p id="msg">Are you sure you want to save this data?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveRepair" class="btn btn-primary btn-sm hvr-sweep-to-left">Yes</button>
                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>