<link href="/content/bootstrap-datepicker.min.css" rel="stylesheet">
<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid{
        width: 100%;
    }
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .tablePanel {
        overflow-y:auto;
    }
    .modal-lg {   
        width: 90% !important;
    }
    .modalGrid{
        margin-top: 40px;
    }
</style>

<div>    
    <form method="post" id="frm">
        <div class="zPanel">
            <div id="grid" class="zGrid"></div>
            <div class="buttonGroup">
                <button type="button" class="btn btn-primary btn-sm" id="btnNew">
                	<span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
                	<span class="glyphicon glyphicon-trash"></span> Delete
                </button>    
            </div>
        </div>
    </form>
</div>

<ul id="localTemplates">
    <li name="newEntryTemplate" >
            <div id="tblAdjustment" class="form-horizontal zContainer1" style="padding:5px">
                <div class="form-group"> 
                    <label class=" col-xs-3 col-sm-2 col-md-2 col-lg-2 control-label">Adjustment No.</label>
                    <div class=" col-xs-9 col-sm-2 col-md-2 col-lg-2">
                         <input type="hidden" name="adjustment_id" id="adjustment_id">
                         <input type="hidden" name="is_edited" id="is_edited">
                         <input type="text" name="adjustment_no" id="adjustment_no" class="form-control input-sm" disabled>
                    </div> 
                    <label class=" col-xs-3 col-sm-3 col-md-3 col-lg-2 control-label">Adjustment Date</label>
                    <div class=" col-xs-9 col-sm-2 col-md-2 col-lg-2">
                         <input type="text" name="adjustment_date" id="adjustment_date" class="form-control input-sm">
                         <input type="hidden" name="warehouse_id" id="warehouse_id">
                    </div>  
                    <label class="col-xs-3 col-sm-1 col-md-1 col-lg-2 control-label">By</label>
                    <div class="col-xs-9 col-sm-2 col-md-2 col-lg-2">
                      <select name="adjustment_by" id="adjustment_by" class="form-control input-sm"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" col-xs-3 col-sm-2 col-md-2 col-lg-2 control-label">Status</label>
                    <div class=" col-xs-10 col-sm-2 col-md-2 col-lg-2">
                      <label class=" col-xs-1 control-label" name="status_name" id="status_name">&nbsp;</label> 
                      <input type="hidden" name="status_id" id="status_id"> 
                    </div>
                    <label class=" col-xs-3 col-sm-3 col-md-3 col-lg-2 control-label">Remarks</label>
                    <div class=" col-xs-9 col-sm-5 col-md-5 col-lg-6">
                      <textarea rows="3" me="adjustment_remarks" id="adjustment_remarks" class="form-control input-sm"></textarea>
                      <input type="hidden" name="page_process_action_id" id="page_process_action_id"> 
                    </div>
                </div>
            </div>
            <div class="modalGrid zContainer1"><div class="zHeaderTitle1"><label> Adjustment Details </label></div><div id="{{gridId}}" class="zGrid Detail"></div></div>
    </li>
        
</ul>

<script type="text/javascript" src="/scripts/bootstrap-datepicker.min.js"></script>