<style>
  
    
</style>

<div class="col-xs-12 col-sm-4 col-md-5 col-lg-12">
        <div class="zPanel">
            
            <div id="grid" class="zGrid"></div>    
           
            <div class="buttonGroup">
                <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
             <button type="button" class="btn btn-primary btn-sm" id="btnInactive">
            	<span class="glyphicon glyphicon-ban-circle"></span> Inactive
            </button>
            </div>                
        </div>
</div>
   
<script src="/Scripts/handlebars-v3.0.0.js"></script>