<style>
    .nav-tabs a{
        outline: none;
    }
    .tab-pane{
        background-color: #fff;
        min-height: 400px;
        padding: 10px 5px;
        margin-bottom:10px;
        overflow: auto;
    }
    .zExtraRow{
        margin-left:26px;
        background-color:#c4defc;
        display:none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .zGrid a{
        color:#3577C3;
        margin-left:4px;
    }

    #grid{
        width: 100%;
    }
    .remaining{
        color: red;
        font-weight: bold;
    }
    .zGrid .item .title {
        height: 40px;
        position: relative;
    }
    .zGrid .item .title span{
        widtH: 100%;
    }
    #colspan {
        position: relative;
        top: -2px;
        width: 239px;
        background: #4a86ce;
        text-align:center;
    }
    span.text-left{
        text-align: left !important;
    }
    .pageTitle{
        min-height: 27px;
        height: inherit;
    }
    .pageTitle:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
    <div class="zPanel"> 
        <label class="col-xs-4 col-sm-1 col-md-1 control-label text-right">Show Option:</label>
        <div class="col-xs-8 col-sm-2"> 
            <select name="option_id" id="option_id" class="form-control input-sm"> </select>
        </div>
        <label class="col-xs-4 col-sm-1 control-label text-right">Column:</label>
        <div class="col-xs-8 col-sm-2"> 
            <select name="column" id="column" class="form-control input-sm">
                <option value=""></option>
                <option value="part_no">Part No.</option>
                <option value="national_stock_no">National Stock No.</option>
                <option value="item_name">Nomenclature Name</option>
            </select>
        </div>
        <label class="col-xs-4 col-sm-1 control-label text-right">Keyword:</label>
        <div class="col-xs-8 col-sm-2"> 
            <input type="text" name="keyword" id="keyword" class="form-control input-sm">
        </div>
        <div class="col-xs-4 col-sm-2">
            <button type="button" class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
            <button type="button" class="btn btn-primary btn-sm" id="btnClear">clear</button>
        </div>
    </div>
<div id="tabWrapper"></div>