<style>
    .nav-tabs a{
        outline: none;
    }
    .tab-pane{
        background-color: #fff;
        min-height: 500px;
        padding: 10px 5px;
        margin-bottom:10px;
        overflow: auto;
    }
    .zExtraRow{
        margin-left:26px;
        background-color:#c4defc;
        display:none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .zGrid a{
        color:#3577C3;
        margin-left:4px;
    }

    #grid{
        width: 100%;
    }
    .remaining{
        color: red;
    }
    .zGrid .item .title {
        height: 40px;
        line-height: 19px;
        position: relative;
    }
    .zGrid .item .title span{
        widtH: 100%;
    }
    #colspan {
        position: relative;
        top: -2px;
        width: 239px;
        background: #4a86ce;
        text-align:center;
    }
    span.text-left{
        text-align: left !important;
    }
    #tabWrapper{
        float:left;
    }
    .pageTitle{
        min-height: 27px;
        height: inherit;
    }
    .pageTitle:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

 <!--<div class="col-xs-12 zPanel"> 
    <label class=" col-xs-1 control-label">Aircraft For :</label>
    <div class=" col-xs-2"> 
        <select name="dd_squadron" id="dd_squadron" class="form-control input-sm"> </select>
    </div>
   <div class="col-xs-1">
        <button type="button"  class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
    </div>
</div>-->

<div id="tabWrapper"></div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>