<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 35px;
        line-height: 19px;

    }
    .pull-right {
        float: right !important;
        margin-right: 50px;
    }
    .upload {
        margin-left: 77px !important;
        margin-top: 33px;
    }
</style>
<script src='/javascript/name/zsiSearch'></script>
<div class="zPanel">
    <div id="grid" class="zGrid"></div>
    <form enctype="multipart/form-data" id="frmUploadFile">
        <div class="form-horizontal">
            <div class="form-group">  
                <div class="buttonGroup">
                    
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                        	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
                        	<span class="glyphicon glyphicon-trash"></span> Delete
                        </button>    
                    </div>    
                    
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <div class="pull-right">
                            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-10">
                                <input id="tmpData" name="tmpData" type="hidden" value="temp_aircraft_type_nomenclatures,sheet1$A2:D,AircraftType" class="form-control input-sm"> 
                                <label class="col-xs-4 col-sm-3 col-md-3 col-lg-3 control-label">Select File</label>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4">
                                    <input type="file" class="browse btn btn-primary" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file">
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <button type="button" onclick="excelFileUpload();" class="btn btn-primary" id="btnUploadFile" style="margin-left: 5px">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>