<div class="zPanel">
    <form method="post" id="frmProject">
                <div class="row" style="height:300px;padding-right:5px">
                    <div class="col-xs-12" style="background-color:#fff;height:inherit;padding-top:5px;"> 
                        <div class="form-horizontal" style="padding:5px">
                            <input type="hidden" name="project_id" id="project_id" >
                            <div class="col-xs-12 ">
                                <div class="form-group  ">  
                                    <label class=" col-xs-2 control-label">App Title</label>
                                    <div class=" col-xs-3">
                                         <input type="text" name="app_title" id="app_title" class="form-control input-sm" >
                                    </div>  
                                    
                                    <label class=" col-xs-2 control-label">Date Format</label>
                                    <div class=" col-xs-3">
                                       <input type="text" name="d_format" id="d_format" class="form-control input-sm">
                                     </div>
                                </div>  
                    
                                <div class="form-group  ">  
                                    <label class=" col-xs-2 control-label">Bg Img Path Name</label>
                                    <div class=" col-xs-3">
                                        <input type="text" name="bg_img_path_name" id="bg_img_path_name" class="form-control input-sm" >
                                    </div>  
                                    
                                    <label class=" col-xs-2 control-label">Excel Conn Str</label>
                                    <div class=" col-xs-3">
                                         <input type="text" name="excel_conn_str" id="excel_conn_str" class="form-control input-sm">
                    
                                    </div>
                                </div>  
                    
                                <div class="form-group  ">  
                                    <label class=" col-xs-2 control-label">Excel Folder</label>
                                    <div class=" col-xs-3">
                                         <input type="text" name="excel_folder" id="excel_folder" class="form-control input-sm" >
                                    </div>  
                                    
                                    <label class=" col-xs-2 control-label">Image Folder</label>
                                    <div class=" col-xs-3">
                                        <input type="text" name="image_folder" id="image_folder" class="form-control input-sm">
                                    </div>
                    
                                </div>  
                    
                                <div class="form-group  ">  
               
                    
                                    <label class=" col-xs-2 control-label">Default Page</label>
                                    <div class=" col-xs-3">
                                        <input name="default_page" id="default_page" class="form-control input-sm" >
                                            
                                   </div>  
                                    <label class=" col-xs-2 control-label">Network Group Folder</label>
                                    <div class=" col-xs-3">
                                        <input name="network_group_folder" id="network_group_folder" class="form-control input-sm" >
                                            
                                   </div>                                     
                    
                                </div>            

                                <div class="form-group  ">  
               
                    
                                    <label class=" col-xs-2 control-label">Theme</label>
                                    <div class=" col-xs-3">
                                        <select name="theme_id" id="theme_id" class="form-control input-sm"> </select>
                                   </div>  

                                </div>    

                        
                               
                                <div class="form-group  ">  
                                    <label class=" col-xs-2 control-label">&nbsp;</label>
                                    <div class=" col-xs-9" style="margin-top:10px;">
                                        <button type="button" class="btn btn-primary btn-sm" id="btnSave"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                                    </div>
                                </div>                             
                            </div>
                        </div>
                    </div>    
                </div>
            </form> 
</div>