<script src='/javascript/name/zsiSearch'></script>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zForm">  
    <div class="row ">
        <div class="form-horizontal">   
            <div class="col-xs-12 col-sm-12">
                <div class="form-group ">
                    <div class=" col-xs-2"> 
                  <input name="component_item_filter_name" id="component_item_filter_name" type="hidden" class="form-control input-sm">
                        <input name="component_item_filter_id" id="component_item_filter_id" placeholder="Search" class="form-control input-sm">
                    </div>
                     <div class="col-xs-1">
                        <button type="button"  class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
                    </div>
                </div>
            </div>    
        </div>
    </div>    

    <form method="post" id="frm">
        <div id="grid" class="zGrid"></div> 
    </form>
</div>
<script src="/Scripts/handlebars-v3.0.0.js"></script>