<script src="/Scripts/jspdf.min.js"></script>
<script src='/javascript/name/zsiPdf'></script>
<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
    .zButtons button{
         margin-right:6px;
    }   
    
    #btnPdf{
        display : none;
    }
    
    #ifrmWindow{
        width:100%;
        height:600px;
        border:solid 0pt #000;
        margin-top:10px;
    }   

</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <form method="post" id="frm">
        <div class="zPanel">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class=" col-xs-2"> 
                        <input name="componentRemainingTimeReport_filter" id="componentRemainingTimeReport_filter" placeholder="Search" class="form-control input-sm">
                    </div>
                    <div class="zButtons" >
                        <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnGo"><span class="glyphicon glyphicon-filter"></span> Display Report</button>
                        <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnPdf"><span class="glyphicon glyphicon-file"> </span> Show PDF</button>
                    </div>
                </div>
            </div>
            <div id="grid" class="zGrid"></div>
        </div>
    </form>
</div>
<script src="/Scripts/handlebars-v3.0.0.js"></script>