<script src="/Scripts/jspdf.min.js"></script>
<script src='/javascript/name/zsiPdf'></script>
<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
    .zButtons button{
         margin-right:6px;
    }  
     #btnPdf{
        display : none;
    }
    
    #ifrmWindow{
        width:100%;
        height:600px;
        border:solid 0pt #000;
        margin-top:10px;
    }
    

</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="zPanel">
    <form method="post" id="frm">
        
             <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Warehouse</label>
                    <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2"> 
                        <select name="warehouse_filter" id="warehouse_filter" placeholder="Search" class="form-control input-sm"> </select>
                    </div>
                    <label class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Categories</label>
                    <div class="col-xs-8 col-sm-2 col-md-2 co2-lg-2"> 
                        <select name="categories_filter" id="categories_filter" placeholder="Search" class="form-control input-sm"> </select>
                    </div>
                    
                    <label class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">&nbsp;</label>
                    <div class="zButtons">
                        <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnGo"><span class="glyphicon glyphicon-filter"></span> Display Report</button>
                        <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnPdf"><span class="glyphicon glyphicon-file"> </span> Show PDF</button>
                    </div>
                    
                </div>
            </div>
            <div id="grid" class="zGrid"></div>
        
    </form>
</div>