<style>
    .nav-tabs a{
        outline: none;
    }
    .tab-pane{
        background-color: #fff;
        min-height: 500px;
        padding: 10px 5px 0px 5px;
        margin-bottom:10px;
        overflow: auto;
    }

    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    
    
</style>
    <div class="col-xs-12 zPanel"> 
        <label class=" col-xs-1 control-label">Show Option:</label>
        <div class=" col-xs-2"> 
            <select name="option_id" id="option_id" class="form-control input-sm"> </select>
        </div>
        <label class=" col-xs-1 control-label text-right">Column:</label>
        <div class=" col-xs-2"> 
            <select name="column" id="column" class="form-control input-sm">
                <option value=""></option>
                <option value="part_no">Part No.</option>
                <option value="national_stock_no">National Stock No.</option>
                <option value="item_name">Nomenclature Name</option>
            </select>
        </div>
        <label class=" col-xs-1 control-label text-right">Keyword:</label>
        <div class=" col-xs-2"> 
            <input type="text" name="keyword" id="keyword" class="form-control input-sm">
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
            <button type="button" class="btn btn-primary btn-sm" id="btnClear">clear</button>
        </div>
    </div>
<!--
<ul class="nav nav-tabs">
  <li ><a href="#assembly" data-toggle="tab" id="assembly-tab">Assembly</a></li>
  <li ><a href="#tool" data-toggle="tab" id="tool-tab">Transfer Delivery</a></li>
  <li ><a href="#supply" data-toggle="tab" id="supply-tab">Return Delivery</a></li>
  <li ><a href="#equipment" data-toggle="tab" id="equipment-tab">Transfer Delivery</a></li>
  <li ><a href="#components" data-toggle="tab" id="components-tab">Return Delivery</a></li>

</ul>

<div id="tabPanel" class="tab-pages">
    <div id="tabSupplierDelivery" class="tabPane">
        <form method="post" id="frmSD">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="suppDelivery" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="sdBtnNew">
                    	<span class="glyphicon glyphicon-floppy-disk"></span> New
                    </button>
                </div>
            </div>
        </form>
    </div>        
    <div id="tabTransferDelivery" class="tabPane">
        <form method="post" id="frmTD">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="transDelivery" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="tdBtnNew">
                    	<span class="glyphicon glyphicon-floppy-disk"></span> New
                    </button>
                </div>
            </div>
        </form>
    </div>        
    <div id="tabReturnDelivery"   class="tabPane">
        <form method="post" id="frmRD">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="retDelivery" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="rdBtnNew">
                    	<span class="glyphicon glyphicon-floppy-disk"></span> New
                    </button>
                </div>
            </div>
        </form>
    </div>        
</div>
-->
<div id="tabWrapper"></div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>