<script src='/javascript/name/zsiSearch'></script>
<link href="/content/jquery.datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="/scripts/jquery.datetimepicker.full.min.js"></script>

<style>
    #tabPanel > div{
        
        display:none;
    } 
    
    #tabPanel > div.active{
        display:block;
    }
    .tabPane{
        background-color: #fff;
        min-height: 500px;
        padding: 10px 5px;
        margin-bottom:10px;
        overflow: auto;
    }

    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
   

</style>

<script src='/javascript/name/zsiSearch'></script>
<div>    
    <form method="post" id="frm">
        <div class="zPanel">
            <div id="grid" class="zGrid"></div>
            
    
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnNew">
            	<span class="glyphicon glyphicon-plus"></span> Add
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
            	<span class="glyphicon glyphicon-trash"></span> Delete
            </button>    
        </div>
    </div>
</form>
</div>



