<script src='/javascript/name/zsiSearch'></script>
<link href="/content/bootstrap-datetimepicker.min.css" rel="stylesheet">
<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
   
   .bootstrap-datetimepicker-widget{
       position:absolute !important;
   }

</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 col-sm-4 col-md-5 col-lg-12">    
    <form method="post" id="frm">
        <div class="zPanel">
            <div id="grid" class="zGrid"></div>
            
    
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnNew">
            	<span class="glyphicon glyphicon-plus"></span> New
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
            	<span class="glyphicon glyphicon-trash"></span> Delete
            </button>    
        </div>
    </div>
</form>
</div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>
<script type="text/javascript" src="/scripts/moment.js"></script> 
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script> 
