<link href="/content/bootstrap-datepicker.min.css" rel="stylesheet">
<script src="/Scripts/jspdf.min.js"></script>
<script src="/Scripts/jspdf.plugin.autotable.js"></script>
<script src='/javascript/name/zsiPdf'></script>
<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 35px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
    .zButtons button{
         margin-right:6px;
    }   
    
    #btnPdf{
        display : none;
    }
    
    #ifrmWindow{
        width:100%;
        height:600px;
        border:solid 0pt #000;
        margin-top:10px;
    }
    #title5,
    #title6,
    #title10,
    #title11,
    #title13,
    #title16,
    #title17,
    #title19,
    #title20{
        border-bottom: 1px solid;
    }
    .zGridPanel.right .item .item:last-child {
        margin-left: -1px;
    }
    /* Fix for Chrome Only 29+ */
    @media screen and (-webkit-min-device-pixel-ratio:0)
      and (min-resolution:.001dpcm) {
        .zGridPanel.right .item .item:last-child {
            margin-left: -1.32px;
        }
    }
    
    .zGridPanel.right .item:nth-last-child(2) .item:last-child > .title{
        text-align: center !important;
    }
    _:-ms-fullscreen, :root .zGridPanel.right .item .item:last-child {  /* IE 11 above*/
        margin-left: -1pt !important; 
    }
    #outputPane {
        overflow:auto;
    }
    #outputPane .gridBox{
        width:2000px;
        background-color:#fff;
    }
    #outputPane .table{
        margin: 0;
    }
</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 col-sm-4 col-md-5 col-lg-12 zPanel">
    <div style="min-height:20px;margin-top:10px">
        <form method="post" id="frm">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class=" col-xs-1 control-label" >Organization</label>
                        <div class=" col-xs-2"> 
                            <select name="aircraft_organization_filter" id="aircraft_organization_filter" class="form-control input-sm"> </select>
                        </div>
                        <label class=" col-xs-3 control-label" >Flight Schedule Date (From / To)</label>
                        <div class="col-xs-1" >   
                           <input name="date_from" id="date_from" class="form-control input-sm"> 
                        </div>
                        <div class="col-xs-1" >   
                            <input name="date_to" id="date_to" class="form-control input-sm"> 
                        </div>
                        <div class="zButtons" >
                            <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnGo"><span class="glyphicon glyphicon-filter"></span> Display Report</button>
                            <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnPdf"><span class="glyphicon glyphicon-file"> </span> Show PDF</button>
                        </div>
     
                    </div>
                </div>
                <!--<div id="grid" class="zGrid"></div>-->
        </form>
    </div>
</div>

<div id="outputPane" class="zPanel hide">
    <div class="gridBox table-responsive">
        <table id="grid1" class="table">
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">Auth</th>
                    <th rowspan="2" class="text-center">Stn</th>
                    <th rowspan="2" class="text-center">Unit</th>
                    <th rowspan="2" class="text-center">Pilot (SN / Rank / Duty)</th>
                    <th colspan="2" class="text-center">A/C</th>
                    <th colspan="3" class="text-center">Msn Symbol</th>
                    <th rowspan="2" class="text-center">Msn Essential</th>
                    <th rowspan="2" class="text-center">Itinerary</th>
                    <th rowspan="2" class="text-center">EngStrt</th>
                    <th class="text-center">T/O</th>
                    <th class="text-center">Ldg</th>
                    <th rowspan="2" class="text-center">EngSdn</th>
                    <th colspan="2" class="text-center">HF</th>
                    <th rowspan="2" class="text-center">FLT Cond</th>
                    <th rowspan="2" class="text-center">Srt</th>
                    <th colspan="2" class="text-center">Pax</th>
                    <th colspan="2" class="text-center">Pnt</th>
                    <th rowspan="2" class="text-center">Cargo (Lbs)</th>
                    <th colspan="2" class="text-center">Gas up</th>
                    <th class="text-center">Bal</th>
                    <th rowspan="2" class="text-center">Remarks</th>
                </tr>
                <tr>
                    <th class="text-center">Type</th>
                    <th class="text-center">Nr</th>
                    <th class="text-center">Catg</th>
                    <th class="text-center">Typ</th>
                    <th class="text-center">Dtl</th>
                    <th class="text-center">T</th>
                    <th class="text-center">T</th>
                    <th class="text-center">HOUR</th>
                    <th class="text-center">MIN</th>
                    <th class="text-center">Mil</th>
                    <th class="text-center">Civ</th>
                    <th class="text-center">Mil</th>
                    <th class="text-center">Civ</th>
                    <th class="text-center">Loc</th>
                    <th class="text-center">(Ltrs)</th>
                    <th class="text-center">(Ltrs)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="/scripts/bootstrap-datepicker.min.js"></script>
<script src="/Scripts/handlebars-v3.0.0.js"></script>