<link href="/content/bootstrap-datepicker.min.css" rel="stylesheet">
<script src="/Scripts/jspdf.min.js"></script>
<script src='/javascript/name/zsiPdf'></script>
<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 35px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
    .zButtons button{
         margin-right:6px;
    }   
    
    #btnPdf{
        display : none;
    }
    
    #ifrmWindow{
        width:100%;
        height:600px;
        border:solid 0pt #000;
        margin-top:10px;
    }
    #title5,
    #title6,
    #title10,
    #title11,
    #title13,
    #title16,
    #title17,
    #title19,
    #title20{
        border-bottom: 1px solid;
    }
    .zGridPanel.right .item .item:last-child {
        margin-left: -1px;
    }
    /* Fix for Chrome Only 29+ */
    @media screen and (-webkit-min-device-pixel-ratio:0)
      and (min-resolution:.001dpcm) {
        .zGridPanel.right .item .item:last-child {
            margin-left: -1.32px;
        }
    }
    
    .zGridPanel.right .item:nth-last-child(2) .item:last-child > .title{
        text-align: center !important;
    }
    _:-ms-fullscreen, :root .zGridPanel.right .item .item:last-child {  /* IE 11 above*/
        margin-left: -1pt !important; 
    } 
</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 col-sm-4 col-md-5 col-lg-12 zPanel">
    <div style="min-height:20px;margin-top:10px">
        <form method="post" id="frm">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class=" col-xs-1 control-label" >Organization</label>
                        <div class=" col-xs-2"> 
                            <select name="aircraft_organization_filter" id="aircraft_organization_filter" class="form-control input-sm"> </select>
                        </div>
                        <label class=" col-xs-3 control-label" >Flight Schedule Date (From / To)</label>
                        <div class="col-xs-1" >   
                           <input name="date_from" id="date_from" class="form-control input-sm"> 
                        </div>
                        <div class="col-xs-1" >   
                            <input name="date_to" id="date_to" class="form-control input-sm"> 
                        </div>
                        <div class="zButtons" >
                            <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnGo"><span class="glyphicon glyphicon-filter"></span> Display Report</button>
                            <button type="button"  class="btn btn-primary btn-sm pull-left" id="btnPdf"><span class="glyphicon glyphicon-file"> </span> Show PDF</button>
                        </div>
     
                    </div>
                </div>
                <div id="grid" class="zGrid"></div>
        </form>
    </div>
</div>
<script src="/scripts/bootstrap-datepicker.min.js"></script>
<script src="/Scripts/handlebars-v3.0.0.js"></script>