<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
   .zHeaders{
       
       width:1241px !important;
   }

</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <form method="post" id="frm">
        <div class="zPanel">
            <div id="grid" class="zGrid"></div>
            
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave">
            	<span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
            	<span class="glyphicon glyphicon-trash"></span> Delete
            </button>    
        </div>
    </div>
</form>
</div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>