<style>sss
    .modal-body { overflow: unset; }
    .modal-lg {  width: 90% !important; }
    #tabPanel > div{
        display:none;
    } 
    #tabPanel > div.active{
        display:block;
    }
    .tabPane{
        background-color: #fff;
        min-height: 500px;
        padding: 10px 5px;
        margin-bottom:10px;
        overflow: auto;
    }
    .tablePanel {
        overflow-y:auto;
    }
</style>

<ul class="nav nav-tabs">
  <li ><a href="#" data-toggle="tab" id="category-tab">Category</a></li>
  <li ><a href="#" data-toggle="tab" id="type-tab">Type</a></li>
  <li ><a href="#" data-toggle="tab" id="detail-tab">Detail</a></li>
</ul>
<div id="tabPanel" class="tab-pages">
    <div id="tabCategory" class="tabPane">
        <form method="post" id="frmCategory">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div id="gridC" class="zGrid"></div>
                <div class="buttonGroup">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm btnSave">
                    	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <button type="button" id="btnDelete" class="btn btn-primary btn-sm btnDelete">
                    	<span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </div>
        </form>
    </div>        
    <div id="tabType" class="tabPane">
        <form method="post" id="frmType">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div id="gridT" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm btnSave">
                    	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <button type="button" id="btnDelete" class="btn btn-primary btn-sm btnDelete">
                    	<span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="tabDetail" class="tabPane">
        <form method="post" id="frmDetail">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div id="gridD" class="zGrid"></div> 
               <div class="buttonGroup">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm btnSave">
                    	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <button type="button" id="btnDelete" class="btn btn-primary btn-sm btnDelete">
                    	<span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
