<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
   

</style>

<script src='/javascript/name/zsiSearch'></script>
<div>    
    <form method="post" id="frm">
        <div class="zPanel">
            <div id="grid" class="zGrid"></div>
            
    
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave">
            	<span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
             <button type="button" class="btn btn-primary btn-sm" id="btnInactive">
            	<span class="glyphicon glyphicon-ban-circle"></span> Inactive
            </button>
        </div>
    </div>
</form>
</div>
<script src="/Scripts/handlebars-v3.0.0.js"></script>