<link href="/content/bootstrap-datepicker.min.css" rel="stylesheet">
<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid{
        width: 100%;
    }
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .tablePanel {
        overflow-y:auto;
    }
    .modalGrid{
        margin-top: 40px;
    }
</style>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <form method="post" id="frm">
        <div class="zPanel">
            <div id="grid" class="zGrid"></div>
            <div class="buttonGroup">
                <button type="button" class="btn btn-primary btn-sm" id="btnNew">
                	<span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
                	<span class="glyphicon glyphicon-trash"></span> Delete
                </button>    
            </div>
        </div>
    </form>
</div>

<ul id="localTemplates">
    <li name="newEntryTemplate" >
            <div id="frmPhysicalInv" class="form-horizontal zContainer1" style="padding:5px">
                <div class="form-group  "> 
                    <label class="col-xs-5 col-sm-2 col-md-2 col-lg-2 control-label">Physical Inv No</label>
                    <div class="col-xs-7 col-sm-2 col-md-2 col-lg-2">
                        <input type="text" name="physical_inv_no" id="physical_inv_no" class="form-control input-sm" disabled>
                    </div> 
                    <label class="col-xs-5 col-sm-2 col-md-2 col-lg-2 control-label">Physical Inv Date</label>
                    <div class="col-xs-7 col-sm-2 col-md-2 col-lg-2">
                        <input type="hidden" name="physical_inv_id" id="physical_inv_id" >
                        <input type="hidden" name="is_edited" id="is_edited">
                        <input type="text" name="physical_inv_date" id="physical_inv_date" class="form-control input-sm" value="{{todayDate}}">
                        <input type="hidden" name="warehouse_id" id="warehouse_id" class="form-control input-sm">
                    </div>
                    <label class="col-xs-5 col-sm-2 col-md-2 col-lg-2 control-label">Done By</label>
                    <div class="col-xs-7 col-sm-2 col-md-2 col-lg-2">
                        <select type="text" name="done_by" id="done_by" class="form-control input-sm" ></select>
                    </div>
                </div>
                <div class="form-group  ">
                    <label class="col-xs-5 col-sm-2 col-md-2 col-lg-2 control-label">Status</label>
                    <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
                        <label name="status_name" id="status_name">&nbsp;</label>
                        <input type="hidden" name="status_id" id="status_id" class="form-control input-sm" readonly="readonly">
                    </div>
                    <label class="col-xs-5 col-sm-2 col-md-2 col-lg-2 control-label">Remarks</label>
                    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                        <textarea type="text" name="status_remarks" id="status_remarks" class="form-control input-sm" ></textarea>
                        <input type="hidden" name="page_process_action_id" id="page_process_action_id">
                    </div>
                </div>
            </div>
            <div class="modalGrid zContainer1"><div class="zHeaderTitle1"><label> Inventory Details </label></div><div id="{{gridId}}" class="zGrid Detail" ></div></div>
    </li>
    <li name="fileUploadTemplate">
            <div class="form-horizontal">
                <div class="form-group">  
                    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1  control-label">Select File</label>
                    <div class=" col-xs-8 col-sm-10 col-md-10 col-lg-11">
                        <input type="hidden" id="tmpData" name="tmpData" class="form-control input-sm">'+
                        <input type="file" class="browse btn btn-primary" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file">'+
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3">
                        <button type="button" onclick="excelFileUpload();" class="btn btn-primary" id="btnUploadFile" style="margin-left: 5px">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                    </div>
                </div>
            </div>
                
    </li>    
    <li name="SerialNoFooterTemplate">
            <button type="button" onclick="SaveSerialNo();" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
            <button type="button" onclick="DeleteSerialNo();" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Delete</button>
    </li>        
</ul>
<script type="text/javascript" src="/scripts/bootstrap-datepicker.min.js"></script>