<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zForm">  
    <div class="row ">
        <div class="col-xs-6 col-sm-6">
            <div class="form-horizontal">
               <div class="form-group" >
                    <label class="col-xs-2 control-label">IS#: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_________________ </label>
                    <label class="col-xs-4 control-label">Date: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_________________ </label>
                </div>
                <div class="form-group" >
                    <label class="col-xs-2 control-label">To#: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_________________ </label>
                    <label class="col-xs-4 control-label">Ref #: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_________________ </label>
                </div>
                <div class="form-group" >
                    <label class="col-xs-2 control-label">Issued by: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_________________ </label>
                    <label class="col-xs-4 control-label">Accepted by: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_________________ </label>
                </div>
                <div class="form-group" >
                    <label class="col-xs-2 control-label">Remarks: </label>
                    <label class="col-xs-3 control-label label-display" id="" name="">_____________________________ </label>
                    
                </div>
            </div>
        </div>
    </div>    
</div>