<script src='/javascript/name/zsiSearch'></script>
<style>/*
.boxs {margin-top:5px;}
.FilterPanel{overflow-y:auto;height:350px;}
.zGrid .item .title {
    height: 0 !important;
}*/
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zForm">  
    <div class="row ">
        <div class="col-xs-12 col-sm-12" id="stocksearch">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 col-sm-1 col-md-1 col-lg-1 control-label">Search Field:</label>
                    <div class="col-xs-3">
                        <select name="field_search" id="field_search" class="form-control input-sm">
                            <option value="part_no">Part No.</option>
                            <option value="national_stock_no">National Stock No.</option>
                            <option value="item_name">Nomenclature Name</option>
                        </select>
                    </div>
                    <label class="col-xs-2 col-sm-1 col-md-1 col-lg-1 control-label">Keyword:</label>
                    <div class=" col-xs-3">
                        <input name="stocks_search_id_filter" id="stocks_search_id_filter" type="hidden" class="form-control input-sm">
                        <input name="stock_search_filter" id="stock_search_filter" placeholder="Search" class="form-control input-sm">
                    </div>
                     <div class="col-xs-1">
                        <button type="button"  class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <form method="post" id="frm">
          <div id="grid" class="zGrid"></div> 
    </form>
</div>
<script src="/Scripts/handlebars-v3.0.0.js"></script>