<script src='/javascript/name/zsiSearch'></script>
<style>/*
.boxs {margin-top:5px;}
.FilterPanel{overflow-y:auto;height:350px;}
.zGrid .item .title {
    height: 0 !important;
}*/
</style>
<div class="col-md-12 zPanel">  
    <div class="row ">
        <div class="col-md-12" id="stocksearch">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Wing</label>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="margin-bottom:5px">
                        <select name="wing_filter" id="wing_filter" class="form-control input-sm"></select>
                    </div>
                     <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Squadron:</label>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="margin-bottom:5px">
                        <select name="squadron_filter" id="squadron_filter" class="form-control input-sm"></select>
                    </div>
                    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Warehouse:</label>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="margin-bottom:5px">
                        <select name="warehouse_filter" id="warehouse_filter" class="form-control input-sm"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Search Field:</label>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="margin-bottom:5px">
                        <select name="field_filter" id="field_filter" class="form-control input-sm">
                            <option value="part_no">Part No.</option>
                            <option value="national_stock_no">National Stock No.</option>
                            <option value="item_name">Nomenclature Name</option>
                        </select>
                    </div>
                    <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Keyword:</label>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                        <input name="aircraft_info_id_filter" id="aircraft_info_id_filter" type="hidden" class="form-control input-sm">
                        <input name="keyword_filter" id="keyword_filter" placeholder="Search" class="form-control input-sm">
                    </div>
                    <div class="col-xs-1">
                        <button type="button"  class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <form method="post" id="frm">
          <div id="grid" class="zGrid hide"></div> 
    </form>
</div>
<script src="/Scripts/handlebars-v3.0.0.js"></script>