<script src='/javascript/name/zsiSearch'></script>
<style>/*
.boxs {margin-top:5px;}
.FilterPanel{overflow-y:auto;height:350px;}
.zGrid .item .title {
    height: 0 !important;
}*/
</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zForm">  
   <!-- <div class="row ">
        <div class="col-xs-12 col-sm-12" id="stocksearch">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 col-sm-1 col-md-1 col-lg-1 control-label">Ticket No:</label>
                    
                    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Request Type</label>
                    <div class=" col-xs-1">
                        <input name="stocks_search_id_filter" id="stocks_search_id_filter" type="hidden" class="form-control input-sm">
                        <input name="stock_search_filter" id="stock_search_filter"  class="form-control input-sm">
                    </div>
                     <div class="col-xs-1">
                        <button type="button"  class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
                    </div>
                </div>
            </div>
        </div> 
    </div>   -->

    <form method="post" id="frm">
          <div id="grid" class="zGrid"></div> 
    </form>
</div>
<script src="/Scripts/handlebars-v3.0.0.js"></script>