<style>
    .modal-body {
        overflow: unset;
    }
    .pageProcessActionProcWidth {
        width: 595px !important;
    }
</style>

<div class="col-xs-12 ">    
    <div id="pageProcessRolesGrid" class="zGrid"></div> 
    <div class="buttonGroup">
        <button type="button" class="btn btn-primary btn-sm" id="pprBtnSave">
        	<span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>
        <button type="button" class="btn btn-primary btn-sm" id="pprBtnDelete">
        	<span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </div>
</div>

 