<style>
    .modal-body {
        overflow: unset;
    }
    .pageProcessActionWidth {
        width: 795px !important;
    }
</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 ">    
    <div id="pageProcessActionGrid" class="zGrid"></div> 
    <div class="buttonGroup">
        <button type="button" class="btn btn-primary btn-sm" id="ppaBtnSave">
        	<span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>
        <button type="button" class="btn btn-primary btn-sm" id="ppaBtnDelete">
        	<span class="glyphicon glyphicon-trash"></span> Delete
        </button>    
    </div>
</div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>
