<style>
    .modal-body {
        overflow: unset;
    }
    
    .warehouseReceivingNewWidth {
        width: 1100px !important;
    }
</style>

<script src='/javascript/name/zsiSearch'></script>
<div class="col-xs-12 ">    
    <div id="warehouseReceivingNewGrid" class="zGrid"></div> 
    <div class="buttonGroup">
        <button type="button" class="btn btn-primary btn-sm" id="wrnBtnSave">
        	<span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>
        <button type="button" class="btn btn-primary btn-sm" id="wrnBtnReset">
        	<span class="glyphicon glyphicon-trash"></span> Reset
        </button>    
    </div>
</div>
