<link href="/content/bootstrap-datepicker.min.css" rel="stylesheet">
<script src='/javascript/name/zsiSearch'></script>
<script src="/Scripts/html2canvas.js"></script>
<script src="/Scripts/jspdf.debug.js"></script>
<style>
    .modal-body { overflow: unset; }
    .modal-lg {  width: 90% !important; }
    #tabPanel > div{
        display:none;
    } 
    #tabPanel > div.active{
        display:block;
    }
    .tabPane{
        background-color: #fff;
        min-height: 500px;
        padding: 10px 5px;
        margin-bottom:10px;
        overflow: auto;
    }
    .tablePanel {
        overflow-y:auto;
    }
    #grid{
        width: 100%;
    }
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .border-required{
        border: 1px solid red !important;
    }
    .not-editable::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 25px;
        z-index: 1;
    }
    .label_value{
        border-bottom: 1px solid;
        display: block;
        line-height: 27px;
        margin-bottom: 0;
    }
</style>

<ul class="nav nav-tabs">
  <li ><a href="#" data-toggle="tab" id="aircraft-tab">Aircraft</a></li>
  <li ><a href="#" data-toggle="tab" id="warehouse-tab">Warehouse</a></li>
  <!--<li ><a href="#" data-toggle="tab" id="maintenance-tab">Maintenance</a></li>-->
  <li ><a href="#" data-toggle="tab" id="disposal-tab">Disposal</a></li>
  <li ><a href="#" data-toggle="tab" id="directive-tab">Directive</a></li>
</ul>

<div id="tabPanel" class="tab-pages">
    <div id="tabAircraft" class="tabPane">
        <form method="post" id="frmAircraft">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="gridAircraft" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="aircraftBtnNew">
                    	<span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>
        </form>
    </div>        
    <div id="tabWarehouse" class="tabPane">
        <form method="post" id="frmWarehouse">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="gridWarehouse" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="warehouseBtnNew">
                    	<span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--<div id="tabMaintenance" class="tabPane">
        <form method="post" id="frmMaintenance">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="gridMaintenance" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="maintenanceBtnNew">
                    	<span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>
        </form>
    </div>-->
    <div id="tabDisposal" class="tabPane">
        <form method="post" id="frmDisposal">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="gridDisposal" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="disposalBtnNew">
                    	<span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="tabDirective" class="tabPane">
        <form method="post" id="frmDirective">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-12"> 
                <div id="gridDirective" class="zGrid"></div> 
                <div class="buttonGroup">
                    <button type="button" class="btn btn-primary btn-sm" id="directiveBtnNew">
                    	<span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="printPDF" class="hide">
    <div class="form-horizontal" style="padding:5px">
        <div class="form-group">
            <label class="col-xs-2 control-label">Issuance No.:</label>
            <div class="col-xs-4">
                <label class="label_value" id="issuance_no">&nbsp;</label>
            </div>
            <label class=" col-xs-2 control-label">Issued Date:</label>
            <div class="col-xs-4">
                <label class="label_value" id="issued_date">&nbsp;</label>
            </div>
        </div>
        <div class="form-group "> 
            <label class="col-xs-2 control-label">To:</label>
            <div class="col-xs-4">
                <label class="label_value" id="issued_to_organization">&nbsp;</label>
            </div>
            <label class="col-xs-2 control-label">Ref. No.:</label>
            <div class="col-xs-4">
                <label class="label_value" id="authority_ref">&nbsp;</label>
            </div>
        </div>
        <div class="form-group "> 
            <label class="col-xs-2 control-label">Issued By:</label>
            <div class="col-xs-4">
                <label class="label_value" id="issued_by">&nbsp;</label>
            </div>
            <label class="col-xs-2 control-label">Accepted By:</label>
            <div class="col-xs-4">
                <label class="label_value" id="accepted_by">&nbsp;</label>
            </div>
        </div>
        <div class="form-group"> 
            <label class="col-xs-2 control-label">Remarks:</label>
            <div class="col-xs-10">
                <label class="label_value" id="status_remarks">&nbsp;</label>
            </div>
        </div>
     </div> <br>  
    <table id="tblPrintIssuanceDetails" class="table table-bordered"> 
        <thead> 
            <tr> 
                <th>Item #</th> 
                <th>Part #</th> 
                <th>NS #</th> 
                <th>Nomenclature</th> 
                <th>Qty</th> 
                <th>Unit Measure</th> 
                <th>Item Status</th> 
            </tr> 
        </thead> 
        <tbody> 
        </tbody> 
    </table>
</div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datepicker.min.js"></script> 
