
@{
    ViewBag.Title = "Page List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="pageTitle">@ViewBag.Title </div>

<div class="form-horizontal ">
	<div class="form-group  ">
		<div class="col-xs-12 col-lg-6">
			<label class="col-xs-4 col-sm-3 col-md-2 col-lg-3 control-label">Search Page Name:</label>
			<div class="col-xs-8 col-sm-4 col-md-2 col-lg-5">
				<input type="text" name="filter_name" id="filter_name" class="form-control input-sm ">
			</div>
		</div>
	</div>
</div>
	
<div class="row">
	<div class="zPanel">
		 <form method="post" id="frm"><div id="grid" class="zGrid"></div></form>
		<div class="buttonGroup">
			<button type="button" class="btn btn-primary btn-sm" id="btnSave">
				<span class="glyphicon glyphicon-floppy-disk"></span> Save
			</button>
			<button type="button" class="btn btn-primary btn-sm" id="btnDelete">
				<span class="glyphicon glyphicon-trash"></span> Delete
			</button>
		</div>
	</div>
</div>
<style>

 .iconEdit{
	font-size: 12pt;
    color: #3878C4;
 }

</style>
<script>
    var bs 		= zsi.bs.ctrl;
	var svn  	=  zsi.setValIfNull;
    var gArr = null;
	var tmr;
    $(document).ready(function () {
        displayRecords();
    });

    $("#btnSave").click(function () {
        $("#grid").jsonSubmit({
              url: controller_url + "update"
            , onComplete: function (data) {
				if(data.msg==="ok") {
					zsi.form.showAlert("alert");
					$("#grid").clearGrid();				
					displayRecords();
				}

            }
        });
    });
    function displayRecords() {
		var sName = $("#filter_name");
		var params =  (sName.val()!=="" ? " @@search_page_name='" + sName.val() + "'" : "");		
        var cb = bs({name:"cbFilter1",type:"checkbox"});
        $("#grid").dataBind({
         url			: base_url + "sql/exec?p=pages_sel" + params
        ,width          : $(document).width()- 50
	    ,height         : $(document).height()-275
	    ,selectorType   : "checkbox"
        ,blankRowsLimit :5
        ,dataRows       :[
            
       		 { text: cb           , width:25  , style:"text-align:center;", type:"hidden" , name:"page_id"}
    		,{ text:"Page Name"   , width:214 , style:"text-align:left;", type:"input"  , name:"page_name"}	 
    		,{ text:"Page Title"   , width:300 , style:"text-align:left;", type:"input" , name:"page_title"}	 	 
    		,{ text:"Master Page"   , width:100 , style:"text-align:center;", type:"select" , name:"master_page_id"}
    		,{ text:"URL"   
				, width:37 
				, style:"text-align:center;"
				, onRender	: function(d){
					return '<a class="iconEdit"  title="Open URL" target="_blank" href="' + base_url + 'page/name/' + svn(d,"page_name") + '"><span class="glyphicon glyphicon-globe"><span></a>'; 
				}
			
			}  	 	 
    		,{ text:"Template"   
				, width:70 
				, style:"text-align:center;"
				, onRender	: function(d){
					return '<a class="iconEdit" title="Edit Source Code" target="_blank" href="' + base_url + 'pagetemplate/source/' + svn(d,"page_name") + '"><span class="glyphicon glyphicon-edit"><span></a>'; 
				}
			
			}  	 	 
    		,{ text:"JavaScript"   
				, width:75 
				, style:"text-align:center;"
				, onRender	: function(d){
					return '<a class="iconEdit" title="Edit Source Code"  target="_blank" href="' + base_url + 'javascript/source/' + svn(d,"page_name") + '"><span class="glyphicon glyphicon-edit"><span></a>'; 
				}
			
			}  	 	 

        ]
            ,onComplete: function(){
				 $("select[name='master_page_id']").dataBind("masterpages");
            }
        });    		
    }
	
	$("#filter_name").keyup(function(e){
		clearTimeout(tmr);
		tmr = setTimeout(
		function(){
			displayRecords();
		},600);		
	});

    $("#btnDelete").click(function () {
        $("#grid").deleteData({
            code       : "sys-0006"
            ,onComplete: function (data) {
                displayRecords();
            }
        });
    });


</script>

