<script type="text/javascript" src="/scripts/qrcode.min.js"></script>
<style>
#employee{
    margin-bottom:10px;
}
#employee .zGridPanel .zHeaders .item .title .text{
    width:100%;
}
#user-box{
    top:200px;
    background-color: #fff;
    height: 250px;
    width: 250px;
    left: 360px;
    position: absolute;
    display:none;
    webkit-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    border: 2px solid #fff;
    border-radius: 10px;
    overflow:hidden;
}
  #user-box img{ 
  height: 100%;
  width: 100%; 
  
}
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div class="m-1">
                <div class="row">
                    <div class="col-xl-2 col-md-3 col-sm-5 col-12 mb-1"> 
                        <div class="input-group">
                            <select class="form-control form-control-sm" name="driverpaoloaderId" id="driverpaoloaderId"></select>
                            <div class="input-group-append">
                                <button id="btnFilterVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Filter">
                                   <i class="fas fa-filter"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-xl-3 col-12 mb-1">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm desc-prop-group pl-2" id="searchVal" name="searchVal" placeholder="Search....." autocomplete="off">
                            <div class="input-group-append">
                                <button id="btnSearchVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Search">
                                   <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-append ml-1">
                                <button id="btnResetVal" class="btn-sm btn btn-primary btn-outline-default text-white hvr-icon-spin" type="button" title="Reset">
                                   <i class="far fa-refresh hvr-icon"></i> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" id="frm">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="grid" class="zGrid mb-1"> </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                        	<span class="far fa-save"></span> Save
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="btnNactive">
                        	<span class="fas fa-ban"></span> Inactive
                        </button> 
                        <button type="button" class="btn btn-primary btn-sm" id="btnAdd">
                        	<span class="fas fa-user-plus"></span> Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modalEmployeesId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalEmpoloyeeId">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="card col-12">
                      <div class="card-body text-center">
                        <img src="../img/avatar-m.png" id="imgFilename" height="150" width="150">
                      </div>
                      <div class="card-body text-center">
                        <b id="nameId" class="card-title" style="font-size:25px;">FirstName LastName</b>
                        <p id="positionId" class="card-text" style="font-size:12px;"></p>
                        <p class="card-text" style="font-size:20px;"><b>ID No.:</b>&nbsp; <span id="idNo"></span></p> 
                      </div>
                      <div class="justify-content-center d-flex mb-1" >
                        <div id="qrcode" style="width:100px; height:100px;"></div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ul name="localTemplates">
    <li name="modalBodyInactive">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                <div id="{{grid}}" class="zGrid"> </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" id="btnSave1" onclick="{{onClickSaveInactive}}" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                 <button type="button" class="btn btn-primary btn-sm" id="btnDeleteCustomer" onclick="{{onClickDeleteInactive}}" data-toggle="tooltip" title="Delete">
                	<i class="fas fa-trash-alt"></i> Delete
                </button>
            </div>
        </div>
    </li>
    <li name="modalBodyImageEmpl">
      <div class="pull-left"><button type="button" onclick="{{onClickUploadImageEmpl}}" class="btn btn-sm btn-primary"><span class="fas fa-upload"></span> Upload</button></div>
   </li>
   <li name="modalBodyAddUsers">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                <div id="{{grid}}" class="zGrid"> </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" id="btnSave2" onclick="" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
</ul>
<div id="user-box">
    <img src="/file/viewImage?fileName=no-image.jpg&amp;isThumbNail=y" id="userImage" >
</div>