<script type="text/javascript" src="/scripts/print.min.js"></script>
<script src='/scripts/zsiPdf.js'></script>
<script src='/scripts/jspdf.min.js'></script>
<style>
    .zGrid .zHeaders > .item .title {
        height: 20px;
        align-items: center;
        display: inherit;
    }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="col-sm-12 col-md-12 col-lg-12 col-12">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-forPosting" role="tab" aria-controls="nav-forPosting"> For Posting </a>
                    <a class="nav-item nav-link"        data-toggle="tab" href="#nav-posted" role="tab" aria-controls="nav-posted"> Posted </a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div role="tabpanel" class="tab-pane fade show active" id="nav-forPosting">
                        <div class="zContainer">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1" id="forGrid">
                                     <div id="gridTransactions" class="zGrid"></div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                                    <div class="button-group">     
                                        <button type="button" class="btn btn-primary btn-sm" id="btnSaveTransations">
                                            <i class="far fa-save"></i> Post Payments
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="nav-posted">
                        <div class="zContainer">
                            <div class="mt-2"></div>
                            <div class="row"> 
                                <div class="col-sm-3 col-md-2 col-xl-2 col-12 mb-2">
                                    <label class="col-form-label control-label"><b>Date Range:</b></label>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-2 col-12 mb-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm pl-2" id="posted_date_from" name="posted_date_id" placeholder="From date....."/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 col-12 mb-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm pl-2" id="posted_date_to" name="posted_date_id" placeholder="To date....."/>
                                        <div class="input-group-append">
                                            <button id="btnFilterVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Filter">
                                               <i class="fas fa-filter"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append ml-1">
                                            <button id="btnResetVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Reset">
                                               <i class="far fa-refresh"></i> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                     <div id="gridPostedTransactions" class="zGrid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div> 
</div>
<div class="modal" id="modalWindow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <form id="frm_modalWindow">
                <div class="modal-header">
                    <h5 class="modal-title"> PDF Report </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="ifrmWindow" frameborder="0"></iframe>
                </div>
            </form>
        </div>
    </div>
</div>

    
