<script type="text/javascript" src="/scripts/qrcode.min.js"></script>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                         <div id="gridVehicles" class="zGrid"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                        <div class="button-group">     
                            <button type="button" class="btn btn-primary btn-sm" id="btnSaveVehicles">
                                <i class="far fa-save"></i> Save
                            </button>
                             <button type="button" class="btn btn-primary btn-sm" id="btnInactive" data-toggle="tooltip" title="Delete">
                        	  <i class="fas fa-ban"></i> Inactive
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal" id="modalVehicleId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalVehicleId">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="card col-12">
                      <div class="card-body text-center">
                        <img src="../img/avatar-m.png" id="imgFilename" height="150" width="150">
                      </div>
                      <div class="card-body text-center">
                        <b id="plateNoId" class="card-title" style="font-size:25px;"></b>
                        <!--<p id="positionId" class="card-text" style="font-size:10px;"></p>-->
                        <p class="card-text" style="font-size:20px;"><b>Vehicle Type:</b>&nbsp; <span id="vehicleTypeId"></span></p> 
                      </div>
                      <div class="justify-content-center d-flex mb-1" >
                        <div id="qrcode" style="width:100px; height:100px;"></div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modalInactiveVehicles" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="frm_modalInactive">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridInactiveVehicles" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactiveVehicles" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteVehicles" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>