@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-brand__name a {
  font-size: 20px;
}

#menu-7 .mbr-brand__name {
  font-size: 16px;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .mbr-brand__name a {
  font-size: 20px;
}
#content5-e .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-article {
  color: #fff;
}
#header3-g H3 {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
}
#content1-c P {
  text-align: left;
}

#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .mbr-brand__name a {
  font-size: 20px;
}
#content5-i .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-i .mbr-article {
  color: #fff;
}
#header3-j H3 {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
}
#content1-k P {
  text-align: left;
}

#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-m .mbr-brand__name a {
  font-size: 20px;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
}
#header3-o H3 {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
}
#content1-p P {
  text-align: left;
}

#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name a {
  font-size: 20px;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
}
#header3-t H3 {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
}
#content1-u P {
  text-align: left;
}
