/*variables */
$transparent: transparent;
$white: #ffffff;
$light-gray: #EFEFEF;
$light-gray2: #fafafa;
$yellow: #ffc94f;
$light-blue: #6eb2fb;
$cyan: #00d3ca;
$orange: #fe5c07;
$yellow2: #f8e71c;
$yellow-green: #7ed321;
$violet: #9013fe;
$gray: #2e2e2e;

.bg-light-blue{ background-color: $light-blue;}
.bg-cyan { background-color: $cyan; }
.bg-pink { background-color: $pink; }
.bg-orange { background-color: $orange; }
.bg-yellow2{ background-color: $yellow2; }
.bg-yellow-green { background-color: $yellow-green; }
.bg-violet{ background-color: $violet; }    
.bg-gray{ background-color: $gray; }    


@media (min-width: 1240px) {
    .container {
      max-width: 1200px;
    }
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #6eb2fb;
      text-decoration: none;
    }
  }
  
  .page {
    background: #D4D5D6 none repeat scroll 0 0;
    min-height: 500px;
  }
  
  .highlight-color {
    color: #f62f5e;
  }
  
  .top-left a {
    color: #f62f5e;
    &:hover {
      color: #6eb2fb;
    }
  }
  
  // .badge {
  //   background-color: #ffffff;
  //   color: #f62f5e;
  //   position: relative;
  //   left: -14px;
  //   top: -9px;
  //   margin-right: -11px;
  //   border-radius: 100px;
  //   height: 25px;
  //   width: 25px;
  //   font-size: 12pt;
  // }
    
  .content-wrapper {
    width: 100%;
    color: #fff;
    line-height: 1em; 
  }
  
  .pt-6 {
    padding-top: 4rem !important;
  }
  
  .pl-6 {
    padding-left: 6rem !important;
  }
  
  .pl-10 {
    padding-left: 10px;
    width: 250px;
  }

 .img-thumbnail{
   border:none !important;
   width: 100%;
}

.btn-round {
  border-radius: 19px;
  padding: .6rem;
  font-weight: 500;
  min-width: 110px;
}

.btn-round:hover{
  -webkit-box-shadow: 0px 0px 10px 1px #908c8c;
  -moz-box-shadow: 0px 0px 10px 1px #908c8c;
  box-shadow: 0px 0px 10px 1px#908c8c;

}


.modal .modal-content .row {
  margin-top: 8px;
}
.image-holder {
  width: 100px;
  float: left;
  border: solid 1pt $light-gray;
  margin-right: 5px;
  line-height: 7;
}
.item-detail {
  width: 250px;
  a{
    color: #8c8383;
    font-size: 11pt;
    i {
      color: red;
    }  
  } 
}
