header{
		#header-menu{
		height: 89px !important;
				.floathead{
					width: inherit;
					height: inherit;
				}
				#menu-toggler{
					margin-top: 2px;
					background-color: $transparent;
					border-width: 1px;
					border-color: $transparent;
					font-size: 25px;
				}
		} 
}

main.container{
	background-color: $light-gray;
	padding: 0;
	padding-top:30px;
	padding-bottom:30px;
	.item-body{
		border-left:solid 1px #ededed;
		border-right:solid 1px #f0f0f0;
		background: $white;
		margin:0 30px 30px 30px;
		.left-head-panel{
			.item-main-image{
				margin-top:20px;
				width: 100%;
  				height: auto;
			}
			.item-thumbnails-holder{
				margin-top:30px;
				margin-bottom:30px;
				.item-thumbnail, .item-thumbnail-active{
					padding: 0;
					margin: 0;
					max-height:90px !important;
					min-height:90px !important;
					margin-left:5px;
					margin-right:5px;
				}
				.item-thumbnail-active{
					border:solid 1px $pink;
				}
			}
		}
		.right-head-panel{
			padding-top:20px;
			.bread-crumb, .bread-crumb a{
				color:#a4a4a4;
				font-size:15px;
				padding-bottom:0px;
				margin-bottom:20px;
			}
			.product-ratings{
				padding:0;
				margin: 0;
				margin-bottom:5px;
			}
			.item-name{
				padding:0;
				margin: 0;
				margin-bottom:20px;
				text-align: left;
				font-size:36px;
				font-weight: bold;
				line-height: 55px;
			}
			.item-price{
				padding:0px;
				margin: 0;
				color: $pink;
				font-size: 36px;
				font-weight: bold;
			}
			.item-color, .item-size, .item-quantity, .item-action{
				margin-top:20px;
			}
			.item-label{
				font-size:20px;
				font-weight: bold;
				color:#b4b4b4;
			}
		}
		.item-body-sub{
			border-top:solid 1px #e5e5e5;
			border-bottom:solid 2px #d7d7d7;
			background-color: $light-gray2;
			padding:30px 95px;
			.review-header{
				font-size: 36px;
				font-weight: bold;
				margin-top:30px;
				margin-bottom: 30px;
			}
			.item-review{
				padding-top: 30px;
				padding-bottom: 38px;
				border-bottom:2px solid #eaeaea;
				.right-panel-review{
					.ratings-review{
						padding:0;
						margin: 0;
						font-size:25px;
						color: $light-gray;
						margin-bottom:5px;
					}
					.reviewers-name{
						font-weight: bold;
						padding:0;
						margin: 0;
					}
					.reviewers-log{
						padding:0;
						margin: 0;
						color:#bebebe;
						font-size: 12px;
					}
				}
			}
			.item-add-review{
				margin-top:20px;
				.right-panel-add-review{
					.labelReview{
						font-weight: bold;
					}
				}
				.left-panel-add-review{
					#txtadd-review{
						margin-bottom:5px;
					}
					.ratings-add-review{
						padding:0;
						margin: 0;
						font-size:25px;
						color: $light-gray;
						margin-bottom:30px;
					}
				}
			}
		}
	}
	.item-suggestions{
		margin:30px;
		margin-bottom:0;
	}
}
/*Footer override properties since footer is copied from index and item page had a different footer and header colors*/
.footer-main{
	margin-left:0 !important;
	margin-right:0 !important;
}
.footer-color-ow{
	color: #2e2e2e !important;
	&:hover{
		color:#f62f5e !important;
	}
}
.footer-social-ow{
	color: #eaeaea !important;
	&:hover{
		color:#f62f5e !important;
	}
}

/*override color navigation*/
.nav-ow {
	>.nav-item {
		>a {
			color: #2e2e2e !important;
			&:hover {
				color: $pink !important;
			}
		}
	}
}

/*small style*/
.bg-pink{
	background-color: $pink;
}
.color-pink{
	color: $pink;
}
.color-white{
	color: $white;
}
.icon-heart{
	background-image: url("/images/Icon/icons-heart-red.png");
	background-repeat:no-repeat;
	background-position: 20px center;
}
.icon-heart2{
	height: inherit;
	width: inherit;
	border:solid 1px red;
	background-color: red;
}
.rated{
	color:$yellow;
}
.note{
	margin: 0;
	padding: 0;
	color:#a8a8a8;
	font-size: 12px;
}
.button-pink-submit{
	background-color: #f62f5e;
}
.headers2{
	font-size: 36px;
	font-weight: bold;
	margin-top:30px;
	margin-bottom: 30px;
}
.hscroll{
	height: 6px;
	width: 100%;
	background-color: #e7e7e7;
}
.btn-love, .btn-comment{
	text-align: left;
	line-height: 42px !important;
}
