$transparent: transparent;
$white: #ffffff;
$lightGray: #EFEFEF;
$lightGray2: #fafafa;
$pink: #f62f5e;
$yellow: #ffc94f;
$lighBlue: #6eb2fb;
$cyan: #00d3ca;
$orange: #fe5c07;
$yellow2: #f8e71c;
$yellowGreen: #7ed321;
$violet: #9013fe;

$bgTransparent: $transparent;
$bgLightGray: $lightGray;
$bgLightGray2: $lightGray2;
$bgWhite: $white;
$bgPink: $pink;
$bgYellow2: $yellow2;
$bgLighBlue: $lighBlue;
$bgCyan: $cyan;
$bgOrange: $orange;
$bgYellowGreen: $yellowGreen;
$bgViolet: $violet;



header{
		#header-top{
			/*background-color: $bgLightGray;*/
		}
		#header-menu{
		height: 89px !important;
				.floathead{
					width: inherit;
					height: inherit;
				}
				#menuToggler{
					margin-top: 2px;
					background-color: $bgTransparent;
					border-width: 1px;
					border-color: $transparent;
					font-size: 25px;
				}
		} 
}

main.container{
	background-color: $bgLightGray;
	padding: 0;
	padding-top:30px;
	padding-bottom:30px;
	.itemBody{
		border-left:solid 1px #ededed;
		border-right:solid 1px #f0f0f0;
		background: $bgWhite;
		margin:0 30px 30px 30px;
		.leftHeadPanel{
			// border: solid 1px black;
			.itemMainImage{
				margin-top:20px;
				// min-height: 500px !important;
				// max-height:500px !important;
				//width: auto;
				height:500px !important;
			}
			.itemThumbNailsHolder{
				margin-top:30px;
				margin-bottom:30px;
				.itemThumbnail, .itemThumbnailSelected{
					padding: 0;
					margin: 0;
					max-height:90px !important;
					min-height:90px !important;
					margin-left:5px;
					margin-right:5px;
				}
				.itemThumbnailSelected{
					border:solid 1px $pink;
				}
			}
		}
		.rightHeadPanel{
			padding-top:20px;
			// border: solid 1px black;
			.breadCrumb, .breadCrumb a{
				color:#a4a4a4;
				font-size:15px;
				padding-bottom:0px;
				margin-bottom:20px;
			}
			.productRatings{
				padding:0;
				margin: 0;
				font-size:25px;
				color: $lightGray;
				margin-bottom:5px;
			}
			.itemName{
				padding:0;
				margin: 0;
				margin-bottom:20px;
				text-align: left;
				font-size:36px;
				font-weight: bold;
				line-height: 55px;
			}
			.itemPrice{
				padding:0px;
				margin: 0;
				color: $pink;
				font-size: 36px;
				font-weight: bold;
			}
			.itemColor, .itemSize, .itemQuantity, .itemAction{
				margin-top:20px;
			}
			.itemLabel{
				font-size:20px;
				font-weight: bold;
				color:#b4b4b4;
			}
			.colorsSelection, .colorLighBlue, .colorCyan, .colorPink, .colorOrange, .colorYellow2, .colorYellowGreen, .colorViolet{
				height:26px !important;
				width: 26px !important;
				border-radius: 18px;
				margin-right: 5px;
				border:4px solid white;
				-webkit-box-shadow: 0px 0px 0px 2px rgba(231,231,231,0);
				-moz-box-shadow: 0px 0px 0px 2px rgba(231,231,231,0);
				box-shadow: 0px 0px 0px 2px rgba(231,231,231,0);
				cursor: pointer;
			}
			.colorLighBlue{ background-color: $bgLighBlue;}
			.colorCyan{ background-color: $bgCyan; }
			.colorPink{ background-color: $bgPink; }
			.colorOrange{ background-color: $bgOrange; }
			.colorYellow2{ background-color: $bgYellow2; }
			.colorYellowGreen{ background-color: $bgYellowGreen; }
			.colorViolet{ background-color: $bgViolet; }
			.colorsSelection {
				&:hover {
					-webkit-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
					-moz-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
					box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
				}
			}
			.colorSelected{
				-webkit-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
				-moz-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
				box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
			}
			.sizeSelection, .sizeSelectionSelected{
				background-color: $bgLightGray2;
				color:#6c6c6c;
				margin-top:5px;
				margin-left: 5px;
				width: 65px;
				line-height: 30px;
				text-align: center;
				border-radius: 3px;
				&:hover{
					background-color: $bgLightGray;
				}
			}
			.sizeSelectionSelected{
				background-color: $bgPink !important;
				color:white;
			}
			.btnPM{
				line-height: 42px;
				width: 42px;
				border-radius: 20px;
				text-align: center;
				/*border: 1px solid #000000;*/
				background-color: $bgLightGray;
				font-size: 17px;
			}
			.txtQuantity{
				height:42px;
				width:60px;
				border-radius: 20px;
				border-width:1px;
				outline: none;
				text-align: center;
				font-size:19px;
				// border:none;
				//border:solid 1px black;
				// border-color:none;
				background-color: none;
				border-collapse: collapse;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none !important;
			}
		}
		.itemBodySub{
			border-top:solid 1px #e5e5e5;
			border-bottom:solid 2px #d7d7d7;
			background-color: $bgLightGray2;
			padding:30px 95px;
			// background-color:red;
			.reviewHeader{
				font-size: 36px;
				font-weight: bold;
				margin-top:30px;
				margin-bottom: 30px;
			}
			.itemReview{
				padding-top: 30px;
				padding-bottom: 38px;
				border-bottom:2px solid #eaeaea;
				.rightPanelReview, .leftPanelReview{
					/* border: solid 1px black;*/
				}
				.rightPanelReview{
					.ratingsReview{
						padding:0;
						margin: 0;
						font-size:25px;
						color: $lightGray;
						margin-bottom:5px;
					}
					.reviewersName{
						font-weight: bold;
						padding:0;
						margin: 0;
					}
					.reviewersLog{
						padding:0;
						margin: 0;
						color:#bebebe;
						font-size: 12px;
					}
				}
				.leftPanelReview{
					
				}
			}
			.itemAddReview{
				margin-top:20px;
				.rightPanelAddReview, .leftPanelAddReview{
					/*border:1px solid black;*/
				}
				.rightPanelAddReview{
					.labelReview{
						font-weight: bold;
					}
				}
				.leftPanelAddReview{
					#txtAddReview{
						margin-bottom:5px;
					}
					.ratingsAddReview{
						padding:0;
						margin: 0;
						font-size:25px;
						color: $lightGray;
						margin-bottom:30px;
					}
				}
			}
		}
	}
	.itemSuggestions{
		margin:30px;
		margin-bottom:0;
		.itemSuggested{
			
		}
	}
}
.rated{
	color:$yellow;
}
.note{
	margin: 0;
	padding: 0;
	color:#a8a8a8;
	font-size: 12px;
}
.colorPink{
	color: $pink;
}
.buttonPinkSubmit{
	background-color: #f62f5e;
}
.headers2{
	font-size: 36px;
	font-weight: bold;
	margin-top:30px;
	margin-bottom: 30px;
}
.hScroll{
	height: 6px;
	width: 100%;
	background-color: #e7e7e7;
	// border:solid 1px black;
}
