$transparent: transparent;
$white: #ffffff;
$lightGray: #EFEFEF;

$bgTransparent: $transparent;
$bgLightGray: $lightGray;
$bgWhite: $white;


header{
		#header-top{
			background-color: $bgLightGray;	
		}
		#header-menu{
		background-color: $white;	
		height: 89px !important;
				.floathead{
					width: inherit;
					height: inherit;
				}
				#menuToggler{
					margin-top: 2px;
					background-color: $bgTransparent;
					border-width: 1px;
					border-color: $transparent;
					font-size: 25px;
				}
		} 
}

main.container{
	border:solid 1px black;
	background-color: $bgLightGray;
	padding: 0;
	.itemBody{
		padding:36px;
		.itemHead{
			
		}
		.itemBodySub{
				
		}
	}
}
