/*Color for text*/
$transparent: transparent;
$white: #ffffff;
$light-gray: #EFEFEF;
$light-gray2: #fafafa;
$pink: #f62f5e;
$yellow: #ffc94f;
$light-blue: #6eb2fb;
$cyan: #00d3ca;
$orange: #fe5c07;
$yellow2: #f8e71c;
$yellow-green: #7ed321;
$violet: #9013fe;

/*color for background*/
$bg-transparent: $transparent;
$bg-light-gray: $light-gray;
$bg-light-gray2: $light-gray2;
$bg-pink: $pink;
$bg-yellow2: $yellow2;
$bg-light-blue: $light-blue;
$bg-cyan: $cyan;
$bg-orange: $orange;
$bg-yellow-green: $yellow-green;
$bg-violet: $violet;
$bg-white: $white;

.light-blue{ background-color: $bg-light-blue;}
.cyan { background-color: $bg-cyan; }
.pink { background-color: $bg-pink; }
.orange { background-color: $bg-orange; }
.yellow2{ background-color: $bg-yellow2; }
.yellow-green { background-color: $bg-yellow-green; }
.violet{ background-color: $bg-violet; }    

.color-selection > {
    .item {
      height: 22px !important;
      width: 22px !important;
      border-radius: 18px;
      margin-right: 5px;
      border: 4px solid white;
      cursor: pointer;
      float: left;
      &:hover{
        -webkit-box-shadow: 0px 0px 0px 2px rgba(231, 231, 231, 1);
        -moz-box-shadow: 0px 0px 0px 2px rgba(231, 231, 231, 1);
        box-shadow: 0px 0px 0px 2px rgba(231, 231, 231, 1);
      }
    }
   
    .active {
      -webkit-box-shadow: 0px 0px 0px 2px rgba(231, 231, 231, 1);
      -moz-box-shadow: 0px 0px 0px 2px rgba(231, 231, 231, 1);
      box-shadow: 0px 0px 0px 2px rgba(231, 231, 231, 1);
    }
}

/*size selection*/
.size-selection > {
    .item{
        background-color: $bg-light-gray2;
        color:#6c6c6c;
        margin-top:5px;
        margin-left: 5px;
        width: 65px;
        line-height: 30px;
        text-align: center;
        border-radius: 3px;
        float:left;
        &:hover{
            background-color: $bg-light-gray;
            color:#6c6c6c !important;
        }
    }
    .active{
        background-color: $bg-pink !important;
        color:white !important;
        &:hover{
            color:white !important;
        }
    }
}


/*call to action buttons*/
.btn-add-cart, .btn-add-wish-list{
    text-align: center !important;
    font-size:15px;
    line-height: 50px;
    border-radius: 40px;
    margin-right:10px;
    margin-bottom:20px;
}
.btn-add-wish-list{
    background-color:unset !important;
    color: #6c6c6c;
    &:hover{
        color: #6c6c6c;
    }
}