/*Color for text*/
$transparent: transparent;
$white: #ffffff;
$lightGray: #EFEFEF;
$lightGray2: #fafafa;
$pink: #f62f5e;
$yellow: #ffc94f;
$lighBlue: #6eb2fb;
$cyan: #00d3ca;
$orange: #fe5c07;
$yellow2: #f8e71c;
$yellowGreen: #7ed321;
$violet: #9013fe;

/*color for background*/
$bgTransparent: $transparent;
$bgLightGray: $lightGray;
$bgLightGray2: $lightGray2;
$bgWhite: $white;
$bgPink: $pink;
$bgYellow2: $yellow2;
$bgLighBlue: $lighBlue;
$bgCyan: $cyan;
$bgOrange: $orange;
$bgYellowGreen: $yellowGreen;
$bgViolet: $violet;

/*color selection*/
.colorsSelection, .colorLighBlue, .colorCyan, .colorPink, .colorOrange, .colorYellow2, .colorYellowGreen, .colorViolet{
    height:26px !important;
    width: 26px !important;
    border-radius: 18px;
    margin-right: 5px;
    border:4px solid white;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(231,231,231,0);
    -moz-box-shadow: 0px 0px 0px 2px rgba(231,231,231,0);
    box-shadow: 0px 0px 0px 2px rgba(231,231,231,0);
    cursor: pointer;
}
.colorbgLighBlue{ background-color: $bgLighBlue;}
.colorbgCyan{ background-color: $bgCyan; }
.colorbgPink{ background-color: $bgPink; }
.colorbgOrange{ background-color: $bgOrange; }
.colorbgYellow2{ background-color: $bgYellow2; }
.colorbgYellowGreen{ background-color: $bgYellowGreen; }
.colorbgViolet{ background-color: $bgViolet; }
.colorsSelection {
    &:hover {
        -webkit-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
        -moz-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
        box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
    }
}
.colorSelected{
    -webkit-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
    box-shadow: 0px 0px 0px 2px rgba(231,231,231,1);
}

/*size selection*/
.sizeSelection, .sizeSelectionSelected{
    background-color: $bgLightGray2;
    color:#6c6c6c;
    margin-top:5px;
    margin-left: 5px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    &:hover{
        background-color: $bgLightGray;
        color:#6c6c6c !important;
    }
}
.sizeSelectionSelected{
    background-color: $bgPink !important;
    color:white !important;
    &:hover{
        color:white !important;
    }
}

/*call to action buttons*/
.btnAddCart, .btnAddWishList{
    text-align: center !important;
    font-size:15px;
    line-height: 50px;
    border-radius: 40px;
    margin-right:10px;
    margin-bottom:20px;
}
.btnAddWishList{
    background-color:unset !important;
    color: #6c6c6c;
    &:hover{
        color: #6c6c6c;
    }
}