 
<style type="text/css" media="all">  
    .zGraph {
        width: 100%;
        height: 300px;
    } 
    #gridScannedPeople .zHeaders .title .text { 
        width: 100% !important;
    }
</style>
<div class="panel main">
    <div class="panel-container">
        <div class="panel-content">
            <div class="col-md-12 col-sm-12 col-xs-12" id="nonBankPersonnel">    
                <div class="row mt-3"> 
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="panel mb-0">
                            <div class="panel-hdr text-primary">
                                <h2>
                                    <span class="mr-2"><i class="far fa-chart-pie"></i></span>Yearly Records
                                </h2> 
                                <div class="panel-toolbar"> 
                                    <button class="btn btn-panel waves-effect waves-themed far fa-window-minimize" data-action="panel-collapse" data-offset="0,10" data-original-title="Collapse" data-toggle="tooltip" title="Collapse"></button>
                                    <button class="btn btn-panel waves-effect waves-themed fas fa-expand" data-action="panel-fullscreen" data-offset="0,10" data-original-title="Fullscreen" data-toggle="tooltip" title="Expand"></button> 
                                </div>
                            </div>
                            <div class="panel-container show">
                                <div class="panel-content">
                                    <div class="panel-container collapse show">
                                        <div class="panel-content">
                                            <div class="zGraph" id="graph1"></div>
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
            <div class="panel-content row mb-3" id="newDiv">   
            </div>
        </div>
    </div>
</div>
<div id="modalDailyRecords" class="modal fade modal-backdrop-transparent" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"> 
                <h5 id="modalTitle" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-sm-12 col-md-12">  
                    <div class="row"> 
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div class="zGrid" id="gridModalDailyRecords"></div>
                        </div>  
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div> 