<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="row">
                <div class="col-12 col-xl-7 col-md-5 col-sm-5">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-categories" role="tab" aria-controls="nav-categories"> Categories</a>
                        <a class="nav-item nav-link " data-toggle="tab" href="#nav-types" role="tab" aria-controls="nav-types"> Types </a>
                        <a class="nav-item nav-link " data-toggle="tab" href="#nav-classes" role="tab" aria-controls="nav-classes"> Classes </a>
                      </div>
                    </nav>
                </div>
           </div>   
            <div class="tab-content" id="nav-tabContent">
                <div role="tabpanel" class="tab-pane fade show active" id="nav-categories">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridCategories" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveCategory" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnDeleteCategory" title="Delete">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-types">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridTypes" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveTypes" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnDeleteTypes" title="Delete">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-classes">
                    <div class="zContainer">
                        <div class="row"> 
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div id="gridClasses" class="zGrid mb-1"></div> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveClasses" title="Save">
                                        <i class="far fa-save"></i> Save
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnDeleteClasses" title="Delete">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
