<style>
    #username{
        display:none;
    }
    .popover-body{
        color:red;
    }
</style>

<div class="page-wrapper">
    <div class="page-inner">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="flex-1">
                <div class="container" style="margin: 0; padding: 0;">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-7 col-xl-4 col-xs-12">
                            <div class="card p-5 rounded-plus color-primary-500">
                                <form id="frm" method="post" class="needs-validation" novalidate>
                                    <input type="text" name="username" id="username" class="form-control input-sm" >
                                    <div class="row mb-3">
                                        <label class="form-label"><b>Current Password</b><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="password" id="old_password" name="old_password"  class="form-control border-right-0 bg-transparent pl-2" autocomplete="off" required>
                                            <div class="input-group-append">
                                                <button id="oldPassBtn" type="button" class="input-group-text bg-transparent border-left-0 py-1 px-3 text-primary">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="form-label"><b>New Password</b><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="password" id="new_password" name="new_password" class="form-control border-right-0 bg-transparent pl-2" autocomplete="off" required>
                                            <div class="input-group-append">
                                                <button id="newPassBtn" type="button" class="input-group-text bg-transparent border-left-0 py-1 px-3 text-primary">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                            <div class="input-group-append">
                                                <span id="pop1" aria-describedby="popover983983" data-placement="right" data-content="Password is the same with old password."></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <label class="form-label"><b>Re-type New Password</b><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="password" id="retype_password" name="retype_password" class="form-control border-right-0 bg-transparent pl-2" autocomplete="off" required>
                                            <div class="input-group-append">
                                                <button id="reTypePassBtn" type="button" class="input-group-text bg-transparent border-left-0 py-1 px-3 text-primary">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                            <div class="input-group-append">
                                                <span id="pop2" aria-describedby="popover983983" data-placement="right" data-content="Passwords do not match!"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <button id="btnSave" type="button" class="btn btn-primary btn-sm hvr-sweep-to-left"><i class="far fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#frm").attr("action", base_url + "account/changepassword");
</script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body panel" style="margin-bottom:0">
                <p id="msg">Are you sure you want to update your password?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSavePassword" class="btn btn-primary btn-sm">Yes</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
