<div id="dashboard">
    <style type="text/css" media="all">
        .fa-filter{color: #fff;}
        .fa-caret-down, .fa-caret-up{font-size: 20px;}
        .hidden .panel { margin-bottom: 0.5rem !important;}
        .pendingHeader,.upComingHeader1,.upComingHeader2,.upComingHeader3 {cursor: -webkit-grab;cursor: pointer;}
        .hv:hover{background-color: #F5F5F5;}
        .inputText{padding-left:4px;}
        .inputText{border: none; background: none !important;}
        #btnSearchPO:disabled {color: #212529;background-color: gray;border-color: #9e9999;}
        .buttonGroup { margin-top: 85px; margin-right: 0px; padding-left: 6px; margin-bottom: 5px;}
        .heading{padding-left:25px;font-weight:bold;border:none;}
        .left{padding-left: 3%;}
        .col-left{float: left;}
        .col-right{float: right;text-align: center;}
        label{font-weight: bold;color: black;}
        #number_order_parts{color: blue;cursor: pointer;}
        .modal-backdrop {position: inherit;top: 0;left: 0;z-index: 2040; width: 100vw;height: 100vh;background-color: #000;}
        .col-label {padding-top: calc(.1rem + 1px);padding-bottom: calc(.1rem + 1px); margin-bottom: 0;font-size: inherit;line-height: 1.5;white-space: nowrap;text-align: center;text-decoration: underline;}
        .SearchPanel table{width: 100%;}  
        #gridOrders .zHeaders .title,
        #gridOrders .zHeaders .title .text{
            width: 100%;
            text-align: center;
        }
        .modal-body .nav-tabs .nav-link.active {
            color: #fff;
            background-image: linear-gradient(to bottom, #F11716 0px, #CA1F14 100%);
        }
    }
    </style>
    <div class="panel main">
        <div class="panel-container">
            <div class="panel-content">
                <div class="col-md-12 col-sm-12 col-xs-12" id="filterCulomns"> 
                    <div class="row ">  
                        <div class="col-sm-6 col-md-4 col-xs-12 mb-1">
                            <label for="oem_id" class="col-form-label control-label">OEM</label>
                            <div class="input-group"> 
                                <select type="text" class="autoCaps form-control form-control-sm " id="oem_id" name="oem_id" ></select>
                                <div class="input-group-append">
                                    <button id="btnGo" class="btn-sm btn btn-primary btn-outline-default" type="button">
                                        <i class="fa fa-filter"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mb-1">
                            <label for="program_id" class="col-form-label control-label">Search For</label>
                            <div class="input-group">
                                <select type="text" class="autoCaps form-control form-control-sm " id="dd_search_id" name="dd_search_id"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mb-2">
                            <label for="program_id" class="col-form-label control-label">Keyword </label>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm desc-prop-group autoCaps pl-2" id="searchPo" name="searchPo">
                                <div class="input-group-append">
                                    <button id="btnSearchPO" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Search"><i class="fas fa-search"></i></button>
                                </div> &nbsp;&nbsp;
                                <div class="input-group-append">
                                    <button id="btnClear" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Clear">
                                        <i class="fas fa-eraser"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="panel p-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="gridOrders" class="zGrid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
