<!---->
<div id="dashboardpop1">
    <link rel="stylesheet" media="screen, print" href='/css/formplugins/summernote/summernote.css'>
    <style>
        #gridOrderList .zHeaders .title .text {
            width: 100%;
        } 
        #gridPlpd .zHeaders .title .text {
            width: 100%;
        }  
        .zGrid .zPageFooter .pagectrl{
            display:none;
        }
        .text{
            border: unset;
        }
        #modalMoreInfo .zGrid .title .text,
        #modalOrderList .zGrid .title .text {
            padding-left: 4px;
             white-space: unset;
             padding-top: 13px;
            font-size: 0.7rem;
             height: 50px; 
        }
        #modalMoreInfo .item,
        #modalOrderList .item {
            height: 40px;
            padding-top: 5px;
        }
        .note-editable{
           height: 200px;
        } 
        .zGrid .zCell{
            padding: 0 3px;
        }
    </style>
    <div class="hide" id="cloneWrapper"></div>
    <div class="modal zsi-elliptic-top" id="modalMoreInfo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalMoreInfo">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalMoreInfoLabel"> Title </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                             <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="plat_form" class="col-form-label">Platform</label>
                                <select class="autoCaps form-control form-control-sm" id="plat_form" name="plat_form"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="Program" class="col-form-label">Program</label>
                                <select class="autoCaps form-control form-control-sm" id="filter_program" name="filter_program"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="build_phase_id" class="col-form-label">Model Year</label>
                                <select class="autoCaps form-control form-control-sm" id="model_year" name="model_year"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="build_phase_id" class="col-form-label">Order Type</label>
                                <select class="autoCaps form-control form-control-sm" id="order_type" name="order_type"></select>
                            </div> 
                        </div>
                        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="build_phase_id" class="col-form-label">Ship to Location</label> 
                                <select class="autoCaps form-control form-control-sm" id="ship_location" name="ship_location"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="build_phase_id" class="col-form-label">Build Phase</label>
                                <select class="autoCaps form-control form-control-sm" id="filter_build_phase_id" name="filter_build_phase_id"></select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="order_status_id" class="col-form-label control-label">Order Status</label>
                                <select class="autoCaps form-control form-control-sm" id="filter_order_status_id" name="filter_order_status_id"></select>
                            </div> 
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label for="customer_id" class="col-form-label control-label">Customer</label>
                                <select type="text" class="autoCaps form-control form-control-sm " id="filter_customer_id" name="filter_customer_id"></select>
                            </div> 
                            
                        </div> 
                        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                            <div class="col-md-3 col-sm-6 col-xs-12 mb-3">
                                <label for="enterPONumber" class="col-form-label control-label">Plant</label>
                                <div class="input-group">
                                    <select type="text" class="autoCaps form-control form-control-sm " id="filter_plants" name="filter_plants"></select>
                                    <!--<div class="input-group-append">
                                        <button id="btnFilter" class="btn-primary btn-sm btn btn-outline-default" type="button">
                                            <i class="fas fa-filter"></i>
                                        </button>
                                    </div>-->
                                    <!--<div class="input-group-append ml-1">
                                        <button id="btnPopClear" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Clear">
                                            <i class="fas fa-eraser"></i> Clear
                                        </button>
                                    </div>-->
                                </div>
                            </div> 
                            <div class="col-sm-6 col-md-3 col-xs-12 mb-1">
                                <label for="dd_searchPO" class="col-form-label control-label">Search For</label>
                                <div class="input-group">
                                    <select type="text" class="autoCaps form-control form-control-sm " id="dd_searchPO" name="dd_searchPO"></select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-xs-12 mb-2">
                                <label for="program_id" class="col-form-label control-label">Keyword </label>
                                <div class="input-group">
                                    <input type="search" class="form-control form-control-sm desc-prop-group autoCaps pl-2" id="searchPo" name="searchPo">
                                    <div class="input-group-append">
                                        <button id="btnSearchPO" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Search"><i class="fas fa-search"></i></button>
                                      
                                    </div> 
                                </div>
                            </div> 
                             <div class="col-sm-6 col-md-3 col-xs-12 mb-2">
                               <div class="form-group pt-1"></div> 
                                <div class="input-group"> 
                                    <div class="input-group-append">
                                        <button id="btnFilter" class="btn-primary btn-sm btn btn-outline-default" type="button">
                                            <i class="fas fa-filter"></i>
                                        </button> &nbsp;
                                        <button id="btnOrderlistClear" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Clear">
                                            <i class="fas fa-eraser"></i> Clear
                                        </button> &nbsp;
                                        <button id="filterCol" type="button" class="btn btn-primary btn-outline-default text-white btn-sm dropdown-toggle bg-brand-gradient waves-effect waves-themed hide" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Filter Columns
                                        </button>
                                        <div class="dropdown-menu fadeinright dropdown-menu-right" x-placement="bottom-start" style="position: absolute; will-change: top, left; top: 37px; left: 0px;">
                                            <!--<div class="container" id="filterColumnsCon">-->
                                                <div class="list-group list-group-flush" id="filterColumns"></div>
                                            <!--</div>-->
                                        </div>
                                       
                                         
                                    </div> 
                                </div>
                            </div> 
                        </div> 
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <nav>
                                <div class="nav nav-tabs nav-tab-main mb-2" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link mainTab active" data-toggle="tab" href="#nav-ol" role="tab" id="main1">Order List</a>
                                    <a class="nav-item nav-link mainTab" data-toggle="tab" href="#nav-mld" role="tab"  id="main2">MLD Replacements</a>
                                    <a class="nav-item nav-link mainTab" data-toggle="tab" href="#nav-rb" role="tab" id="main3">Red Border</a>
                                    <a class="nav-item nav-link mainTab hide" data-toggle="tab" href="#nav-plpd" role="tab" id="main4">Lear Promise Date for Confirmation</a>
                                    <a class="nav-item nav-link mainTab hide" data-toggle="tab" href="#nav-mfg"  role="tab" id="main5">Manufacturing</a>
                                    <a class="nav-item nav-link mainTab hide" data-toggle="tab" href="#nav-whs" role="tab" id="main6">Warehouse</a>
                                    <a class="nav-item nav-link mainTab" data-toggle="tab" href="#nav-co" role="tab" id="main7">Cancelled Order Parts</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div role="tabpanel" class="tab-pane fade show active" id="nav-ol">
                                    <div class="panel p-2 ">
                                        <div class="row">  
                                            <div class="col-md-12 col-sm-12 col-xs-12"> 
                                                <div id="gridOrderList" class="zGrid mb-2"></div>  
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol" id="btnRevise">Revise</button>
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol" id="btnPOCopy">Copy P.O</button>
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol" id="btnMLDRep">MLD Replacement</button>
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol" id="btnAddAttachement">Add Attachment</button> 
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol btnCancel" >Cancel Order Part</button> 
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol btnNightLetter" >Night Letter</button> 
                                                    <button type="button" class="btn btn-primary btn-sm hide btn-ol btnExportList" >Export Lists</button>
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol btnExportDetails" >Export Details</button> 
                                                    <button type="button" class="btn btn-primary btn-sm hide button-group btn-ol btnAddItem" >Add Item</button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-mld">
                                    <div class="panel p-2 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="gridMLD" class="zGrid mb-2"></div>
                                                <button type="button" class="btn btn-primary btn-sm hide btnExport">Export Lists</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-rb">
                                    <div class="panel p-2 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="gridRedBorder" class="zGrid mb-2"></div>
                                                <button type="button" class="btn btn-primary btn-sm hide btnExport btnExportList">Export Lists</button>
                                                <button id="btnAddRedborder" title="Add Red Border"  type="button" class="btn btn-primary btn-sm hide btnExport">Add Red Border</button>
                                                <button id="btnEditRedborder" title="Edit Red Border"  type="button" class="btn btn-primary btn-sm hide btnExport">Edit Red Border</i></button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-plpd">
                                    <div class="panel p-2 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="gridPlpd" class="zGrid mb-2"></div>
                                                <button type="button" class="btn btn-primary btn-sm hide btnExport btnExportList">Export Lists</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                <div role="tabpanel" class="tab-pane fade" id="nav-mfg">
                                    <nav>
                                        <div class="nav nav-tabs mb-2 nav-tab-sub nav-sub-mfg" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link nav-mfg active" data-toggle="tab" href="#nav-mfg" role="tab" id="mfg1">Pending Plant Target Ship Dates</a>
                                            <a class="nav-item nav-link nav-mfg" data-toggle="tab" href="#nav-mfg" role="tab" id="mfg2">Upcoming Plant Ship Dates (< 7 Days)</a>
                                            <a class="nav-item nav-link nav-mfg" data-toggle="tab" href="#nav-mfg" role="tab" id="mfg3">Upcoming Plant Ship Dates (< 14 Days)</a>
                                            <a class="nav-item nav-link nav-mfg" data-toggle="tab" href="#nav-mfg" role="tab" id="mfg4">Upcoming Plant Ship Dates (< 21 Days)</a>
                                            <a class="nav-item nav-link nav-mfg" data-toggle="tab" href="#nav-mfg" role="tab" id="mfg5">Overdue Plant Ship Dates</a>
                                        </div>
                                    </nav>
                                    <div class="panel p-2 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="gridMfg" class="zGrid mb-2"></div>
                                                
                                                <!--<button type="button" class="btn btn-primary btn-sm hide btn-mfg" id="btnGeneratePSN">Generate PSN</button>-->
                                                <!--<button type="button" class="btn btn-primary btn-sm hide btn-mfg" id="btnShipToCustomer">Ship to Customer</button>-->
                                                <button type="button" class="btn btn-primary btn-sm hide btnExport btnExportList">Export Lists</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-whs">
                                    <nav>
                                        <div class="nav nav-tabs  mb-2 nav-tab-sub nav-sub-whs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link nav-whs active" data-toggle="tab" href="#nav-whs" role="tab" id="whs1">Upcoming customer MRD's (< 1 week)</a>
                                            <a class="nav-item nav-link nav-whs" data-toggle="tab" href="#nav-whs" role="tab" id="whs2">Shipments in-route to warehouse</a>
                                            <a class="nav-item nav-link nav-whs" data-toggle="tab" href="#nav-whs" role="tab" id="whs3">Shipments in-route to customer</a>
                                            <!--<a class="nav-item nav-link nav-whs" data-toggle="tab" href="#nav-whs" role="tab">Proof of Delivery</a>-->
                                        </div>
                                    </nav>
                                    <div class="panel p-2 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="gridWhs" class="zGrid mb-2"></div>
                                                <button type="button" class="btn btn-primary btn-sm hide btnExport btnExportList">Export Lists</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-co"> 
                                    <div class="panel p-2 ">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="gridCanceledOrders" class="zGrid mb-2"></div>
                                                <button type="button" class="btn btn-primary btn-sm hide btnExport btnExportList">Export Lists</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal zsi-elliptic-top" id="modalWindowRedBorder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-md" role="document">
            <div class="modal-content">
                <form id="frm_modalWindowRedBorder">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>Red Border</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" id="redBorderClose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <input name="red_border_id" id="red_border_id" type="hidden">
                                    <input name="is_edited" id="is_edited" type="hidden">
                                    <input name="order_part_id" id="order_part_id" type="hidden">
                                    <div class="">
                                        <div class="">
                                            <label for="red_border_no" class="col-form-label control-label">Red Border No</label>
                                            <input type="text" class="autoCaps form-control" id="red_border_no" name="red_border_no">
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            <label for="red_border_date" class="col-form-label control-label">Red Border Date</label>
                                            <input type="text" class="autoCaps form-control" id="red_border_date" name="red_border_date">
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            <label for="red_border_date" class="col-form-label control-label">Red Border Status</label>
                                            <select type="text" class="autoCaps form-control" id="red_border_status" name="red_border_status"></select>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            <label for="comment" class="col-form-label control-label">Comment</label>
                                            <textarea rows="10" col="5" class="form-control " id="comment" name="comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" mt-2">
                                <button type="button" class="btn btn-primary btn-sm mt-2" id="btnSaveRedBorder" data-toggle="tooltip" title="Save">
                                    <i class="far fa-save"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal zsi-elliptic-top" id="modalPOCopy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                 <form id="frm_modalPOCopy">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>P.O. Copy</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                               <div class="form-group mx-4">
                                   <label class="form-label" for="inputGroupFile01">Title :</label>
                                   <div class="input-group">
                                       <div class="mx-auto">
                                           <input type="hidden" id="prefixKey" name="prefixKey" value="dashboard.">
                                           <input type="hidden" id="order_id" name="order_id">
                                           <input type="hidden" id="order_part_id" name="order_part_id">
                                           <input type="hidden" id="attachment_id" name="attachment_id">
                                           <input type="text" class="form-control" id="attachment_title" name="attachment_title">
                                       </div>
                                   </div>
                                </div>
                                <div id="divPOCopy"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" id="btnSubmitPOCopy" data-toggle="tooltip" title="Save">
                            <i class="far fa-save"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <div class="modal zsi-elliptic-top" id="modalCopyPO" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalCopyPO">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>PO Attachment</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="gridCopyPO" class="zGrid mb-2"></div>
                                
                                <button type="button" class="btn btn-primary btn-sm" id="btnSaveCopyPO" title="Save">
                                    <i class="far fa-save"></i> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <div class="modal zsi-elliptic-top" id="modalMLDReplacement" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalMLDReplacement">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>MLD Replacement</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="panel mb-2">
                            <div class="panel-container">
                                <div class="panel-content">  
                                    <div role="content" id="tableOrders">  
                                        <div id="tableOrder"> 
                                            <div class="form-row">
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="oem_name" class=" col-form-label p-0">OEM</label>
                                                    <span class=" form-control inputText form-control-sm p" id="oem_name" name="oem_name"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="platform" class=" col-form-label p-0">Platform</label> 
                                                    <span class=" form-control inputText form-control-sm p" id="platform_code" name="platform_code"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="program_code" class=" col-form-label p-0">Program</label> 
                                                    <span class=" form-control inputText form-control-sm p" id="program_code" name="program_code"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="customer" class=" col-form-label p-0">Customer</label> 
                                                    <span class=" form-control inputText form-control-sm p" id="customer" name="customer"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="customer_contact" class=" col-form-label p-0">Customer Contact</label> 
                                                    <span class=" form-control inputText form-control-sm p" id="customer_contact" name="customer_contact"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="site_code" class=" col-form-label p-0">Site Code</label> 
                                                    <span class=" form-control inputText form-control-sm p" id="site_code" name="site_code"></span>
                                                </div>
                                            </div>  
                                            <div class="form-row"> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="build_phase" class=" col-form-label p-0">Build Phase</label>
                                                    <span class=" form-control inputText form-control-sm p" id="build_phase" name="build_phase"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="model_year" class=" col-form-label p-0">Model Year</label>
                                                    <span class=" form-control inputText form-control-sm p" id="model_year" name="model_year"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="engr_manager" class=" col-form-label p-0">Engineer Manager</label>
                                                    <span class="form-control inputText form-control-sm p" id="engr_manager" name="engr_manager"></span>
                                                </div> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="program_manager" class=" col-form-label p-0">Program Manager(s)</label>
                                                    <span class="form-control inputText form-control-sm p" id="program_manager" name="program_manager"></span>
                                                </div> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="car_leader" class=" col-form-label p-0">Car Leader(s)</label>
                                                    <span class="form-control inputText form-control-sm p" id="car_leader" name="car_leader"></span>
                                                </div> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                                    <label for="launch_manager" class=" col-form-label p-0">Launch Manager(s)</label>
                                                    <span class="form-control inputText form-control-sm p" id="launch_manager" name="launch_manager"></span>
                                                </div> 
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="warehouse_contact" class=" col-form-label p-0"><b>Warehouse Contact(s)</b></label>
                                                    <span class="form-control form-control-sm inputText" id="warehouse_contact" name="warehouse_contact"></span>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="po_no" class=" col-form-label p-0"><b>PO No.</b></label>
                                                    <span class="form-control form-control-sm inputText" id="po_no" name="po_no" ></span>
                                                </div> 
                                                 <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="po_issue_date" class=" col-form-label p-0"><b>PO Issue Date</b></label>
                                                    <span class="form-control form-control-sm inputText" id="po_issue_date" name="po_issue_date" ></span>
                                                </div> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="order_type" class=" col-form-label p-0"><b>Order Type</b></label>
                                                    <span class="form-control inputText form-control-sm" id="order_type" name="order_type"></span>
                                                </div> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="rev_no" class=" col-form-label p-0"><b>Rev. No.</b></label>
                                                    <span class="form-control inputText form-control-sm" id="rev_no" name="rev_no"></span>
                                                </div> 
                                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                                    <label for="rev_no" class=" col-form-label p-0"><b>Status</b></label>
                                                    <span class="form-control inputText form-control-sm" id="status_desc" name="status_desc"></span>
                                                </div> 
                                            </div> 
                                    	   	<!--<div class="form-row">-->
                                    	   	<!--    <div class="col-sm-6 mb-0">-->
                                         <!--           <label class="col-form-label p-0"><b>Attachment(s)</b></label>-->
                                         <!--           <div id="divAttachment"></div>-->
                                         <!--       </div>   -->
                                         <!--       <div class="col-sm-6 mb-0">-->
                                         <!--           <label class="col-form-label p-0"><b>Comment(s)</b></label>-->
                                         <!--           <div id="divComment" ></div>-->
                                         <!--       </div>  -->
                                    	   	<!--</div> -->
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="gridMLDOrderParts" class="zGrid mb-2"></div>
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-sm" id="btnSaveMLDOrderParts" title="Save"><i class="far fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <div class="modal zsi-elliptic-top" id="modalRevise" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalRevise">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>Revise</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="panel">
                            <div class="panel-container">
                                <div class="panel-content">  
                                    <div role="content" id="tableOrderRevise">  
                                        <div id="tableOrder"> 
                                			<input name="order_id"                  id="order_id"               type="hidden">
                                            <input name="is_edited"                 id="is_edited"              type="hidden">
                                            <div class="row"> 
                                            	<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label control-label text-label">OEM</label>  
                                                    <label for="" class="col-form-label form-control control-label clearText text" id="oem_id" name="oem_id" ></label>
                                        		</div>
                                        		<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="customer" class="col-form-label text-label">Customer</label>   
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="customer_id" name="customer_id" ></label>
                                        		</div>
                                        		<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label text-label">Customer Contact</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="contact_id" name="contact_id" ></label>
                                        		</div>
                                        		<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label text-label">Site Code(s)</label>  
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="site_id" name="site_id" ></label>
                                        		</div>
                                        	
                                        	</div>
                                        	<div class="row"> 
                                        		<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label control-label text-label">Program</label>  
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="program_id" name="program_id" ></label>
                                        		</div>
                                        		<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label text-label">Build Phase</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="build_phase_id" name="build_phase_id" ></label>
                                        	   	</div> 
                                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                                        	  	    <label for="" class="col-form-label control-label text-label">Model Year</label>
                                        	  	    <label for="" class="col-form-label form-control control-label clearText text" id="model_year" name="model_year" ></label>
                                        		</div> 
                                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                                        		    <label for="" class="col-form-label text-label">Car Leader(s)</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="car_leaders" name="car_leaders"></label>
                                        		</div>  
                                        	</div> 
                                        	<div class="row"> 
                                        	
                                        		<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label text-label">Engineering Manager</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text"   id="engr_manager" name="engr_manager"></label>
                                        	   	</div> 
                                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                                        	  	    <label for="" class="col-form-label control-label text-label">Program Manager(s)</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="program_managers" name="program_managers"></label>
                                        		</div> 
                                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                                        		    <label for="" class="col-form-label text-label">Car Leader(s)</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="car_leaders" name="car_leaders"></label>
                                        		</div>  
                                        	</div> 
                                        	<div class="row"> 
                                        		<div class="col-sm-6 col-md-3 col-xs-12 bm">
                                            		<label for="" class="col-form-label text-label">Launch Manager(s)</label>
                                            	    <label for="" class="col-form-label form-control control-label clearText text" id="launch_managers" name="launch_managers"></label>
                                        		</div> 
                                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                                        		    <label for="" class="col-form-label text-label">Warehouse Contact(s)</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="warehouse_contacts" name="warehouse_contacts"></label>
                                        		</div> 
                                    	    	<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label text-label">PO#</label> 
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="po_no" name="po_no" ></label>
                                              	</div> 
                                            	<div class="col-sm-6 col-md-3 col-xs-12">
                                        		    <label for="" class="col-form-label text-label">PO Issue Date</label> 
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="po_issue_date" name="po_issue_date" ></label>
                                        		</div>
                                        	</div>
                                        	<div class="row"> 
                                        		<div class="col-sm-6 col-md-3 col-xs-12 hide" id="wrap-rev-no">
                                        		    <label for="" class=" col-form-label text-label">Rev No</label>  
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="rev_no" name="rev_no" ></label>
                                               	</div>
                                        		<div class="col-sm-6 col-md-3 col-xs-12 hide" id="wrap-order-type">
                                        		    <label for="" class="col-form-label text-label">Order Type</label>
                                        		    <label for="" class="col-form-label form-control control-label clearText text" id="order_type_id" name="order_type_id" ></label>
                                        	   	</div> 
                                        	</div>
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="gridRevise" class="zGrid mb-2"></div>
                                <button type="button" class="btn btn-primary btn-sm" id="btnSaveRevise" title="Save"><i class="far fa-save"></i> Save</button>
                                <button type="button" class="btn btn-primary btn-sm" id="btnDeleteRevise" title="Save"><i class="far fa-trash-alt"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
    <div class="modal zsi-elliptic-top" id="modalCancelOrderPart" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-md" role="document" style="top: 10% !important;">
        <div class="modal-content">
            <div id="frm_modalCancelOrderPart"> 
                <div class="modal-body"> 
                    <div class="row">
                        <form id="tableCancelOrder">  
                            <div class="col-sm-12 col-xs-12">
                    		    <label for="" class="col-form-label text-label mb-2">Cancel Order Part</label>
                                <input id="id" name="id" type="hidden">
                    		    <textarea class="form-control form-control-sm " id="comment" name="comment"></textarea>
                    	   	</div> 
                	   	</form>
                   	</div>  
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" > 
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnSaveCancel" title="Save"> Cancel Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <ul name="localTemplates">
        <li name="modalBodyOrderPartDetails">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                    <div id="{{grid}}" style="margin-top: 10px;" class="zGrid"></div>
                </div>
            </div>
        </li>
        <!--<li name="comment">-->
        <!--    <div class="row">-->
       	<!--        <div class="col-12">-->
        <!--            <small>{{{comment}}}</small>-->
        <!--	   	</div> -->
        <!--    </div>-->
        <!--</li> -->
        <!--<li name="attachement">-->
        <!--    <div class="row">-->
       	<!--        <div class="col-12">-->
       	<!--            <a href="{{{url}}}" class="view_file" target="_blank" data-toggle="tooltip" data-html="true" data-original-title="View File">-->
    		  <!--          <i i class="fas fa-eye mr-1"></i> <small class="mr-1">{{createdDate}} | {{{title}}} </small>-->
    		  <!--      </a>-->
        <!--	   	</div>-->
        <!--    </div>-->
        <!--</li> -->
        <li name="checkbox">
            <div class="list-group-item py-1">
                <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" id="{{id}}" value="{{index}}">
                    <label class="form-check-label" for="{{id}}">{{name}}</label>
                </div>
            </div>
        </li>
    </ul>
    <script src='/js/formplugins/summernote/summernote.js'></script>
</div>