<div id="dashboardpop2">
    <link rel="stylesheet" media="screen, print" href='/css/formplugins/summernote/summernote.css'>
    <style>
        .mt-7{
            margin-top: 8.5rem !important;
        }
        .tooltip-inner {
            max-width: 100%; 
        }
        /*.p{
            font-weight: bold;
        }*/
    </style>
    <div class="modal zsi-elliptic-top" id="modalUpcoming" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div id="frm_modalUpcoming">
                    <div class="modal-header">
                        <h5 class="modal-title" id="upcomingHeader"> </h5>
                        <button type="button" id="modalButton" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                    <div class="modal-body">
                        <div id="modalHeader">
                            <div class="form-row pl-2">
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                    <label for="part_no" class=" col-form-label">Program</label> 
                                    <p type="text" class=" form-control inputText form-control-sm p" id="program_code" name="program_code" readonly></p>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0"> 
                                    <label for="part_no" class=" col-form-label">OEM</label>
                                    <p type="text" class=" form-control inputText form-control-sm p" id="oem_part_no" name="oem_part_no" readonly></p>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0"> 
                                    <label for="part_no" class=" col-form-label">PO No</label>
                                    <p type="text" class=" form-control inputText form-control-sm p" id="po_nos" name="po_nos" readonly></p>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0"> 
                                    <label for="part_no" class=" col-form-label">Rev No</label>
                                    <p type="text" class="form-control inputText form-control-sm p" id="rev_nos" name="rev_nos" readonly></p>
                                </div> 
                            </div> 
                             <div class="form-row pl-2"> 
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0"> 
                                    <label for="part_no" class=" col-form-label">Engineer Manager</label>
                                    <p type="text" class="form-control inputText form-control-sm p" id="engr_manager" name="engr_manager" readonly></p>
                                </div> 
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                     <label for="part_no" class=" col-form-label">Status</label>
                                    <p type="text" class="col-12 form-control inputText form-control-sm p" id="order_status" name="order_status" readonly></p>  
                                </div> 
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0"> 
                                    <label for="part_no" class=" col-form-label">Customer</label>
                                    <p type="text" class="col-12 form-control inputText form-control-sm p" id="customer" name="customer" readonly></p> 
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                     <label for="part_no" class=" col-form-label">MRD</label>
                                    <p type="text" class="col-12 form-control inputText form-control-sm p" id="cust_Mrd" name="cust_Mrd" readonly></p>  
                                </div>  
                            </div>  
                        </div>
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-tab-coordinates" id="nav-tab" role="tablist" style="margin-top:50px;">
                                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-o" role="tab" aria-controls="nav-o"> Order Info</a>
                                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-c" role="tab" aria-controls="nav-c"> Customer Info</a>
                                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-p" role="tab" id="plpdInput" aria-controls="nav-m">Pending Lear Promise Date</a>
                                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-m" role="tab" id="mfgInput" aria-controls="nav-m">Manufacturing Input</a>
                                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-w" role="tab" id="whsInput" aria-controls="nav-w">Warehouse Input</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div role="tabpanel" class="tab-pane fade show active" id="nav-o">
                                    <form style="margin-top: 10px;"> 
                                        <div class="form-row">
                                            <input type="hidden" id="index_no" name="index_no">
                                            <div class="col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="part_no" class=" col-form-label"><b>Customer Part Number</b></label>
                                                <input type="text" class="col-12 form-control form-control-sm inputText" id="customer_part_no" name="customer_part_no" readonly>
                                            </div>
                                            <div class=" col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="description" class=" col-form-label"><b>Part Description</b></label>
                                                <input type=text class="col-12 form-control form-control-sm inputText" id="partDescription" name="partDescription" readonly>
                                            </div> 
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="model_year" class=" col-form-label"><b>Model Year</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="model_year" name="model_year" readonly>
                                            </div> 
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="red_border_no" class=" col-form-label"><b>Red Border No</b></label>
                                                <input type="text" class="col-12 form-control inputText form-control-sm" id="red_border_no" name="red_border_no" readonly>
                                            </div> 
                                        </div> 
                                        <div class="form-row">
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="red_border_status" class=" col-form-label"><b>Red Border Status</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="red_border_status" name="red_border_status" readonly>
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="model_year" class=" col-form-label"><b>Build Phase</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="bp" name="bp" readonly>
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="model_year" class=" col-form-label"><b>Po Issue Date</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="po_date" name="po_date" readonly>
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="order_type" class=" col-form-label"><b>Order Type</b></label>
                                                <input type="text" class="col-12 form-control inputText form-control-sm" id="order_type" name="order_type" readonly>
                                            </div> 
                                        </div>
                                        <div class="form-row"> 
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="rate_flow" class=" col-form-label"><b>Rate and Flow</b></label>
                                                <input type="text" class="col-12 form-control inputText form-control-sm" id="rate_flows" name="rate_flows" readonly>
                                            </div>  
                                           
                                            <!--<div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="rate_flow" class=" col-form-label"><b>PO Copy</b></label>
                                                <input type="text" class="col-12 form-control inputText form-control-sm" id="po_copy" name="po_copy" readonly>
                                            </div> -->   
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="number_order_parts" class=" col-form-label"><b>Quantity on PO</b></label>
                                                <p type=text class="col-12 " id="number_order_parts" name="number_order_parts" readonly></p>
                                            </div>  
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="quantity_shipped" class=" col-form-label"><b>Quantity Shipped to Customer</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="quantity_shipped" name="quantity_shipped" readonly>
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-0">
                                                <label for="number_order_parts" class=" col-form-label"><b>Material Lost/Damaged (MLD)</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="mld" name="mld" readonly>
                                            </div>
                                        </div> 
                                	   	<div class="row">
                                	   	    <div id="tableAttachment" class="w-100"> 
                                        	   	<div class="col-sm-6 col-xs-12" >
                                        	   	    <label for="" class="col-form-label text-label">Attachment(s):</label>
                                        	   	    <div id="divAttachment"></div>
                                        	   	</div> 
                                    	   	</div> 
                                	   	</div> 
                                        <div class="form-row"> 
                                	   	    <div id="tableComment" class="w-100"> 
                                        	   	<div class="col-sm-12 col-xs-12" >
                                        	   	    <label for="" class="col-form-label text-label">Comment(s):</label>
                                        	   	    <div id="divComment"></div>
                                        	   	</div> 
                                    	   	</div> 
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-c">
                                    <form style="margin-top: 10px;  ">
                                        <div class="form-row"> 
                                            <div class="form-group col-md-2 mb-0">
                                                <label for="customer_code" class=" col-form-label"><b>Customer Site Code</b></label>
                                                <input type="text" class="col-12 form-control inputText form-control-sm" id="customer_code" name="customer_code" readonly>
                                            </div>
                                            <div class="form-group col-md-2 mb-0">
                                                <label for="ship_address" class=" col-form-label"><b>Ship To Address</b></label>
                                                <input type="text" class="col-12 form-control inputText form-control-sm" id="ship_address" name="ship_address" readonly>
                                            </div>
                                            <div class="form-group col-md-2 mb-0">
                                                <label for="customer_info" class=" col-form-label"><b>Customer Contact Info</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="customer_info" name="customer_info" readonly>
                                            </div>
                                            <div class="form-group col-md-2 mb-0">
                                                <label for="instructions" class=" col-form-label"><b>Special Delivery Instructions</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="instructions" name="instructions"  readonly>
                                            </div>
                                            <div class="form-group col-md-2 mb-0">
                                                <label for="ship_mode" class=" col-form-label"><b>Ship Mode</b></label>
                                                <input type=text class="col-12 form-control inputText form-control-sm" id="ship_mode" name="ship_mode"  readonly>
                                            </div>
                                        </div> 
                                        <div class="btn-group pull-right mt-7">
                                           <!-- <button type="button" onclick="deleteCustomer(this,'C')" class="btn btn-primary btn-sm mt-2">
                                                <span class="fas fa-trash"></span> Delete
                                            </button> &nbsp;-->
                                           <!-- <button type="button" onclick="submitCustomer(this,'C')" class="btn btn-primary btn-sm mt-2">
                                                <span class="fas fa-save"></span> Save
                                            </button> &nbsp;
                                            <button type="button" id="editCustomer" class="btn btn-primary btn-sm mt-2">
                                                <span class="fas fa-edit"></span> Edit
                                            </button>-->
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-p">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel-content">
                                            <div class=" pt-2">
                                                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div id="gridPLPD" class="zGrid mt-2"></div>
                                                    <div class="mt-3"> 
                                                        <div class="btn-group pull-right">  
                                                            <!--<button type="button" onClick="pop2.generatePSN()" class="btn btn-primary btn-sm mt-4">-->
                                                            <!--    <span class="fas fa-save"></span> Generate PSN-->
                                                            <!--</button> &nbsp;-->
                                                            <button type="button" id="submitPLPD" class="btn btn-primary btn-sm mt-4">
                                                                <span class="fas fa-save"></span> Save
                                                            </button> &nbsp; 
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-m">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel-content">
                                            <div class=" pt-2">
                                                <div class=" col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4 mb-0">
                                                            <label for="lear_plant" class=" col-form-label p">Lear Plant</label>
                                                            <input type=text class="col-12 form-control inputText form-control-sm" id="lear_plant" name="lear_plant" readonly>
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            <label for="car_leader" class=" col-form-label p">Car Leader</label>
                                                            <input type="text" class="col-12 form-control inputText form-control-sm" id="car_leader" name="car_leader" readonly>
                                                        </div>
                                                        <div class="form-group col-md-4 mb-0">
                                                            <label for="lear_warehouse" class=" col-form-label p">Lear Warehouse</label>
                                                            <input type="text" class="col-12 form-control inputText form-control-sm" id="lear_warehouse" name="lear_warehouse" readonly>
                                                        </div> 
                                                    </div> 
                                                    <div id="gridManufacturing" class="zGrid mt-2"></div>  
                                                    <div class="mt-3"> 
                                                        <div class="btn-group pull-right">  
                                                            <button type="button" onClick="pop2.generatePSN()" class="btn btn-primary btn-sm mt-4">
                                                                <span class="fas fa-save"></span> Generate PSN
                                                            </button> &nbsp;
                                                            <button type="button" onClick="pop2.submitManufacturing()" id="submitManufacturing" class="btn btn-primary btn-sm mt-4">
                                                                <span class="fas fa-save"></span> Save
                                                            </button> &nbsp;
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="nav-w">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel-content">
                                            <div class=" pt-2">
                                                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div id="gridWarehouse" class="zGrid mt-2"></div>
                                                    <div class="mt-3"> 
                                                        <div class="btn-group pull-right">  
                                                            <button type="button" id="submitWarehouse" class="btn btn-primary btn-sm mt-4">
                                                                <span class="fas fa-save"></span> Save
                                                            </button> &nbsp; 
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul name="localTemplates">
        <li name="comment">
            <form>
                <div class="row">
           	        <div class="col-sm-6 col-xs-12">
                        <input type="hidden" id="comment_id"    name="comment_id"    value="{{commentId}}">
                        <input type="hidden" id="order_id"      name="order_id"      value="{{orderId}}">
                        <input class="col-sm-12 col-xs-12" style="border:none;" type="text"   id="comment"       name="comment"       value="{{comment}}">
            	   	</div> 
                </div>
            </form> 
        </li> 
        <li name="attachement">
            <form>
                <div class="row">
           	        <div class="col-sm-6 col-xs-12">
                        <input type="hidden" id="attachment_id" name="attachment_id"    value="{{attachmentId}}">
                        <input type="hidden" id="order_id"      name="order_id"         value="{{orderId}}">
                        <input type="hidden" id="order_part_id" name="order_id"         value="{{orderPartId}}">
                        <input type="hidden" id="file_name"     name="file_name"        value="{{fileName}}">
                        <input style="border:none;" type="text" class="col-12 form-control form-control-sm p-2" id="attachment_title" name="attachment_title" value="{{attachmentTitle}}">
                        
            	   	</div> 
            	   	<div class="col-sm-6 col-xs-12">
            	   	    <a href="{{{url}}}" class="view_file position-absolute {{status}}" target="_blank" data-toggle="tooltip" data-html="true" data-original-title="{{{title}}}">
        		            <i i class="fas fa-eye"></i>
        		            View File
        		        </a>
                    </div>
              
                </div>
            </form> 
        </li> 

    </ul>
    <div class="modal zsi-elliptic-top" id="modalInfo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalInfo">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>Orders Information</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 877px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel-content" >      
                                <div class=" pt-2"> 
                                    <div class="form-row pl-2">
                                        <input type="hidden" id="index_no" name="index_no">
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                            <label for="part_no" class=" col-form-label"><b>Program Code</b></label>
                                            <p type="text" class=" form-control inputText form-control-sm" id="program_code" name="program_code" readonly></p>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0"> 
                                            <label for="part_no" class=" col-form-label"><b>OEM Part Number</b></label>
                                            <p type="text" class=" form-control inputText form-control-sm" id="oem_part_no" name="oem_part_no" readonly></p>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="part_no" class=" col-form-label"><b>PO No</b></label> 
                                            <p type="text" class=" form-control inputText form-control-sm" id="po_nos" name="po_nos" readonly></p>
                                        </div> 
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="part_no" class=" col-form-label"><b>Engineer Manager</b></label> 
                                            <p type="text" class="form-control inputText form-control-sm" id="engr_manager" name="engr_manager" readonly></p>
                                        </div> 
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="part_no" class=" col-form-label"><b>Customer Part Number</b></label>
                                            <input type="text" class="col-12 form-control form-control-sm inputText" id="customer_part_no" name="customer_part_no" readonly>
                                        </div>
                                         <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="description" class=" col-form-label"><b>Part Description</b></label>
                                            <input type=text class="col-12 form-control form-control-sm inputText" id="description" name="description" readonly>
                                        </div>
                                    </div>   
                                    <div class="form-row">  
                                        <div class=" col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="order_status" class=" col-form-label mt-0"><b>Order Status</b></label>
                                            <span type=text class="col-12 form-control form-control-sm inputText" id="order_status" name="order_status"></span>
                                        </div> 
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="oem_part_no" class="col-form-label"><b>OEM Part Number</b></label>
                                            <input type="text" class="col-12 form-control form-control-sm inputText" id="oem_part_no" name="oem_part_no" readonly>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="model_year" class=" col-form-label"><b>Build Phase</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="bp" name="bp" readonly>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="model_year" class=" col-form-label"><b>Po Issue Date</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="po_date" name="po_date" readonly>
                                        </div> 
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="model_year" class=" col-form-label"><b>Model Year</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="model_year" name="model_year" readonly>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="red_border_no" class=" col-form-label"><b>Red Border No</b></label>
                                            <input type="text" class="col-12 form-control inputText form-control-sm" id="red_border_no" name="red_border_no" readonly>
                                        </div>  
                                    </div> 
                                    <div class="form-row">
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="red_border_status" class=" col-form-label"><b>Red Border Status</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="red_border_status" name="red_border_status" readonly>
                                        </div> 
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="order_type" class=" col-form-label"><b>Order Type</b></label>
                                            <input type="text" class="col-12 form-control inputText form-control-sm" id="order_type" name="order_type" readonly>
                                        </div> 
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="rate_flow" class=" col-form-label"><b>Rate and Flow</b></label>
                                            <input type="text" class="col-12 form-control inputText form-control-sm" id="rate_flows" name="rate_flows" readonly>
                                        </div>   
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="rate_flow" class=" col-form-label"><b>PO Copy</b></label>
                                            <input type="text" class="col-12 form-control inputText form-control-sm" id="rate_flows" name="rate_flows" readonly>
                                        </div>    
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="number_order_parts" class=" col-form-label"><b>Quantity on PO</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="qty_po" name="qty_po" readonly>
                                        </div>  
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="quantity_shipped" class=" col-form-label"><b>Quantity Shipped to Customer</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="quantity_shipped" name="quantity_shipped" readonly>
                                        </div>
                                    </div> 
                                    <div class="form-row">   
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="number_order_parts" class=" col-form-label"><b>Material Lost/Damaged (MLD)</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="number_order_parts" name="number_order_parts" readonly>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                            <label for="quantity_shipped" class=" col-form-label"><b>Comments</b></label>
                                            <input type=text class="col-12 form-control inputText form-control-sm" id="comment" name="comment" readonly>
                                        </div>
                                    </div> 
                                    <div class="button-group mt-6">
                                       <!-- <button type="button" i="deleteOrder" class="btn btn-primary btn-sm">
                                            <span class="fas fa-trash"></span> Delete
                                        </button>  &nbsp;-->
                                        <button type="button" id="submitOrder" class="btn btn-primary btn-sm">
                                            <span class="fas fa-save"></span> Save
                                        </button>   &nbsp;
                                        <button type="button" id="editOrder" class="btn btn-primary btn-sm">
                                            <span class="fas fa-edit"></span> Edit
                                        </button> 
                                    </div> 
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--END SHOW MODAL ORDER INFO POP UP-->
    <div class="modal zsi-elliptic-top" id="modalQTY" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalQTY">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalMoreInfoLabel"> Title </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top: 10px;">
                            <div class="form-row">
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="orderQty" class=" col-form-label"><b>Order Qty</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="orderQty" name="description" readonly>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="oem_part_number" class=" col-form-label"><b>OEM Part Number</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="oem_part_number" name="oem_part_number" readonly>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="base" class=" col-form-label"><b>Status</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="status" name="status" readonly>
                                </div>
                                 <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="base" class=" col-form-label"><b>Model Year</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="model_year" name="model_year" readonly>
                                </div> 
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="prefix" class=" col-form-label"><b>Prefix</b></label>
                                    <input type="text" class="col-12 form-control inputText form-control-sm" id="prefix" name="prefix" readonly>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="base" class=" col-form-label "><b>Base</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="base" name="base" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="suffix" class=" col-form-label"><b>Suffix</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="suffix" name="suffix" readonly>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="suffix" class="col-form-label ">Customer Part No</label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="customer_part_no" name="customer_part_no" readonly>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-0">
                                    <label for="description" class="col-form-label"><b>Description</b></label>
                                    <input type=text class="col-12 form-control inputText form-control-sm" id="description" name="description" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="panel-content">
                            <div class=" pt-2">
                                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 col-left">
                                    <div id="gridQty" class="zGrid mt-2"></div>
                                    <div class=" mt-2" style="float:right">
                                        <button type="button" class="btn btn-primary btn-sm" id="btnSave" data-toggle="tooltip" title="Save">
                                            <i class="far fa-save"></i> Save
                                        </button>
                                        <button type="button" id="btnClose" data-dismiss="modal" aria-label="Close" class="btn btn-primary btn-sm">
                                            <i class="fas fa-"></i> Close
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <div class="col-md-12 left mb-3"></div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-5">
                                        <div class=" mb-3 col-md-5">
                                            <label for="comments" class="col-1 col-form-label">Comments</label>
                                            <textArea cols="50" rows="5" class="form-control form-control-sm" id="frm_comments" name="frm_comments"></textArea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--END SHOW MODAL ORDER INFO POP UP-->
    <div class="modal zsi-elliptic-top" id="modalGeneratePSN" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalGeneratePSN">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalGeneratePSNLabel"> Generate PSN </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                         <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="hidden" name="psn_id" id="psn_id">
                            <div class="row"> 
                            	<div class="col-sm-6 col-md-3 col-xs-12">
                        		    <label for="" class="col-form-label control-label"><b>Direct Ship to Customer</b></label>  
                                    <select class="form-control form-control-sm" id="is_mfg_to_cust" name="is_mfg_to_cust"> 
                        		        <option value=""></option>
                        		        <option value="Y">Yes</option>
                        		        <option value="N">No</option>
                        		    </select>
                        		    <input type="hidden" name="is_edited" id="is_edited" >
                        		</div>
                            	<div class="col-sm-6 col-md-3 col-xs-12">
                        		    <label for="" class="col-form-label control-label"><b>Program</b></label>  
                                    <select type="text" class="form-control form-control-sm" id="program_id" name="program_id"> </select> 
                        		</div>
                            	<div class="col-sm-6 col-md-3 col-xs-12">
                        		    <label for="" class="col-form-label control-label"><b>Date Shipped</b></label>  
                                    <input type="text" class="form-control form-control-sm" id="date_shipped" name="date_shipped">  
                        		</div>
                        		<div class="col-sm-6 col-md-3 col-xs-12">
                        		    <label for="customer" class="col-form-label"><b>Truck No.</b></label>   
                                    <input type="text" class="form-control form-control-sm" id="truck_no" name="truck_no">  
                              	</div>
                        	</div>
                        	<div class="row"> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12">
                        		    <label for="" class="col-form-label"><b>DO ASN Shipper/Packing Slip</b></label>  
                        			<input type="text" class="form-control form-control-sm" id="do_asn" name="do_asn">  
                        		</div>
                        		<div class="col-sm-6 col-md-3 col-xs-12">
                        		    <label for="" class="col-form-label control-label"><b>No. of Boxes</b></label>  
                                    <input type="text" class="form-control form-control-sm" id="no_boxes" name="no_boxes">  
                        		</div>
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        	  	    <label for="" class="col-form-label control-label"><b>No. of Pallets</b></label>
                        	  	    <input type="text" class="form-control form-control-sm" id="no_pallets" name="no_pallets">  
                        		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>Projected Date at Final Destination</b></label>
                        		    <input type="text" class="form-control form-control-sm" id="projected_date_final_dest" name="projected_date_final_dest">  
                        		</div>  
                        	</div> 
                        	<div class="row"> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                            		<label for="" class="col-form-label"><b>Contact Name/No. if Misses</b></label>
                            		<input type="text" class="form-control form-control-sm" id="contact_name_no" name="contact_name_no">  
                          		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>Shipper No.</b></label>
                        		    <input type="text" class="form-control form-control-sm" id="shipper_no" name="shipper_no">  
                        		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        	  	    <label for="" class="col-form-label control-label"><b>Tracking No.</b></label>
                        	  	    <input type="text" class="form-control form-control-sm" id="tracking_no" name="tracking_no">  
                        		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>Shipping Mode</b></label>
                        		    <input type="text" class="form-control form-control-sm" id="shipping_mode" name="shipping_mode">  
                        		</div>  
                        	</div> 
                        	<div class="row"> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                            		<label for="" class="col-form-label"><b>Account No./PTA No.</b></label>
                            		<input type="text" class="form-control form-control-sm" id="acct_pta_no" name="acct_pta_no">  
                          		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>Site</b></label>
                        		    <select type="text" class="form-control form-control-sm" id="site_id" name="site_id"> </select>
                        		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        	  	    <label for="" class="col-form-label control-label"><b>Attention to</b></label>
                        	  	    <input type="text" class="form-control form-control-sm" id="attention_to" name="attention_to">  
                        		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>ASN Necessary</b></label>
                        		    <select class="form-control form-control-sm" id="asn_necessary" name="asn_necessary"> 
                        		        <option value=""></option>
                        		        <option value="Y">Yes</option>
                        		        <option value="N">No</option>
                        		    </select>
                        		</div>  
                        	</div> 
                        	<div class="row"> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                            		<label for="" class="col-form-label"><b>Billable to Customer</b></label>
                            		<select class="form-control form-control-sm" id="bill_to_customer" name="bill_to_customer"> 
                        		        <option value=""></option>
                        		        <option value="Y">Yes</option>
                        		        <option value="N">No</option>
                        		    </select> 
                          		</div> 
                        	    <div class="col-sm-6 col-md-3 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>Send Update to</b></label>
                        		    <input type="text" class="form-control form-control-sm" id="send_update_to" name="send_update_to">  
                        		</div> 
                        		<div class="col-sm-6 col-xs-12 bm">
                        		    <label for="" class="col-form-label"><b>Comment</b></label>
                        		    <textarea rows="3" class="form-control form-control-sm" id="psn_comment" name="psn_comment"> </textarea>
                        		</div> 
                        	</div> 
                        </div>
                    </div>
                </form>
                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <div id="gridGeneratePSN" class="zGrid my-2"></div>
                                
                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveGeneratePSN" onclick="pop2.submitPSN();" title="Save">
                        <i class="far fa-save"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src='/js/formplugins/summernote/summernote.js'></script>
</div>