<div id="dashboardpop3">
    <div class="modal zsi-elliptic-top" id="modalOrderDetails" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-full" role="document">
            <div class="modal-content">
                <form id="frm_modalOrderDetails">
                    <div class="modal-header">
                        <h5 class="modal-title" id=""><b>Orders Details</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="orderPartDetailGrid" class="zGrid mt-2"></div>
                            <div class=" mt-2">
                                <button type="button" class="btn btn-primary btn-sm mt-2" id="btnSaveDetails" data-toggle="tooltip" title="Save">
                                    <i class="far fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-primary btn-sm mt-2" id="btnDeleteDetails" data-toggle="tooltip" title="Save">
                                    <i class="far fa-save"></i> Delete
                                </button> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>