<div class="output"> </div>
 

<ul id="localTemplates">
    <li name="smagerDiv" >
        <div  id="{{id}}" class="smager-div {{class}}" attr1="{{attr1}}" style="{{style}}">{{value}}</div>
    </li>
    
  

</ul>

 <ul name="localTemplates">
    <li name="smagerDivx2" >
        <div  id="{{id}}" class="smager-div {{class}}" attr1="{{attr1}}" style="{{style}}">{{value}}</div>
    </li>
    
  
   <li name="smagerDivx3" >
        <div  id="{{id}}" class="smager-div {{class}}" attr1="{{attr1}}" style="{{style}}">{{value}}</div>
    </li>
    
  
</ul>

 