<script type="text/javascript" src="/scripts/qrcode.min.js"></script>
<style>
#employee{
    margin-bottom:10px;
}
#employee .zGridPanel .zHeaders .item .title .text{
    width:100%;
}
#user-box{
    top:100px;
    background-color: #fff;
    height: 250px;
    width: 250px;
    left: 360px;
    position: absolute;
    display:none;
    webkit-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    border: 2px solid #fff;
    border-radius: 10px;
    overflow:hidden;
}
  #user-box img{ 
  height: 100%;
  width: 100%; 
  
}
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer"> 
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                         <div id="gridLoadingBranchDeposit" class="zGrid"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                        <div class="button-group">     
                            <button type="button" class="btn btn-primary btn-sm" id="btnSaveLoadinBranchDeposit">
                                <i class="far fa-save"></i> Save
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 



