<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer"> 
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xl-9"></div>
                    <div class="col-sm-6 col-md-5 col-xl-3 col-12 mb-1">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm desc-prop-group pl-2" id="searchVal" name="searchVal" autocomplete="off" placeholder="Search.....">
                            <div class="input-group-append">
                                <button id="btnSearchVal" class="btn-sm btn btn-primary btn-outline-default text-white" type="button" title="Search">
                                   <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-append ml-1">
                                <button id="btnResetVal" class="btn-sm btn btn-primary btn-outline-default text-white hvr-icon-spin" type="button" title="Reset">
                                   <i class="far fa-refresh hvr-icon"></i> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                         <div id="gridOrderType" class="zGrid"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                        <button type="button" class="btn btn-primary btn-sm" id="btnSaveOT" data-toggle="tooltip" title="Save">
                            <i class="far fa-save"></i> Save
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="btnInactive" data-toggle="tooltip" title="Delete">
                        	  <i class="fas fa-ban"></i> Inactive
                        </button>    
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal" id="modalInactive" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="frm_modalInactive">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridInactiveOrderTypes" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactiveOrderTypes" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteOrderTypes" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>