<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer">  
                <div class="row"> 
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                        <button type="button" class="btn btn-primary btn-sm" id="btnShopUploadModal" data-toggle="tooltip" title="Upload">
                            <i class="far fa-upload"></i> Upload
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 