<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer">
                 <form id="form">
                    <div class="form-row">
                        <div class="col-md-2 mb-3">
                            <label class="col-form-label control-label text-label">Vehicle <span class="text-danger">*</span> </label>
                            <input type="text" class="autoCaps form-control form-control-xl" name="vehicle">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="col-form-label control-label text-label">PM Date <span class="text-danger">*</span></label>
                             <input type="text"  class="autoCaps form-control form-control-xl" name="pm_date">  
                        </div>
                     </div>
                     <div class="row">
                      <div class="col-12 mb-1">
                          <div id="grid" class="zGrid"></div> 
                     </div>
                     <div class="col-12">   
                        <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                            <i class="far fa-save"></i> Save
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
                        	<i class="fas fa-trash-alt"></i> Delete
                        </button>    
                      </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <!--<div class="panel">-->
<!--    <div class="panel-container">-->
<!--        <div class="panel-content">  -->
<!--            <div role="content" id="tableApplicationForm" >  -->
<!--                <div class="widget-body"  id="panel-1"> -->
<!--                     <form id="form">-->
<!--                        <div class="form-row">-->
<!--                            <div class="col-md-2 mb-3">-->
<!--                                <label class="col-form-label control-label text-label">Vehicle <span class="text-danger">*</span> </label>-->
<!--                                <input type="text" class="autoCaps form-control form-control-xl">-->
<!--                            </div>-->
<!--                              <div class="col-md-2 mb-3">-->
<!--                                <label class="col-form-label control-label text-label">PM Date <span class="text-danger">*</span></label>-->
<!--                                 <input type="text" class="form-control form-control-sm">  -->
<!--                            </div>-->
<!--                            <div class="col-md-2 mb-3">-->
<!--                                <label class="col-form-label control-label text-label">Frequency <span class="text-danger">*</span></label>-->
<!--                                 <select type="text" class="autoCaps form-control form-control-sm "></select>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                              <div id="grid" class="zGrid"></div>    -->
<!--                            </div>-->
                           <!-- <ul name="localTemplates">-->
                           <!--      <li name="modalBodyPmVehicles">-->
                           <!--      <div class="zContainer">-->
                           <!--          <div class="row">-->
                           <!--              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">-->
                           <!--                  <div id={{PmVehiclesGrid}} class="zGrid"> </div><br>-->
                           <!--              </div>-->
                           <!--          </div>-->
                           <!--      </div>-->
                           <!--  </li>-->
                           <!--</ul>-->
<!--                            <div class="btn-group">   -->
<!--                               <div class="button-group">-->
<!--                                <button type="button" class="btn btn-primary btn-sm" id="btnSubmit">-->
<!--                                   <span> <i class="far fa-save"></i> Save</span>-->
<!--                                </button> -->
<!--                                 <button type="button" class="btn btn-primary btn-sm" id="btnCancel">-->
<!--                                   <span> <i class="far fa-trash-alt"></i> Delete</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                       </div> -->
<!--                   </form>-->
<!--                   </div>  -->
<!--                </div>     -->
<!--         </div>-->
<!--    </div>-->
<!--</div>-->
 
 
 











<!--<div class="panel">-->
<!--    <div class="panel-container">-->
<!--        <div class="panel-content"> -->
<!--            <form method="post" id="frm">-->
<!--                <div class="zContainer">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
<!--                            <div id="grid" class="zGrid mb-1"></div>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">      -->
<!--                            <button type="button" class="btn btn-primary btn-sm" id="btnSaveOEM" data-toggle="tooltip" title="Save">-->
<!--                                <i class="far fa-save"></i> Save-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-primary btn-sm" id="btnInactiveRecords">-->
<!--                            	<i class="fas fa-ban"></i> Delete-->
<!--                            </button> -->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

















 
 <!--<div class="row">-->
<!--    <div id="grid" class="zGrid"></div>    -->
<!--</div>-->
<!--<div class="row">-->
<!--   <div class="btn-group">   -->
<!--      <div class="button-group">-->
<!--           <button type="button" class="btn btn-primary btn-sm" id="btnSubmit">-->
<!--              <span> <i class="far fa-save"></i> Save</span>-->
<!--           </button> -->
<!--            <button type="button" class="btn btn-primary btn-sm" id="btnCancel">-->
<!--              <span> <i class="far fa-trash-alt"></i> Delete</span>-->
<!--           </button>-->
<!--         </div>-->
<!--    </div>-->
<!--</div>-->