<script src='/javascript/name/zsiSearch'></script>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="col-sm-12 col-md-12 col-lg-12 col-12">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-route" role="tab" aria-controls="nav-route"> Route </a>
                    <a class="nav-item nav-link hide"        data-toggle="tab" href="#nav-routeDtls" role="tab" aria-controls="nav-routeDtls"> Route Details </a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div role="tabpanel" class="tab-pane fade show active" id="nav-route">
                        <div class="zContainer">
                            <div class="mt-2"></div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1" id="forGrid">
                                     <div id="gridRoutes" class="zGrid"></div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                                    <div class="button-group">     
                                        <button type="button" class="btn btn-primary btn-sm" id="btnSaveRoute">
                                            <i class="far fa-save"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm" id="btnDeleteRoute">
                                            <i class="far fa-trash"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="nav-routeDtls">
                        <div class="zContainer">
                            <div class="mt-2"></div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                    <div id="gridRouteDetails" class="zGrid"></div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                                    <div class="button-group">     
                                        <button type="button" class="btn btn-primary btn-sm" id="btnSaveRouteDetails">
                                            <i class="far fa-save"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm" id="btnDeleteRouteDetails">
                                            <i class="far fa-trash"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div> 
</div>

    
