<!--<input name="prefixKey" id="prefixKey" type="hidden"  >-->
<!--<div class="input-group mb-2">  -->
<!--    <label class="col-3  control-label" style="text-align: right;">Image Name :</label>-->
<!--    <div class=" col-9">-->
<!--        <input class="form-control" placeholder="Enter Image Name" name="image_name" id="image_name" type="text"> -->
<!--    </div>-->
<!--</div>-->
<!--<div class="input-group mb-2">  -->
<!--    <label class="col-3  control-label" style="text-align: right;">Filename :</label>-->
<!--    <div class=" col-9">-->
<!--        <input name="file" id="file" type="file" accept="image/x-png, image/jpeg"  class="browse btn btn-primary form-control" >-->
<!--    </div>-->
<!--</div>-->

<input name="prefixKey" id="prefixKey" type="hidden"  >
<div class="form-group mx-4">
   <label class="form-label" for="inputGroupFile01">Filename :</label>
   <div class="input-group">
       <div class="mx-auto">
           <input type="file" class="browse btn btn-outline-dark waves-effect waves-themed" id="file" name="file" aria-describedby="file" accept="image/x-png, image/jpeg">
           <!--<label class="custom-file-label" for="file">Choose file</label>-->
       </div>
   </div>
</div>