<script type="text/javascript" src="/scripts/qrcode.min.js"></script>
<style>
#employee{
    margin-bottom:10px;
}
#employee .zGridPanel .zHeaders .item .title .text{
    width:100%;
}
#user-box{
    top:100px;
    background-color: #fff;
    height: 250px;
    width: 250px;
    left: 360px;
    position: absolute;
    display:none;
    webkit-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    border: 2px solid #fff;
    border-radius: 10px;
    overflow:hidden;
}
  #user-box img{ 
  height: 100%;
  width: 100%; 
  
}
.btn{
    padding: 0.3rem 1.125rem !important;
}
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="row">
                
                <nav class="col-12 col-sm-8 col-md-8 col-xs-8">
                  <div class="nav nav-tabs nav-tab-main" id="nav-tab" role="tablist"> 
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-vehicles" role="tab" aria-controls="nav-vehicles"><i class="fal fa-bus mr-1"></i> Vehicles </a> 
                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-drivers" role="tab" aria-controls="nav-drivers"><i class="fal fa-user mr-1"></i> Drivers </a>  
                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-pao" role="tab" aria-controls="nav-pao"><i class="fal fa-user mr-1"></i> PAO </a> 
                  </div> 
                </nav> 
                <div class="col-md-4 col-xl-4 col-sm-4 col-12 hide" id="searchDiv"> 
                    <div class="input-group bg-white shadow-inset-2"> 
                        <input id="searchVal" type="text" class="form-control form-control-sm desc-prop-group border-left-0 bg-transparent pl-2" autocomplete="off">
                        <div class="input-group-append">
                            <button id="btnSearchVal" class="btn btn-primary waves-effect waves-themed btn-outline-default text-white" type="button" title="Search"><i class="fal fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div role="tabpanel" class="tab-pane fade show active" id="nav-vehicles">
                    <nav>
                        <div class="nav nav-tabs nav-tab-vhs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link  nav-vhs active cursor-pointer" data-toggle="tab"   role="tab">All</a>
                            <a class="nav-item nav-link  nav-vhs cursor-pointer" data-toggle="tab"          role="tab" >For Registration</a>
                            <a class="nav-item nav-link  nav-vhs cursor-pointer" data-toggle="tab"          role="tab" >Registration Expired</a>
                            <a class="nav-item nav-link  nav-vhs cursor-pointer" data-toggle="tab"          role="tab" >Insurance</a> 
                        </div>
                    </nav>
                    <div class="zContainer">
                        <div class="row">
                            <div class="form-row hide mb-3" id="linkDiv" style="margin-left: 20px">
                                <a href="javascript:void(0)" id="forExp">For Expiration</a> &nbsp;|&nbsp;
                                <a href="javascript:void(0)" id="forRen">For Renewal</a> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1" id="forGrid"> 
                                 <div id="gridVehicles" class="zGrid mb-1"></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1 hide" id="forExpiration"> 
                                <div id="gridExpiration" class="zGrid mb-1 "></div>
                            </div>
                             
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                                <div class="button-group">     
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveVehicles">
                                        <i class="far fa-save"></i> Save
                                    </button>  
                                    <button type="button" id="btnUploadExcel" class="btn btn-sm  btn-primary"><i class="fa fa-upload"></i> Export Excel</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div role="tabpanel" class="tab-pane fade" id="nav-drivers">  
                    <nav>
                        <div class="nav nav-tabs nav-tab-sub nav-sub-mfg" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link  nav-mfg active cursor-pointer" data-toggle="tab" href="#nav-ol" role="tab" id="ol1">Active</a>
                            <a class="nav-item nav-link  nav-mfg cursor-pointer" data-toggle="tab" href="#nav-ol" role="tab" id="ol2">(15)Days for Renewal</a>
                            <a class="nav-item nav-link  nav-mfg cursor-pointer" data-toggle="tab" href="#nav-ol" role="tab" id="ol3">(30)Days for Renewal</a>
                            <a class="nav-item nav-link  nav-mfg cursor-pointer" data-toggle="tab" href="#nav-ol" role="tab" id="ol4">Expired License</a>
                            <a class="nav-item nav-link  nav-mfg cursor-pointer" data-toggle="tab" href="#nav-ol" role="tab" id="ol5">Inactive</a>
                        </div>
                    </nav>
                    <div class="panel p-2 "> 
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1" id="forGrid">
                             <div id="gridDriversLicensed" class="zGrid mb-1"></div>
                        </div> 
                        <form method="post" id="frm">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSaveUpdateDrivers">
                                    	<span class="far fa-save"></span> Save
                                    </button> 
                                    <button type="button" class="btn btn-primary btn-sm " id="btnAddDrivers">
                                    	<span class="fas fa-user-plus"></span> Add
                                    </button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-pao">
                    <div class="zContainer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                 <div id="gridPAO" class="zGrid"></div>
                            </div>
                        </div>
                    </div>
                    <form method="post" id="frm">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <button type="button" class="btn btn-primary btn-sm" id="btnSavePaoTable">
                                	<span class="far fa-save"></span> Save
                                </button> 
                                <button type="button" class="btn btn-primary btn-sm " id="addNewPao">
                                	<span class="fas fa-user-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="modal" id="modalVehicleId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalVehicleId">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="card col-12">
                      <div class="card-body text-center">
                        <img src="../img/avatar-m.png" id="imgFilename" height="150" width="150">
                      </div>
                      <div class="card-body text-center">
                        <b id="plateNoId" class="card-title" style="font-size:25px;"></b>
                        <!--<p id="positionId" class="card-text" style="font-size:10px;"></p>-->
                        <p class="card-text" style="font-size:20px;"><b>Vehicle Type:</b>&nbsp; <span id="vehicleTypeId"></span></p> 
                      </div>
                      <div class="justify-content-center d-flex mb-1" >
                        <div id="qrcode" style="width:100px; height:100px;"></div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modalInactiveVehicles" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="frm_modalInactive">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridInactiveVehicles" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactiveVehicles" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteVehicles" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modalPao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalPao">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="card col-12">
                      <div class="card-body text-center">
                        <img src="../img/avatar-m.png" id="imgFilename" height="150" width="150">
                      </div>
                      <div class="card-body text-center">
                        <b id="nameId" class="card-title" style="font-size:25px;">FirstName LastName</b>
                        <p id="positionId" class="card-text" style="font-size:12px;"></p>
                        <p class="card-text" style="font-size:20px;"><b>ID No.:</b>&nbsp; <span id="id_no"></span></p> 
                      </div>
                      <div class="justify-content-center d-flex mb-1" >
                        <div id="qrcode" style="width:100px; height:100px;"></div>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modalInactivePao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="frm_modalInactivePao">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridInactivePao" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactiveVehicles" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteVehicles" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ul name="localTemplates"> 
    <li name="modalBodyVehicleImageUser">
      <div class="pull-left"><button type="button" onclick="{{onClickUploadImageUser}}" class="btn btn-sm btn-primary"><span class="fas fa-upload"></span> Upload</button></div>
    </li>    
    <li name="modalBodyImageDriverUser">
      <div class="pull-left"><button type="button" onclick="{{onClickUploadImageDriverUser}}" class="btn btn-sm btn-primary"><span class="fas fa-upload"></span> Upload</button></div>
    </li> 
    <li name="modalBodyImagePaoUser">
      <div class="pull-left"><button type="button" onclick="{{onClickUploadImagePaoUser}}" class="btn btn-sm btn-primary"><span class="fas fa-upload"></span> Upload</button></div>
    </li> 
    <li name="modalBodyImageDriverLicence">
      <div class="pull-left"><button type="button" onclick="{{onClickUploadImageDriverLicence}}" class="btn btn-sm btn-primary"><span class="fas fa-upload"></span> Upload</button></div>
    </li>  
    <li name="modalBodyUploadExcel">
        <div class="row">  
            <input id="tmpData" name="tmpData" type="hidden" class="form-control input-sm" > 
        </div>
        <div class="row mb-2">  
            <label class="col-2  control-label">Select File:</label>
            <div class=" col-3">
                <input type="file" class="browse btn btn-primary" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file">
            </div>
        </div>
        <div class="row">  
            <div class="col-3">
                <button type="button" onclick="vehicledriverpao.{{onClickUploadExcel}}" class="btn btn-primary" id="btnUploadFile" style="margin-left: 5px">
                    <i class="fas fa-upload"></i> Upload
                </button>
            </div>
        </div>
    </li>   
    <li name="modalBodyAddDriverUsers">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                <div id="{{grid}}" class="zGrid"> </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" id="btnSaveDriver" onclick="{{onClickSaveNewDriverUsers}}" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>   
   <li name="modalBodyAddPaoUsers">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                <div id="{{grid}}" class="zGrid"> </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" id="btnSave2" onclick="{{onClickSaveNewPao}}" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
   
</ul>
<div id="user-box">
    <img src="/file/viewImage?fileName=no-image.jpg&amp;isThumbNail=y" id="userImage" >
</div>