<script type="text/javascript" src="/scripts/qrcode.min.js"></script>
<style>
#employee{
    margin-bottom:10px;
}
#employee .zGridPanel .zHeaders .item .title .text{
    width:100%;
}
#user-box{
    top:100px;
    background-color: #fff;
    height: 250px;
    width: 250px;
    left: 360px;
    position: absolute;
    display:none;
    webkit-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
    border: 2px solid #fff;
    border-radius: 10px;
    overflow:hidden;
}
  #user-box img{ 
  height: 100%;
  width: 100%; 
  
}
div .font-sm{
    font-size: 7px;
}
div .f-9{
    font-size: 9px;
}
.btn{
    padding: 0.3rem 1.125rem !important;
}
 .modal-backdrop {
        position: inherit;
    }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xl-4 col-12 mb-2 justify-content-center d-flex">
                    <div id="clientQRCode" style="width:150px; height:150px;"></div>
                </div>
                <div class="col-sm-4 col-md-4 col-xl-4 col-12 mb-2 justify-content-center d-flex">
                    <h1 id="clientName"></h1>
                </div>
                <div class="col-sm-4 col-md-4 col-xl-4 col-12 mb-2 justify-content-center d-flex">
                    <img id="companyLogo" style="width:150px; height:auto;" aria-roledescription="logo">
                </div>
            </div>
            <ul class="nav nav-tabs main-nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#nav-routes" role="tab" aria-controls="nav-routes"><i class="fas fa-map-marker-alt"></i> Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nav-vehicles" role="tab" aria-controls="nav-vehicles"><i class="fal fa-bus mr-1"></i> Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nav-drivers" role="tab" aria-controls="nav-drivers"><i class="fal fa-user mr-1"></i> Drivers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nav-pao" role="tab" aria-controls="nav-pao"><i class="fal fa-user mr-1"></i> PAO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nav-devices" role="tab" aria-controls="nav-devices"><i class="fas fa-mobile-android-alt mr-1"></i> Devices</a>
                </li>
            </ul> 
            <div class="tab-content border border-top-0 p-3">
                <div role="tabpanel" class="tab-pane fade show active" id="nav-routes">
                    <div class="zContainer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                 <div id="gridRoutes" class="zGrid"></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" id="btnSaveRoute">
                                    <i class="far fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" id="btnDeleteRoute">
                                    <i class="far fa-trash"></i> Delete
                                </button>
                            </div>
                        </div>
                    </div> 
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-vehicles">
                    <div class="row"> 
                        <div class="col-12 col-sm-5 col-md-4 mb-1"> 
                            <div class="input-group" style="flex-wrap: inherit !important;">
                                <select class="form-control form-control-sm" id="route_id" required autocomplete="off"></select>
                                <div class="input-group-append">
                                    <button id="btnFilterVal" class="btn-sm btn btn-primary btn-outline-default text-white hvr-sweep-to-left" type="button" title="Filter">
                                        <i class="fas fa-filter"></i>
                                    </button>
                                </div>
                            </div>
                		</div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div class="row">
                                <div class="form-row hide mb-3" id="linkDiv" style="margin-left: 20px">
                                    <a href="javascript:void(0)" id="forExp">For Expiration</a> &nbsp;|&nbsp;
                                    <a href="javascript:void(0)" id="forRen">For Renewal</a> 
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1" id="forGrid"> 
                                     <div id="gridVehicles" class="zGrid mb-1"></div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1 hide" id="forExpiration"> 
                                    <div id="gridExpiration" class="zGrid mb-1 "></div>
                                </div>
                                 
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                                    <div class="button-group">     
                                        <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" id="btnSaveVehicles">
                                            <i class="far fa-save"></i> Save
                                        </button>
                                        <button type="button" id="btnUploadExcel" class="btn btn-sm btn-primary hvr-sweep-to-left"><i class="fa fa-upload"></i> Export Excel</button> 
                                        <button class="btn-sm btn btn-primary hvr-sweep-to-left btnPrint" type="button" title="Print">
                                           <i class="fas fa-print" disabled></i> Print QR's
                                        </button>
                                        <!--<button id="btnAssignDriverPao" class="btn-sm btn btn-primary hvr-sweep-to-left" type="button" title="Assign Driver & PAO">
                                           <i class="fas fa-file" disabled></i> Assign Driver & PAO
                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-drivers">
                    <ul class="nav nav-tabs sub-nav-tabs sub-nav-tabs-drivers" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link drivers active" data-toggle="tab" href="#nav-sub-drivers" role="tab">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link drivers" data-toggle="tab" href="#nav-sub-drivers" role="tab">(15)Days for Renewal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link drivers" data-toggle="tab" href="#nav-sub-drivers" role="tab">(30)Days for Renewal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link drivers" data-toggle="tab" href="#nav-sub-drivers" role="tab">Expired License</a>
                        </li> 
                    </ul>  
                     <div class="tab-content border-top-0">
                        <div role="tabpanel" class="tab-pane fade show active" id="nav-sub-drivers">
                            <div class="row"> 
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                     <div id="gridDriversLicensed" class="zGrid mb-1"></div>
                                </div>  
                                <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                    <div class="button-group">   
                                         <button class="btn-sm btn btn-primary hvr-sweep-to-left btnPrintId" type="button" title="Print">
                                           <i class="fas fa-print" disabled></i> Print QR's
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-pao">
                    <div class="zContainer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                 <div id="gridPAO" class="zGrid"></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                                <div class="button-group">   
                                     <button class="btn-sm btn btn-primary hvr-sweep-to-left btnPrintId" type="button" title="Print">
                                       <i class="fas fa-print" disabled></i> Print QR's
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nav-devices">
                    <div class="zContainer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                 <div id="gridDevices" class="zGrid"></div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                                <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" id="btnSaveDevices" data-toggle="tooltip" title="Save">
                                    <i class="far fa-save"></i> Save
                                </button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="row mb-1 hide">
    <div id="printThis" class="col-12 col-sm-12">
        <div class="zTable">
            <table id="qrTable">
                <thead>
                    <tr>
                        <th style="width:120px;text-align:left;"></th>
                        <th style="width:120px;text-align:left;"></th>
                        <th style="width:120px;text-align:left;"></th>
                    </tr>
                </thead>
                <tbody class="mt-4"></tbody>
            </table>
            <table >
            </table>
        </div>
    </div>
</div>
<div class="row mb-1 hide">
    <div id="printThisIdTbl" class="col-12 col-sm-12">
        <div class="zTable">
            <table id="createIdTable">
                <thead>
                    <tr>
                        <th style="width:204px;text-align:left;"></th>
                        <th style="width:204px;text-align:left;"></th>
                        <th style="width:204px;text-align:left;"></th>
                    </tr>
                </thead>
                <tbody class="mt-4"></tbody>
            </table>
            <table >
            </table>
        </div>
    </div>
</div>
<div class="modal" id="modalDriverPaoAssignment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Title </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                
                <ul class="nav nav-tabs main-nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#nav-ongoing" role="tab" aria-controls="nav-ongoing">On Going</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history">History</a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div role="tabpanel" class="tab-pane fade show active" id="nav-ongoing">
                        <div class="zContainer">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                    <div id="gridDriverPaoAssignment" class="zGrid"> </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <button type="button" id="btnSaveDriverPaoAssignment" class="btn btn-primary btn-sm hvr-sweep-to-left"><i class="far fa-save"></i> Save</button>
                                    <button type="button" id="btnDeleteDriverPaoAssignment" class="btn btn-primary btn-sm hvr-sweep-to-left"><i class="fas fa-trash-alt"></i> Delete</button>    
                                </div>
                           </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="nav-history">
                        <div class="zContainer">
                            <div class="row"> 
                                <div class="col-md-4 col-xl-3 col-sm-4 col-12">
                                    <input type="text" class="form-control form-control-sm desc-prop-group pl-2" id="history_frm" autocomplete="off">
                                </div>
                                <div class="col-md-4 col-xl-3 col-sm-4 col-12">
                                    <input type="text" class="form-control form-control-sm desc-prop-group pl-2" id="history_to" autocomplete="off">
                                </div>
                                <div class="col-md-4 col-xl-3 col-sm-4 col-12 mb-2">
                                    <div class="input-group" id="searchGroup">
                                        <input type="hidden">
                                        <div class="input-group-append">
                                            <button id="btnFilterHistory" class="btn-sm btn btn-primary btn-outline-default text-white hvr-sweep-to-left" type="button" title="Filter">
                                               <i class="fas fa-filter"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-append ml-1">
                                            <button id="btnResetVal" class="btn-sm btn btn-primary btn-outline-default text-white hvr-icon-spin hvr-sweep-to-left" type="button" title="Reset">
                                               <i class="far fa-refresh hvr-icon"></i> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="historyId" class="col-12 col-sm-12 col-md-12 col-xl-12 hide">
                                    <div id="gridDriverPaoAssignmentHistory" class="zGrid mb-1"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalVehicleId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalVehicleId">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body panel">
                    <div class="card-body text-center">
                        <div class="justify-content-center d-flex mb-1" >
                            <div id="qrcodeVehicles" style="width:150px; height:150px;"></div>
                        </div>
                        <div class="text-center">
                            <div id="plateNoId"><h1 class="m-0 font-weight-bold"><u></u></h1></div>
                            <p>PLATE NUMBER</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modalViewQR" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalQR">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body panel">
                    <div class="justify-content-center d-flex mb-2" >
                        <div id="qrcode" style="width:150px; height:150px;"></div>
                    </div>
                    <div class="text-center">
                        <div id="serialNo"><h1 class="m-0 font-weight-bold"><u></u></h1></div>
                        <p>SERIAL NUMBER</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modalPao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper modal-dialog modal-sm" role="document">
        <div class="modal-content vertical-align-center">
            <form id="frm_modalPao">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body panel">
                    <div class="justify-content-center d-flex mb-2" >
                        <div id="qrcodeDriverPao" style="width:150px; height:150px;"></div>
                    </div>
                    <div class="text-center">
                        <div><h1 class="m-0 font-weight-bold"><u id="nameId"></u></h1></div>
                        <p>NAME</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body panel" style="margin-bottom:0">
                <p id="msg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPrintSaveId" class="btn btn-primary btn-sm">Yes</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalRouteNos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="frm_modalRouteDetails">
                <div class="modal-header">
                    <h5 class="modal-title"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                            <div id="gridRouteNos" class="zGrid"> </div>
                        </div>
                        <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveRouteNos" class="btn btn-primary btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" id="btnDeleteRouteNos" class="btn btn-primary btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>    
                        </div>-->
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>