<div class="zContainer">
    <div class="row">
        <div class="col-12">
            <div id="grid" class="zGrid mb-2" ></div>
        </div>
        <div class="button-group col-12">
            <button type="button"  class="btn btn-primary btn-sm" id="btnSave">
                <i class="far fa-save"></i> Save
            </button>
            <button type="button"  class="btn btn-primary btn-sm" id="btnDelete">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>    
</div>