<style>
#proofOfShopping{
    border-collapse:collapse;
    border:solid 1px black;
}    
#proofOfShopping thead tr th{
    border:solid 1px black;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}
#proofOfShopping tbody tr td{
    border:solid 1px black;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}
#proofOfDelivery .zGridPanel .zHeaders .item .title .text{
    width:100%;
}
.buttonGroup{
    margin-top:10px;
    margin-left:993px;
}
.textHighlight1{
    color:#c65943;
}

.zHeaders .title .text {
width: 100%;
}
.zGrid .zHeaders .item {
    border-right: none;
}

.zGrid .zHeaders .item .title {
    border-right: solid 1pt #fff;
}

</style>
<div id="proofOfDelivery" class="zGrid"></div>
<div style="clear:left"></div>
<div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm pull-right" id="btnReset">
            	<span class="far fa-edit"></span> Edit
            </button>
            <button type="button" class="btn btn-primary btn-sm pull-right" id="btnSave">
            	<span class="fas fa-save"></span> Save
            </button>        
            <button type="button" class="btn btn-primary btn-sm pull-right" id="btnCancel">
            	<span class="fas fa-trash"></span> Delete
            </button>        
</div>

<div class="w-100"></div>
