<!DOCTYPE html>
<html lang="en">
<head>
     	<meta charset="utf-8">
        <meta name="description" content="Login">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
		<meta name="Developed By" content="zetta-solutions.net">
		<link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">			
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <!-- base css -->
        <link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
        <link rel="stylesheet" media="screen, print" href="css/app.bundle.css">
        <link rel="stylesheet" media="screen, print" href="css/fa-brands.css">
    <title>Home - ZSI HCM</title>
	<style type="text/css">
		body{
			padding: 0;
			margin: 0;
		}
		.page-content-wrapper{
		background: linear-gradient(to right, #08005f 40%, #07004e); 
		}
		.p-color-white{
			color: white;
		}
		.bg-brand-dark{
			background-color: #f1efef;
			color: #160202;
		}
		.btn-payroll {
			background-image: linear-gradient(to bottom, #1a0dab 0px, #10058b 100%);
			color: #fff; 
		}
		.btn-payroll:hover {
			background-image: linear-gradient(to bottom, #10058b 0px, #0d0379 100%);
			color: #fff; 
		}
		.btn-signup {
			background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
			color: #000; 
		}
		.btn-signup:hover {
			background-image: linear-gradient(to bottom, #10058b 0px, #0d0379 100%);
			color: #fff; 
		}
		.color-red{
			color: #126eb8b5;
		}
		.color-red:hover{
			color: white;
		}
		.help-block{
			color: #4c4c4c !important;
		}
		.zsi-home-color{color:#ffffff;}
		.flex-row a i {
			color: #cfcfff;
		}
		.flex-row a i:hover {
			color: #ffffff;
		}
		.zsi-home-color a {
			color: #ffffff;
		}
	</style>
</head>
<body>
<script src='@Url.Content("~/")Scripts/jquery.min.js'></script>
@RenderBody()
</body>
</html>
