<div class="row">
    <div id="menu-content-status" class="col-12 menu-content">
        <form id="frm-manage-status" method="post">
            <div class="row">Manage Status</div>
            <div class="row mb-1">
                <div class="col-12">
                    <div id="grid-manage-status" class="zGrid"></div>
                </div>
            </div>
            <div class="row">
                <div id="button-div" class="col-12">
                </div>
            </div>
        </form>
    </div>
</div>