<div class="row no-gutters">
    <div id="menu-content-menu" class="col-12 menu-content">
        <div class="row">
            <div class="col-12 mb-1">
                <form id="frm" method="post">
                     <div class="row">
                        <label class="col-12 col-md-2 control-label">Subscribe From :</label>
                        <div class="col-12 col-md-4"> 
                            <select name="company_filter" id="company_filter" class="form-control form-control-sm"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 mb-1">
                <div id="grid" class="zGrid"></div>
            </div>
            <div id="button-div" class="col-12">
            </div>
        </div>
    </div>
</div>