<style>
    .add-status:hover {
        cursor : pointer;
        text-decoration: underline;
    }
</style>

<div class="row">
    <div id="menu-content-process" class="col-12 menu-content">
        <div class="row">
            <div class="col-12 mb-1">
                <form id="frm" method="post">
                   <!-- <div class="row">Manage Process</div>-->
                     <div class="row">
                        <label class="col-12 col-md-2 control-label">Support Type :</label>
                        <div class="col-12 col-md-4"> 
                            <select name="type_id" id="type_id" class="form-control form-control-sm" type="hidden"></select>  
                        </div>
                    </div>
                </form>
            </div>
            <form id="frm-manage-process" method="post">
                <div class="row mb-1">
                    <div class="col-12">
                        <div id="grid-manage-process" class="zGrid"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="button-div1" class="col-12">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="menu-content-processstatuses" class="col-12 menu-content">
        <form id="frm-manage-processstatuses" method="post">
            <div class="row no-gutters mb-1">
                <div class="col-6">Manage Process Statuses : <span id="processTitle"></span></div>
                <div class="col-6"><button id="btnBack" type="button" class="col-12 col-md-auto btn btn-primary btn-sm float-right"><i class="fa fa-arrow-circle-left"></i></button></div>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <div id="grid-manage-processstatuses" class="zGrid"></div>
                </div>
            </div>
            <div class="row">
                <div id="button-div2" class="col-12">
                </div>
            </div>
        </form>
    </div>
</div>