<style>
    .modal-body {
        overflow: unset;
    }
    
    .pageProcessWidth {
        width: 895px !important;
    }
</style>

<div class="col-xs-12 ">    
    <div id="pageProcessGrid" class="zGrid"></div> 
    <div class="buttonGroup">
        <button type="button" class="btn btn-primary btn-sm" id="ppBtnSave">
        	<span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>
        <button type="button" class="btn btn-primary btn-sm" id="ppBtnDelete">
        	<span class="glyphicon glyphicon-trash"></span> Delete
        </button>    
    </div>
</div>