<div class="row">
    <div id="menu-content-roles" class="col-12 menu-content">
        <form id="frm-manage-roles" method="post">
            <div class="row">Manage Roles</div>
            <div class="row mb-1">
                <div class="col-12">
                    <div id="grid-manage-roles" class="zGrid"></div>
                </div>
            </div>
            <div class="row">
                <div id="button-div" class="col-12">
                </div>
            </div>
        </form>
    </div>
</div>