<style>
    .add-roles:hover {
        cursor : pointer;
        text-decoration: underline;
    }
</style>

<div class="row">
    <div id="menu-content-users" class="col-12 menu-content">
        <form id="frm-manage-users" method="post">
            <div class="row">Manage Users</div>
            <div class="row mb-1">
                <div class="col-12">
                    <div id="grid-manage-users" class="zGrid"></div>
                </div>
            </div>
            <div class="row">
                <div id="button-div" class="col-12">
                </div>
            </div>
        </form>
    </div>
    <div id="menu-content-userroles" class="col-12 menu-content">
        <form id="frm-manage-userroles" method="post">
            <div class="row no-gutters mb-1">
                <div class="col-6">Manage User Roles : <span id="processTitle"></span></div>
                <div class="col-6"><button id="btnBack" type="button" class="col-12 col-md-auto btn btn-primary btn-sm float-right"><i class="fa fa-arrow-circle-left"></i></button></div>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <div id="grid-manage-userroles" class="zGrid"></div>
                </div>
            </div>
            <div class="row">
                <div id="button-div2" class="col-12">
                </div>
            </div>
        </form>
    </div>
</div>