<style>
    #grid{
        width: 100%;
    }
    
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
 
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">            
            <div class="zContainer">
                <form method="post" id="frm">
                    <div class="row"> 
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">   
                            <div id="grid" class="zGrid mb-1"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                            <button type="button" class="btn-sm btn btn-primary " id="btnSave">
                                <i class="far fa-save"></i> Save
                            </button>
                            <button type="button" onclick="return checkDelete();" class="btn-sm btn btn-primary " id="btnDelete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
