<div class="container" style="margin: 0; padding: 0;">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-7 col-xl-4 col-xs-12">
                            <div class="card p-4 rounded-plus color-primary-500">
                                <form id="frm" method="post">
                                    <div class="form-group">
                                        <label for="user_name" class="form-label">User Name</label>
                                        <input class="form-control form-control-sm p-2" type="text" name="user_name" id="user_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_pwd" class="form-label">Password</label>
                                        <input class="form-control form-control-sm input_pass p-2" type="password" name="user_pwd" id="user_pwd">
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-lg-6 pl-lg-1 my-2">
                                            <button id="btnSave" type="submit" class="btn btn-danger btn-md">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
<script>
    $("#frm").attr("action", base_url + "page/loginAdmin");
</script>

