<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid thead tr, #grid thead th{
    	-ms-transition: 0.1s;
    	background-clip: padding-box;
    	z-index: 50;
    }

    #user-box{
        top:230px;
        background-color: #fff;
        height: 250px;
        width: 250px;
        left: 460px;
        position: absolute;
        display:none;
        webkit-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
        -moz-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
        box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
        border: 2px solid #fff;
        border-radius: 10px;
        overflow:hidden;
    }
  #user-box img{
      margin-left: -106px;
  }
    
    #grid{
    width: 100%;
}

.zGrid .item .title {
    height: 22px;
    line-height: 19px;
}

div.zRows{
    min-height:400px;
}

</style>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zForm ">  
        <div class="row ">
            <div class="form-horizontal">   
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 col-md-1 col-lg-1 control-label">Search Field:</label>
                    <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2" >
                        <select name="field_search" id="field_search" class="form-control input-sm">
                            <option value="Id_no">Id No.</option>
                            <option value="last_name">Last Name</option>
                            <option value="first_name">First Name</option>
                        </select>
                    </div>
                    <label class="col-xs-4 col-sm-3 col-md-1 col-lg-1 control-label">Keyword:</label>
                    <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2" >
                            <input name="logon_id_filter" id="logon_id_filter" type="hidden" class="form-control input-sm">
                            <input name="logon_name_filter" id="logon_name_filter" placeholder="Search" class="form-control input-sm">
                     </div>
                    <label class="col-xs-4 col-sm-3 col-md-1 col-lg-1 control-label">Organization</label>
                    <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2" >
                            <select name="organization_filter" id="organization_filter" class="form-control input-sm"></select>
                     </div>

                     <div class="form-group">
                        <label class="col-xs-4 col-sm-3 col-md-1 col-lg-1">&nbsp;</label>
                        <div class="zButtons"  style="padding-left:5px;padding-top:2px;">
                        <button type="button"  class="btn btn-primary btn-sm" id="btnGo"><span class=" glyphicon glyphicon-filter"></span></button>
                        </div>
                    </div>
                </div>                
            </div>
        </div>    
    
    <form method="post" id="frm">
            
               <div id="grid" class="zGrid"></div> 
            
             
            <div class="buttonGroup">
                <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="btnInactive">
                	<span class="glyphicon glyphicon-user"></span> Inactive
                </button>    
            </div>
        
    </form>
</div>
<div id="user-box">
    <img src="/file/viewImage?fileName=no-image.jpg&amp;isThumbNail=y" id="userImage" >
</div>

<script src="/Scripts/handlebars-v3.0.0.js"></script>