@font-face {
font-family: Aaargh;
src: url("../fonts/Aaargh.ttf");
}

@font-face {
font-family: Eraser;
src: url("../fonts/EraserRegular.ttf");
}

body{
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.pageHeader {
    background-color: #000000;
    height: 60px !important;
	background: linear-gradient(to right, #000000, #b29f94 );
	color: white;
}
.page {
    background: #D4D5D6 none repeat scroll 0 0;
    /* border: 1pt solid #e5e5e5; */
    min-height: 500px;
    padding-top: 10px;
    overflow: auto;
}
.pageTitle {
    background-color: #fff;
    color: black;
    font-size: 11pt;
    height: 27px;
	margin-top: -2px !important;
    margin-bottom: 5px;	
    margin-left: 0px !important;
    margin-right: 0px !important;    
    padding-left: 12px;
    padding-top: 2px;
	font-weight: bold;
	width:100%;
}

.side-nav .logo-sn{
	padding-bottom: 3rem;
}

.logo-sn img{
	width: 65%
}

.navbar{
	
}

.navbar.scrolling-navbar{
	z-index: 101;
}

.breadcrumb-dn, .float-left .fa{
	color: white;
}

.card{
	box-shadow: 10px 9px 55px 3px rgba(0,0,0,0.75);
	margin-left: 85px;
}

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#container1 .box {
  width:100vw;
  height:200vh;
  display:inline-block;
  position:relative;
  box-shadow: 0px 7px 52px -2px rgba(0,0,0,0.93);
}

#container1 .box > div {
  width:100vw;
  height:100vh;
  font-size:96px;
  color:#FFF;
  position:relative;
  top: 5%;
  line-height:.7;
  font-weight:bold;
}

#container1 .box > div img{
	box-shadow: 0px 7px 52px -2px rgba(0,0,0,0.93);
	width: 70%;
	border-radius: 5px;
	/* position: relative; */
    /* left: 50px; */
	display: block;
	margin: 0 auto;
}

::-webkit-scrollbar { display: none; } 

#container1 {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width:100vh;
  height:100vw;
  top: 0%;
}

#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
}

.img-fluid { 
	transition: all .3s ease; 
}

.img-fluid:hover { 
	transform: scale(1.1);
	box-shadow: 0px 0px 155px -35px rgba(0,0,0,0.75);
	/* transform: rotate(3600deg); */
}

/* sidenav font colors */
.white-skin .side-nav .sidenav-bg.mask-strong:after, .white-skin .side-nav .sidenav-bg:after{
	background: none;
}

.white-skin .side-nav .collapsible li .collapsible-header, .white-skin .side-nav .fa{
	color: white;
}

/* inag click sa first nga dropdown */
.white-skin .side-nav .collapsible li .collapsible-header.active{
    color: #ffffff;
    background-color: #0e111182;
    font-size: 13px;
}

/* inag click sa second nga dropdown */
.wew.active{
	color: #ffffff;
    background-color: #232b2b !important;
    font-size: 13px;
}

.side-nav .collapsible-body a{
	color: white !important;
	background-color: #414a4c85 !important;
}

/* third nga dropdown */
.side-nav .collapsible-body ul .wew a{
	background-color: #3538399c !important;
}

.white-skin .side-nav .collapsible li .collapsible-body a{
	color: #414a4c;
}

/* inag hover  sa tanan */
.white-skin .side-nav .collapsible li a:hover{
	background-color: #1b1d2461 !important;
}

a:hover{
	color: #fff !important;
}

/* search field */
.white-skin .side-nav .search-form input[type=text]{
	color: #4a4949!important;
    background-color: #c5c2c26e
}

/* height sa book */
.bb-custom-wrapper .bb-bookblock{
	height: 90%;
}

/* mga pictures */
.bb-custom-wrapper .bb-custom-side .row > div img{
	width: 20%;
	height: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}


/* kanang para next sa ubos  */
.bb-custom-wrapper .row > nav div { 
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.bb-custom-wrapper > nav{
	    width: 77%;
}

.bb-custom-wrapper > nav a{
	background: #293438b5;
	border-radius: 50%;
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}

/* inward shadow sa pages */
.bb-custom-side:nth-child(1), .bb-custom-firstpage{
	box-shadow: inset -1px 0px 52px -12px rgba(0,0,0,0.75);
}

.bb-custom-wrapper .bb-custom-side:nth-child(2){
	box-shadow: inset 11px 0px 52px -16px rgba(0,0,0,0.75);
}

/* sa first page nga background sa text */
.bb-custom-firstpage h1{
	background: transparent;
}

/* pictures */
.imagee span{
	position: relative;
}

.imagee{
	height: 100%;
}

/* name sa pictures */
.wordd{
	text-align: center;
    color: white;
    top: -25px;
    position: relative;
}

/* shadow sa whole book */
.bb-item{
	box-shadow: 0px 8px 51px 0px rgba(0,0,0,0.75);
}

/* album sa ubos */
.bookbook{
	width: 250px; 
	height: 300px; 
	display: block; 
	margin: auto;
	background-image: url('../images/christmasparty.jpg');
}


/* DELETE */
.popup {
width:100%;
height:100%;
display:none;
position:fixed;
top:0px;
left:0px;
background:rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
max-width:700px;
width:90%;
padding:40px;
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
box-shadow:0px 2px 6px rgba(0,0,0,1);
border-radius:3px;
background:#fff;
}
/* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:0px;
right:0px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:1000px;
background:rgba(0,0,0,0.8);
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#fff;
}
.popup-close:hover {
-webkit-transform:translate(50%, -50%) rotate(180deg);
transform:translate(50%, -50%) rotate(180deg);
background:rgba(0,0,0,1);
text-decoration:none;
}
