
@{
    Layout = null;
}

<style>
	.image img {
		    width: 10%;
   
    margin-top: 7%;
	
	}
	.nReg {
		color: red;
		margin-top: -20px;
	}
	
	.msg {
		margin-top: -1%;
		font-size: 17px;
		
	}
	.section1 {
		text-align:center; 
		font-family: tahoma;
	}
	.image h1 {
		    font-size: 40px;
			margin-top: 0%;
	
	}
	.ty {
	margin-top: -1%;
	
	}
	
	
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>notRegistered</title>
</head>
<body>




    
<div class="section1">
		<div class="image"> 	
			<img src="/images/learLogo.png">
			<h1>BMS</h1>
		</div>
		
		<h1 class="nReg">You're not registered in E-Systems Trend Tool</h1>
		
		<div class="msg">
			<p> Please contact System Administrator : <a href="mailto:JArenasa@lear.com"><b> JArenasa@lear.com </b></a></p>
			<p class="ty" > Thank you!</p>
		</div>
</div>	
	
	
</body>
</html>
