<div class="panel">
    <div class="panel-container">
        <div class="panel-content">     
            <div class="zContainer">
                <div class="row">  
                    <div class="col-12 mb-1">
                        <div id="philHealth" class="zGrid"></div>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-sm hvr-sweep-to-left" id="btnSave">
                            <i class="far fa-save"></i> Save
                        </button>
                        <button type="button"  class="btn btn-primary btn-sm hvr-sweep-to-left" id="btnDelete">
                        	<i class="fas fa-trash-alt"></i> Delete
                        </button>     
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>