@font-face {
font-family: Aaargh;
src: url("../fonts/Aaargh.ttf");
}

@font-face {
font-family: Eraser;
src: url("../fonts/EraserRegular.ttf");
}

.avatar{
	z-index: 101;
}

.avatar img{
	width: 65%;
	top: 10px;
    position: relative;
    left: 45px;
}

.side-nav .logo-sn{
	padding-bottom: 3rem;
}

.logo-sn img{
	width: 65%
}

.navbar{
	background: linear-gradient(to right, #a50899, #010801);
	color: white;
}

.breadcrumb-dn, .float-left .fa{
	color: white;
}
.breadcrumb-dn p{
	font-family: Eraser;
}

.car{
	position: relative;
    top: -155px;
}

.top{
	position: relative;
	top: 30px;
	margin-left: 20px;
}

.card{
	box-shadow: 10px 9px 55px 3px rgba(0,0,0,0.75);
	margin-left: 85px;
}

