<style type="text/css" media="all">
    .pull-left {
        float: left !important;
    }
</style>

<div class="col-12 zContainer1" style="margin-top:40px;">
    <h5>DETAILS</h5>
    <form>
        <div class="form-group row">
            <label for="po_number" class="col-sm-1 col-form-label">PO Number:</label>
            <div class="col-1">
                <input type="text" class="form-control" id="po_number" placeholder="PO Number" name="po_number">
            </div>
                <label for="status" class="col-sm-1 col-form-label">Status:</label>
            <div class="col-1">
                <input type="text" class="form-control" id="status" placeholder="Status" name="status">
            </div>      
            <label for="customer" class="col-sm-1 col-form-label">Customer:</label>
            <div class="col-1">
                <select class="form-control" id="customer" name="customer"></select>
            </div>
            <label for="type" class="col-sm-1 col-form-label">Type:</label>
            <div class="col-1">
                <select class="form-control" id="type" name="type"></select>
            </div>
        </div>
    
        <div class="form-group row">
            <label for="program" class="col-sm-1 col-form-label">Program:</label>
            <div class="col-1">
                <select class="form-control" id="program" name="program"></select>
            </div>
            <label for="build_phase" class="col-sm-1 col-form-label">Build Phase:</label>
            <div class="col-1">
                <select class="form-control" id="build_phase" name="build_phase"></select>
            </div>
            <label for="plant" class="col-sm-1 col-form-label">Plant:</label>
            <div class="col-1">
                <select class="form-control" id="plant" name="plant"></select>
            </div>
            <label for="warehouse" class="col-sm-1 col-form-label">Warehouse:</label>
            <div class="col-1">
                <select class="form-control" id="warehouse" name="warehouse"></select>
            </div>
        </div>
    </form>
    <div class="buttonGroup pull-left">
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnCancel">
        	<span class="fas fa-window-close"></span> Cancel
        </button>
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btnSave">
        	<span class="fas fa-save"></span> Save
        </button>        
    </div>    

</div>

<div class="col-12 zPanel" style="margin-top:40px;">
    <h5>PARTS</h5>
    <div id="gridNewOrder" class="zGrid"></div>
</div>
<div class="form-inline my-1">
    <div class="input-group input-group-sm mx-lg-2">
        <input type="text" class="form-control" id="search_criteria" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-light" type="button" id="btn-search"><i class="fas fa-search"></i></button>
        </div>
    </div>
</div>    

<span style="font-weight:bold; margin-left:10px;">ATTACHMENT</span>
<br>
<span style="font-weight:bold; margin-left:20px; color:blue; text-decoration:underline; cursor:pointer;">Browse to upload file</span>



