<style type="text/css" media="all">
    .pull-right {
        float: right !important;
    }
    .link {
        color: blue;
        cursor: pointer;
    }
    .link:hover{
        color: red;
    }
    .modal-body {
    overflow: auto;
    margin-right: unset;
    margin-left: unset; 
    
    }
    .zGrid .zRows #table .zRow.even.active {
    background-color: #333333;
  }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content"> 
            <div class="zContainer">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                    <div id="gridCustomers" class="zGrid"> </div>      
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="button-group">
                        <button type="button" class="btn btn-primary btn-sm" id="btnSaveCustomers">
                        	<i class="fas fa-save"></i> Save
                        </button>    
                        <button type="button" class="btn btn-primary btn-sm" id="btnInactiveCustomers">
                        	<i class="fas fa-user-slash"></i> Inactive
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul name="localTemplates">
    <li name="modalBodySites">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div id="{{gridSites}}" class="zGrid row"> </div>
                <button type="button" id="btnSave1" onclick="{{onClickSaveSites}}" class="btn btn-primary m-1 btn-sm"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
</ul>

<div class="modal zsi-elliptic-top" id="modalCustomer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <form id="frm_modalCustomer" >
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCustomerLabel"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-sites" role="tab" aria-controls="nav-sites"> Sites </a>
                            <a class="nav-item nav-link"        data-toggle="tab" href="#nav-c" role="tab" aria-controls="nav-c"> Contacts </a>
                              <a class="nav-item nav-link"        data-toggle="tab" href="#nav-p" role="tab" aria-controls="nav-p"> Programs </a>
                          </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                          <div role="tabpanel" class="tab-pane fade show active" id="nav-sites">
                                <div class="zContainer">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                            <div id="grid-Sites" class="zGrid"> </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <button type="button" onclick="customer.submitCustomerSites();" class="btn btn-primary mb-1 btn-sm"><i class="far fa-save"></i> Save</button>
                                        </div>
                                    </div>
                                </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade"   id="nav-c">
                                <div class="zContainer">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                            <div id="grid-Contacts" class="zGrid"> </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <button type="button" onclick="customer.submitCustomerContacts();" class="btn btn-primary mb-1 btn-sm"><i class="far fa-save"></i> Save</button>
                                        </div>
                                    </div>
                                </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade"   id="nav-p">
                                <div class="zContainer">
                                    <div class="row">
                                         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                                            <div id="grid-Programs" class="zGrid"></div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <button type="button" onclick="customer.submitCustomerPrograms();" class="btn btn-primary mb-1 btn-sm"><i class="far fa-save"></i> Save</button>
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modalInactiveCustomers" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="frm_modalInactive">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInactive"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div id="gridInactiveCustomers" class="zGrid"> </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button type="button" id="btnSaveInactiveCustomers" class="btn btn-primary m-1 btn-sm"><i class="far fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary btn-sm" id="btnDeleteCustomer" data-toggle="tooltip" title="Delete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>   
                        </div>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<ul id="localTemplates">
    <li name="modalBodySites">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div id="{{gridSites}}" class="zGrid row"> </div>
                <button type="button" id="btnSave1" onclick="{{onClickSaveSites}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
    
    <li name="modalBodyContacts">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div id="{{gridContacts}}" class="zGrid row"> </div>
                <button type="button" id="btnSave1" onclick="{{onClickSaveContacts}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>

    <li name="modalBodyPrograms">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div id="{{gridPrograms}}" class="zGrid row"> </div>
                <button type="button" id="btnSave1" onclick="{{onClickSaveProgram}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
   
</ul>-->