<form method="post" id="frm">
    <div class="zContainer">
        <div class="row">
            <div class="col-12 ">  
            
                <div id="grid" class="zGrid mb-2"></div>
            </div>
            <div class="col-2">     
                <button type="button" class="btn btn-primary " id="btnSave">
                    <i class="far fa-save"></i> Save
                </button>
                <button type="button" onclick="return checkDelete();" class="btn btn-primary " id="btnDelete">
                	<i class="fas fa-trash-alt"></i> Delete
                </button>    
            </div>
            
        </div>
    </div>
</form>