<style>
.trace{
    border:solid 1px black;
} 
[role=main]{
    padding-right:30px;
}
#program{
    margin-top:20px;
}
#program div p{
    margin:0 !important;
    padding:0 !important;
}
.label{
    display:inline-block;
    text-align:center;
    line-height:30px;
    width:140px !important;
    font-weight:bold;
}
.value{
    /*border:solid 1px black;*/
    text-align:center;
    display:inline-block;
    width:150px;
}
.center-objects{
    margin:0 auto;
}
#tblContacts tbody tr td{
    padding:5px 15px 5px 15px;
}
</style>
<div class="container-fluid">
    <div id="program" class="row">
        <div class="col-md-12 col-lg-12 col-xl">
            <div class="clearfix">
                <label class="float-right" style="font-weight:bold">Program: <span style="font-weight:normal">C727</span></label>
            </div>
            <p><span class="label mt-3 mb-3">OEM</span><span class="value">Ford</span></p>
            <p><span class="label">Model  Years</span><span class="value">2020</span><span class="value">2021</span><span class="value">2022</span></p>
            <p><span class="label">Lear Plant</span><span class="value">Monarca</span><span class="value">Aztecas</span></p>
            <p><span class="label">Warehouse</span><span class="value">El Paso</span></p>
            <p><span class="label">Car Leader</span><span class="value">Edgar Delgadillo</span><span class="value">Veronica Caballero</span></p>
            <p><span class="label">Program Manager</span><span class="value">Mark Fouts</span></p>
            <p><span class="label">Car Leader</span><span class="value">Edgar Delgadillo</span></p>
            <p><span class="label">Customers</span><span class="value">Ford</span><span class="value">Magna</span><span class="value">Faurecia</span></p>
            <p><span class="label mt-3">Launch Team</span><span class="value">Agustin Rivera</span></p>
        </div>
        <div class="col-md-12 col-lg-12 col-xl">
            <div class="contacts mt-5">
                <p class="text-center font-weight-bold">Contacts</p>
                <table id="tblContacts" class="center-objects mt-3">
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>