<style>
.zGrid .zRows #table .zRow.even.active {
    background-color: #333333;
  }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content"> 
            <form method="post" id="frm">
                <div class="zContainer">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">  
                            <div id="gridWarehouse" class="zGrid mb-1"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">     
                            <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                                <i class="far fa-save"></i> Save
                            </button>
                            <button type="button" onclick="return checkDelete();" class="btn btn-primary btn-sm" id="btnDelete">
                            	<i class="fas fa-trash-alt"></i> Delete
                            </button>    
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>