$icomoon-font-family: "afcs" !default;
$icomoon-font-path: "fonts" !default;

$z-ev_station: "\e901";
$z-location-gas-station: "\e900";
$z-copy: "\e92c";
$z-barcode: "\e937";
$z-qrcode: "\e938";
$z-cart: "\e93a";
$z-coin-dollar: "\e93b";
$z-alarm: "\e950";
$z-printer: "\e954";
$z-mobile: "\e958";
$z-drawer: "\e95c";
$z-user: "\e971";
$z-users: "\e972";
$z-user-plus: "\e973";
$z-user-minus: "\e974";
$z-user-check: "\e975";
$z-user-tie: "\e976";
$z-aid-kit: "\e998";
$z-briefcase: "\e9ae";
$z-truck: "\e9b0";
$z-road: "\e9b1";
$z-enter: "\ea13";
$z-exit: "\ea14";
$z-loop: "\ea2d";

