<form id="frm" >
    <div class="row">
		<div class="col-md-5 m-auto">
			<div class="form-inline m-3 row">
	        	<div class="col-md-4"><small>Name </small></div>
	        	<div class="col-md-8"><input type="text" id="name" name="name" placeholder="" class="ml-3 form-control txt-npc" style="width: 100%;"></div>
	        </div>
	        <div class="form-inline m-3 row">
	        	<div class="col-md-4"><small>Nickname </small></div>
	        	<div class="col-md-8"><input type="text" id="nickname" name="nickname" placeholder="" class="ml-3 form-control txt-npc" style="width: 100%;"></div>
	        </div>
	        <div class="form-inline m-3 row">
	        	<div class="col-md-4"><small>Player Id </small></div>
	        	<div class="col-md-8"><input type="text" id="playerid" name="playerid" placeholder="" class="ml-3 form-control txt-npc" style="width: 100%;"></div>
	        </div>
	        <div class="form-inline m-3 row">
	        	<div class="col-md-4"><small>Email </small></div>
	        	<div class="col-md-8"><input type="text" id="email" name="email" placeholder="" class="ml-3 form-control txt-npc" style="width: 100%;"></div>
	        </div>
	        <div class="m-3">
	        	<button type="button" class="float-right btn-sm btn-npc" id="btnRegister">Register</button>
	        </div>
		</div>
	</div>
</form>
