<style>
div#fa_icon_id {
    font-size: 88pt;
    margin-top: 10px;
    border: solid 1pt #e0e0e0;
    width: 150px;
    text-align: center;
    padding: 7px;
    min-height: 120px;
}    
</style>
<form>
    <input name="parent_id"     id="parent_id"  type="hidden"  >
    <input name="fa_icon"       id="fa_icon"    type="hidden"  >
    <input name="sqlCode"       id="sqlCode"    type="hidden" value="T84"  >
    <div class="input-group mb-2">  
        <label class="col-4  control-label" style="text-align: right;">Icon Name :</label>
        <div class=" col-8">
            <input name="fa_icon_name" id="fa_icon_name" value=""  type="text"  >
            <div id="fa_icon_id" type="text" class=""></div>
        </div>
    </div>
</form>
