@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style>
    /* ------------------------------------ SPECIFIC STYLES ------------------------------------ */

    #loginDiv {
        width:300px;
    }
</style>

<div id="mainDiv" class="container-fluid z-bg z-txt-white">
    <div class="row no-gutters">
        <div id="loginDiv" class="col-12 z-center">
            <form id="frmLogin" method="post" action="@Url.Content("~/")account/validate">
                <h3 id="sysTitle" class="text-center pb-2">Support Ticketing System</h3>
                <div id="loginForm" class="row no-gutters">
                    <div class="col-12 z-form-con has-icon">
                        <i class="fas fa-user fa-lg"></i>
                        <input id="username" type="text" name="username" placeholder="Username" class="z-form">
                    </div>
                    <div class="col-12 z-form-con has-icon">
                        <i class="fas fa-lock fa-lg"></i>
                        <input id="password" type="password" name="password" placeholder="Password" class="z-form">
                    </div>
                    <div class="col-12 z-form-con">
                        <button id="btnSignin" type="submit" class="z-form">Sign in</button>
                    </div>
                </div>
				<div id="signUpLink" class="col-12">
					<p class="text-right" style="font-size:0.8rem;">Don't have an account? <a href="@Url.Content("~/")public/clientRegistration">Click here</a> to Sign up.</p>
				</div>
            </form>
        </div>
    </div>

    <footer class="fixed-bottom">
        Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a>
    </footer>
</div>

<script>
    $("#mainDiv").height($(window).outerHeight());
    
    $(document).ready(function() {
        $("#sysTitle").velocity('transition.slideUpBigIn');
        $(".z-form-con").velocity("transition.slideLeftIn", { stagger: 250 });
		$("#signUpLink").velocity("transition.fadeIn", { duration : 2000 });
		
        var _msg = zsi.getUrlParamValue("access");
        var _username = readCookie("username");
       
        if (_username) {
            if (_msg !== "") {
                $("#username").val(_username);
                $("#password").val( readCookie("userpwd"));
                $("#isremember").prop('checked',true);
                $("#frmLogin").submit();
            }
            else {
                clearCookies();
            }
        }
        else {
            if (_msg) alert( unescape(_msg) + " Please try again.");
        }

		$("#frmLogin").submit(function () {
			if ($("#username").val() === "") { alert("Please enter username."); return false; }
			if ($("#password").val() === "") { alert("Please enter password."); return false; }
			checkRememberSignin();
		});

		function clearCookies(){
			createCookie("username","",0);
			createCookie("userpwd","",0);
			$("#isremember").prop('checked',false);
		}

		function checkRememberSignin(){
			if ( $("#isremember").is(':checked') ) {
				createCookie("username",$("#username").val(),1);
				createCookie("userpwd",$("#password").val(),1);
			}
			else { 
				clearCookies();
			}
		}

		function createCookie(name,value,days) {
			var _expires;
			if (days) {
				var _date = new Date();
				_date.setTime(_date.getTime() + (days*24*60*60*1000));
				_expires = "; expires=" + _date.toGMTString();
			}
			else {
				_expires = "";
			}
			document.cookie = name + "=" + value + _expires + "; path=/";
		}

		function readCookie(name) {
			var _nameEQ = name + "=";
			var _ca = document.cookie.split(';');
			for (var i = 0; i < _ca.length; i++) {
				var _c = _ca[i];
				while (_c.charAt(0) == ' ') _c = _c.substring(1, _c.length);
				if (_c.indexOf(_nameEQ) === 0) return _c.substring(_nameEQ.length, _c.length);
			}
			return null;
		}
	});
</script>
