#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-brand__name a {
  font-size: 20px;
}
#slider-1 H1 {
  text-align: left;
  font-size: 36px;
}
#menu-7 .mbr-brand__name {
  font-size: 16px;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .mbr-brand__name a {
  font-size: 20px;
}
#content5-e .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-article {
  color: #fff;
}
#content1-c P {
  text-align: left;
}
#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-h .mbr-brand__name a {
  font-size: 20px;
}
#content5-i .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-i .mbr-article {
  color: #fff;
}
#content1-k P {
  text-align: left;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-m .mbr-brand__name a {
  font-size: 20px;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name a {
  font-size: 20px;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
}
