@font-face {
  font-family: 'afcs';
  src:
    url('fonts/afcs.ttf?cik3cy') format('truetype'),
    url('fonts/afcs.woff?cik3cy') format('woff'),
    url('fonts/afcs.svg?cik3cy#afcs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="z-"], [class*=" z-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'afcs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.1rem;
  font-weight: 500;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.z-ev_station:before {
  content: "\e901";
}
.z-location-gas-station:before {
  content: "\e900";
}
.z-home:before {
  content: "\e902";
}
.z-home2:before {
  content: "\e903";
}
.z-home3:before {
  content: "\e904";
}
.z-office:before {
  content: "\e905";
}
.z-newspaper:before {
  content: "\e906";
}
.z-pencil:before {
  content: "\e907";
}
.z-pencil2:before {
  content: "\e908";
}
.z-quill:before {
  content: "\e909";
}
.z-pen:before {
  content: "\e90a";
}
.z-blog:before {
  content: "\e90b";
}
.z-eyedropper:before {
  content: "\e90c";
}
.z-droplet:before {
  content: "\e90d";
}
.z-paint-format:before {
  content: "\e90e";
}
.z-image:before {
  content: "\e90f";
}
.z-images:before {
  content: "\e910";
}
.z-camera:before {
  content: "\e911";
}
.z-headphones:before {
  content: "\e912";
}
.z-music:before {
  content: "\e913";
}
.z-play:before {
  content: "\e914";
}
.z-film:before {
  content: "\e915";
}
.z-video-camera:before {
  content: "\e916";
}
.z-dice:before {
  content: "\e917";
}
.z-pacman:before {
  content: "\e918";
}
.z-spades:before {
  content: "\e919";
}
.z-clubs:before {
  content: "\e91a";
}
.z-diamonds:before {
  content: "\e91b";
}
.z-bullhorn:before {
  content: "\e91c";
}
.z-connection:before {
  content: "\e91d";
}
.z-podcast:before {
  content: "\e91e";
}
.z-feed:before {
  content: "\e91f";
}
.z-mic:before {
  content: "\e920";
}
.z-book:before {
  content: "\e921";
}
.z-books:before {
  content: "\e922";
}
.z-library:before {
  content: "\e923";
}
.z-file-text:before {
  content: "\e924";
}
.z-profile:before {
  content: "\e925";
}
.z-file-empty:before {
  content: "\e926";
}
.z-files-empty:before {
  content: "\e927";
}
.z-file-text2:before {
  content: "\e928";
}
.z-file-picture:before {
  content: "\e929";
}
.z-file-music:before {
  content: "\e92a";
}
.z-file-play:before {
  content: "\e92b";
}
.z-file-video:before {
  content: "\e92d";
}
.z-file-zip:before {
  content: "\e92e";
}
.z-copy:before {
  content: "\e92c";
}
.z-paste:before {
  content: "\e92f";
}
.z-stack:before {
  content: "\e930";
}
.z-folder:before {
  content: "\e931";
}
.z-folder-open:before {
  content: "\e932";
}
.z-folder-plus:before {
  content: "\e933";
}
.z-folder-minus:before {
  content: "\e934";
}
.z-folder-download:before {
  content: "\e935";
}
.z-folder-upload:before {
  content: "\e936";
}
.z-price-tag:before {
  content: "\e939";
}
.z-price-tags:before {
  content: "\e93c";
}
.z-barcode:before {
  content: "\e937";
}
.z-qrcode:before {
  content: "\e938";
}
.z-ticket:before {
  content: "\e93d";
}
.z-cart:before {
  content: "\e93a";
}
.z-coin-dollar:before {
  content: "\e93b";
}
.z-coin-euro:before {
  content: "\e93e";
}
.z-coin-pound:before {
  content: "\e93f";
}
.z-coin-yen:before {
  content: "\e940";
}
.z-credit-card:before {
  content: "\e941";
}
.z-calculator:before {
  content: "\e942";
}
.z-lifebuoy:before {
  content: "\e943";
}
.z-phone:before {
  content: "\e944";
}
.z-phone-hang-up:before {
  content: "\e945";
}
.z-address-book:before {
  content: "\e946";
}
.z-envelop:before {
  content: "\e947";
}
.z-pushpin:before {
  content: "\e948";
}
.z-location:before {
  content: "\e949";
}
.z-location2:before {
  content: "\e94a";
}
.z-compass:before {
  content: "\e94b";
}
.z-compass2:before {
  content: "\e94c";
}
.z-map:before {
  content: "\e94d";
}
.z-map2:before {
  content: "\e94e";
}
.z-history:before {
  content: "\e94f";
}
.z-clock:before {
  content: "\e951";
}
.z-clock2:before {
  content: "\e952";
}
.z-alarm:before {
  content: "\e950";
}
.z-bell:before {
  content: "\e953";
}
.z-stopwatch:before {
  content: "\e955";
}
.z-calendar:before {
  content: "\e956";
}
.z-printer:before {
  content: "\e954";
}
.z-keyboard:before {
  content: "\e957";
}
.z-display:before {
  content: "\e959";
}
.z-laptop:before {
  content: "\e95a";
}
.z-mobile:before {
  content: "\e958";
}
.z-mobile2:before {
  content: "\e95b";
}
.z-tablet:before {
  content: "\e95d";
}
.z-tv:before {
  content: "\e95e";
}
.z-drawer:before {
  content: "\e95c";
}
.z-drawer2:before {
  content: "\e95f";
}
.z-box-add:before {
  content: "\e960";
}
.z-box-remove:before {
  content: "\e961";
}
.z-download:before {
  content: "\e962";
}
.z-upload:before {
  content: "\e963";
}
.z-floppy-disk:before {
  content: "\e964";
}
.z-drive:before {
  content: "\e965";
}
.z-database:before {
  content: "\e966";
}
.z-undo:before {
  content: "\e967";
}
.z-redo:before {
  content: "\e968";
}
.z-undo2:before {
  content: "\e969";
}
.z-redo2:before {
  content: "\e96a";
}
.z-forward:before {
  content: "\e96b";
}
.z-reply:before {
  content: "\e96c";
}
.z-bubble:before {
  content: "\e96d";
}
.z-bubbles:before {
  content: "\e96e";
}
.z-bubbles2:before {
  content: "\e96f";
}
.z-bubble2:before {
  content: "\e970";
}
.z-bubbles3:before {
  content: "\e977";
}
.z-bubbles4:before {
  content: "\e978";
}
.z-user:before {
  content: "\e971";
}
.z-users:before {
  content: "\e972";
}
.z-user-plus:before {
  content: "\e973";
}
.z-user-minus:before {
  content: "\e974";
}
.z-user-check:before {
  content: "\e975";
}
.z-user-tie:before {
  content: "\e976";
}
.z-quotes-left:before {
  content: "\e979";
}
.z-quotes-right:before {
  content: "\e97a";
}
.z-hour-glass:before {
  content: "\e97b";
}
.z-spinner:before {
  content: "\e97c";
}
.z-spinner2:before {
  content: "\e97d";
}
.z-spinner3:before {
  content: "\e97e";
}
.z-spinner4:before {
  content: "\e97f";
}
.z-spinner5:before {
  content: "\e980";
}
.z-spinner6:before {
  content: "\e981";
}
.z-spinner7:before {
  content: "\e982";
}
.z-spinner8:before {
  content: "\e983";
}
.z-spinner9:before {
  content: "\e984";
}
.z-spinner10:before {
  content: "\e985";
}
.z-spinner11:before {
  content: "\e986";
}
.z-binoculars:before {
  content: "\e987";
}
.z-search:before {
  content: "\e988";
}
.z-zoom-in:before {
  content: "\e989";
}
.z-zoom-out:before {
  content: "\e98a";
}
.z-enlarge:before {
  content: "\e98b";
}
.z-shrink:before {
  content: "\e98c";
}
.z-enlarge2:before {
  content: "\e98d";
}
.z-shrink2:before {
  content: "\e98e";
}
.z-key:before {
  content: "\e98f";
}
.z-key2:before {
  content: "\e990";
}
.z-lock:before {
  content: "\e991";
}
.z-unlocked:before {
  content: "\e992";
}
.z-wrench:before {
  content: "\e993";
}
.z-equalizer:before {
  content: "\e994";
}
.z-equalizer2:before {
  content: "\e995";
}
.z-cog:before {
  content: "\e996";
}
.z-cogs:before {
  content: "\e997";
}
.z-hammer:before {
  content: "\e999";
}
.z-magic-wand:before {
  content: "\e99a";
}
.z-aid-kit:before {
  content: "\e998";
}
.z-bug:before {
  content: "\e99b";
}
.z-pie-chart:before {
  content: "\e99c";
}
.z-stats-dots:before {
  content: "\e99d";
}
.z-stats-bars:before {
  content: "\e99e";
}
.z-stats-bars2:before {
  content: "\e99f";
}
.z-trophy:before {
  content: "\e9a0";
}
.z-gift:before {
  content: "\e9a1";
}
.z-glass:before {
  content: "\e9a2";
}
.z-glass2:before {
  content: "\e9a3";
}
.z-mug:before {
  content: "\e9a4";
}
.z-spoon-knife:before {
  content: "\e9a5";
}
.z-leaf:before {
  content: "\e9a6";
}
.z-rocket:before {
  content: "\e9a7";
}
.z-meter:before {
  content: "\e9a8";
}
.z-meter2:before {
  content: "\e9a9";
}
.z-hammer2:before {
  content: "\e9aa";
}
.z-fire:before {
  content: "\e9ab";
}
.z-lab:before {
  content: "\e9ac";
}
.z-magnet:before {
  content: "\e9ad";
}
.z-bin:before {
  content: "\e9af";
}
.z-bin2:before {
  content: "\e9b2";
}
.z-briefcase:before {
  content: "\e9ae";
}
.z-airplane:before {
  content: "\e9b3";
}
.z-truck:before {
  content: "\e9b0";
}
.z-road:before {
  content: "\e9b1";
}
.z-accessibility:before {
  content: "\e9b4";
}
.z-target:before {
  content: "\e9b5";
}
.z-shield:before {
  content: "\e9b6";
}
.z-power:before {
  content: "\e9b7";
}
.z-switch:before {
  content: "\e9b8";
}
.z-power-cord:before {
  content: "\e9b9";
}
.z-clipboard:before {
  content: "\e9ba";
}
.z-list-numbered:before {
  content: "\e9bb";
}
.z-list:before {
  content: "\e9bc";
}
.z-list2:before {
  content: "\e9bd";
}
.z-tree:before {
  content: "\e9be";
}
.z-menu:before {
  content: "\e9bf";
}
.z-menu2:before {
  content: "\e9c0";
}
.z-menu3:before {
  content: "\e9c1";
}
.z-menu4:before {
  content: "\e9c2";
}
.z-cloud:before {
  content: "\e9c3";
}
.z-cloud-download:before {
  content: "\e9c4";
}
.z-cloud-upload:before {
  content: "\e9c5";
}
.z-cloud-check:before {
  content: "\e9c6";
}
.z-download2:before {
  content: "\e9c7";
}
.z-upload2:before {
  content: "\e9c8";
}
.z-sphere:before {
  content: "\e9c9";
}
.z-link:before {
  content: "\e9cb";
}
.z-attachment:before {
  content: "\e9cd";
}
.z-eye:before {
  content: "\e9ce";
}
.z-eye-plus:before {
  content: "\e9cf";
}
.z-eye-minus:before {
  content: "\e9d0";
}
.z-eye-blocked:before {
  content: "\e9d1";
}
.z-sun:before {
  content: "\e9d4";
}
.z-contrast:before {
  content: "\e9d5";
}
.z-brightness-contrast:before {
  content: "\e9d6";
}
.z-star-empty:before {
  content: "\e9d7";
}
.z-man:before {
  content: "\e9dc";
}
.z-woman:before {
  content: "\e9dd";
}
.z-man-woman:before {
  content: "\e9de";
}
.z-happy:before {
  content: "\e9df";
}
.z-wink:before {
  content: "\e9e7";
}
.z-angry:before {
  content: "\e9ed";
}
.z-shocked:before {
  content: "\e9f1";
}
.z-wondering2:before {
  content: "\e9fc";
}
.z-sleepy:before {
  content: "\e9fd";
}
.z-point-up:before {
  content: "\ea03";
}
.z-point-right:before {
  content: "\ea04";
}
.z-point-down:before {
  content: "\ea05";
}
.z-point-left:before {
  content: "\ea06";
}
.z-cross:before {
  content: "\ea0f";
}
.z-checkmark:before {
  content: "\ea10";
}
.z-checkmark2:before {
  content: "\ea11";
}
.z-spell-check:before {
  content: "\ea12";
}
.z-enter:before {
  content: "\ea13";
}
.z-exit:before {
  content: "\ea14";
}
.z-volume-high:before {
  content: "\ea26";
}
.z-volume-medium:before {
  content: "\ea27";
}
.z-volume-low:before {
  content: "\ea28";
}
.z-volume-mute2:before {
  content: "\ea2a";
}
.z-loop:before {
  content: "\ea2d";
}
.z-loop2:before {
  content: "\ea2e";
}
.z-infinite:before {
  content: "\ea2f";
}
.z-shuffle:before {
  content: "\ea30";
}
.z-tab:before {
  content: "\ea45";
}
.z-sort-amount-desc:before {
  content: "\ea4d";
}
.z-opt:before {
  content: "\ea51";
}
.z-checkbox-checked:before {
  content: "\ea52";
}
.z-make-group:before {
  content: "\ea58";
}
.z-scissors:before {
  content: "\ea5a";
}
.z-filter:before {
  content: "\ea5b";
}
.z-strikethrough:before {
  content: "\ea65";
}
.z-embed2:before {
  content: "\ea80";
}
.z-share2:before {
  content: "\ea82";
}
.z-mail:before {
  content: "\ea83";
}
.z-mail2:before {
  content: "\ea84";
}
.z-mail3:before {
  content: "\ea85";
}
.z-mail4:before {
  content: "\ea86";
}
.z-google-plus:before {
  content: "\ea8b";
}
.z-hangouts:before {
  content: "\ea8e";
}
.z-facebook:before {
  content: "\ea90";
}
.z-facebook2:before {
  content: "\ea91";
}
.z-youtube2:before {
  content: "\ea9e";
}
.z-twitch:before {
  content: "\ea9f";
}
.z-steam2:before {
  content: "\eaad";
}
.z-wordpress:before {
  content: "\eab4";
}
.z-tumblr:before {
  content: "\eab9";
}
.z-appleinc:before {
  content: "\eabe";
}
.z-windows:before {
  content: "\eac1";
}
.z-wikipedia:before {
  content: "\eac8";
}
.z-stackoverflow:before {
  content: "\ead0";
}
.z-flattr:before {
  content: "\ead5";
}
.z-foursquare:before {
  content: "\ead6";
}
.z-paypal:before {
  content: "\ead8";
}
.z-chrome:before {
  content: "\ead9";
}
.z-firefox:before {
  content: "\eada";
}
.z-file-pdf:before {
  content: "\eadf";
}
.z-file-openoffice:before {
  content: "\eae0";
}
.z-file-word:before {
  content: "\eae1";
}
.z-file-excel:before {
  content: "\eae2";
}
.z-libreoffice:before {
  content: "\eae3";
}
.z-git:before {
  content: "\eae7";
}
