<style>
    .zGrid .item .title {
        height: 22px;
        line-height: 19px;
    }
    .zGrid .zHeaders .zSort {
        
    }
    
    .tablePanel {
        overflow-y:auto;
    }
    
     .zGrid .btn.btn-primary{
        margin-left: 3px;
        margin-top: 3px;
     }
</style>


<div class="col-xs-12 ">   
    <div class="zPanel">
       <div class="row">    
       
        <div id="grid1" class="zGrid"> </div>    
       </div> 
        <div class="buttonGroup" > 
            <button type="button" class="btn btn-primary btn-sm" id="btnSave1"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <button type="button" class="btn btn-primary btn-sm" id="btnDelete1"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    
    </div> 
   
    <div class="zPanel">
        <div class="row">      
        <div id="grid2" class="zGrid"> </div>    
        </div>
        <div class="buttonGroup">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave2" ><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <button type="button" class="btn btn-primary btn-sm" id="btnDelete2"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    
    </div>
</div> 
 
