 
        <ul id="localTemplates">
            <li name="saParentMenuItem">
            	<div class="tag-li">
            		<a href="#" class="bg-background-red waves-effect waves-themed" title="{{title}}" data-filter-tags="{{title}}" aria-expanded="true">
            			<span class="nav-link-text bg-background-red">{{title}}</span>
            		<b class="collapse-sign"><em class="fal fa-angle-up"></em></b></a>
            		<ul class="bg-background-white" style="">{{{subItems}}}</ul>
            	</div>
        
            </li>
            
            <li name="saSubMenuItem">
            	<div class="tag-li">
        			<a href="#" title="{{title}}" data-filter-tags="{{title}}" class=" waves-effect waves-themed">
        				<span class="nav-link {{icon}}"></span>
        				<span class="nav-link-text" >{{title}}</span>
        			</a>
            	</div>
        
            </li>    
        </ul> 