<div class="col-xs-12 ">
        <div class="zPanel">
            
            <div id="grid" class="zGrid"></div>    
           
            <div class="buttonGroup">
                <button type="button" class="btn btn-primary btn-sm" id="btnSave">
                	<span class="glyphicon glyphicon-floppy-disk"></span> Save
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="btnDelete">
                	<span class="glyphicon glyphicon-trash"></span> Delete
                </button>    
            </div>                
        </div>
</div>
   
<script src="/Scripts/handlebars-v3.0.0.js"></script>