@import "bootstrap";
@import "fontawesome";
@import "animate";
@import "zcore";
@import "zgrid";
@import "ztable";
@import "zpanel";
@import "zsearch";
@import "ttool-menus";
@import "bs-navbar";
@import "bs-navtabs";
@import "report";
@import "print";

html {
  position: relative;
  min-height: 100%;
}

body {
 height: 100%;
 font-family: Verdana,Arial,"Verdana","Helvetica",Sans-serif !important;
 font-size:.8rem;
 margin-left:1px;
 margin-right:1px;
 margin-top:0px;
 margin-bottom:0px;
 background:#D4D5D6;
}

a{
  color: #1B16F1;
  text-decoration:none;
}
a:hover{
	color:#CA1F14;
	text-decoration:underline;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #F11716;
    border-color: #CA1F14;
}
.btn-primary:hover {
    color: #fff;
    background-color: #F11716;
    border-color: #CA1F14;
}
.dl-horizontal dt {
    white-space: normal;
}
 
.navbar-expand .navbar-nav {
  margin-left: 8px;
}

.lear-logo {
  color: #F11716;
  font-size: 1.5rem;
  margin-left: 1px;
}

.mr-1, .mx-1 {
    margin-right: .25rem !important;
    margin-top: .3rem !important;
}
.zBanner {
    background-image: url(/images/new_banners.jpg);
}
.container {
    width: 939px !important;
}

.page {
   min-height: 500px;
   padding-top: 10px;
}
.pageHeader {
      background-color: #1D64B6;
    height: 44px;
}

.pageTitle {
  background-color: #fff;
  color: black;
  font-size: 1.1em;
  height: 26px;
  margin-bottom: 3px;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -9px;
  padding-left: 20px;
  padding-top: 2px;
}
.pageTitle > select{
    border-radius: 3px;
	border: 1px solid #cccccc;
}

.formTitle {
    background-color: #333333;
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    height: 22px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    padding-top: 1px;
}

.zContainer1 {
    border: 1pt solid #d6d8d8;
    border-radius: 4pt;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}


.zHeaderTitle1 {
    background-color: #17569e;
    overflow: hidden;
    height: 26px;
    color: #fff;
    line-height: normal;
}

.zHeaderTitle1 label {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 10pt;
}

.zForm{
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-top: 5px;
	overflow:auto;
}


.logo{
	height: 40px;
}
.appTitle {
    color: #fff;
    font-size: 1.25rem;
}

#localTemplates,#tmpHtml{display:none;}

.modal-header {
  min-height: 16.42857143px;
  background-color: rgb(54,119,195);
}

.modal-title {
  color: #fff;
}

.modal-title > select {
    color: #000;
    border: solid 1pt #d6d8d8;
    border-radius: 2px;
}

.table {
   margin-top: 10px;
}

.modal-body > table.table tbody tr td {
   padding-right:10px;
}

.subTable tbody tr td {
   padding-top: 2px;
}


 ul
 {
     list-style-type: none;
 }

 .leftnavpanel ul{
   margin-left: 0;
   padding-left: 5px;
 }

 .leftnavpanel a{

   font-size: 11px;
   font-weight: normal;
 }


 #footer{
  margin-top:15px;
 }
 #footer a{
  color:#C1E3FF;
 }


 #copyright{
   margin-left:15px;
 }

 #poweredby{
   margin-right:5px;
 }

 .container-full{
   margin: 0 auto;
   width: 99%;
 }
 .welcome-container{
   margin: 0 auto;
   width: 99%;
 }

 .screen-holder{
   width:661px;
 }


 #banner{
  background :url("../images/banner.jpg") no-repeat;
  height:39px;
  background-color:#99B7FD;
 }



 .theme-dropdown .dropdown-menu {
   position: static;
   display: block;
   margin-bottom: 20px;
 }

 .theme-showcase > p > .btn {
   margin: 5px 0;
 }

 .theme-showcase .navbar .container {
   width: auto;
 }
 .bottomNav{

 }

 .buttonGroup {
   margin-top:5px;
   margin-right:20px;
   padding-left: 6px;
   margin-bottom: 5px;
 }
 .buttonGroup button {
   margin-right:5px;
 }

 .inputDate{
    width:130px;
 }
 .input-group-btn button{
   margin-top: -3px;
 }


 .form-group .control-label{
   text-align: right;
 }
 .form-header {
    margin-bottom:5px;
    margin-top: 5px
 }
 .form-header .form-group label {
    padding-top: inherit;
 }

 .yesno-td{
    width: 53px
 }

 /* m5= minus 5*/
 .LeftAdjust-m5{
   margin-left:-5px
 }

 .LeftAdjust-m4{
   margin-left:-4px
 }

 .LeftAdjust-m3{
   margin-left:-3px
 }
 /*modal*/


 .modal-body {
     overflow: auto;
 	margin-right:10px;
 	margin-left:10px;
 }
  .fullWidth{
     width:100%;
  }
 .alignCenter{
    text-align:center;
 }

 .alignLeft{
    text-align:left;
 }


.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.card-header {
  background-color: rgb(255, 0, 33);
  color: #fff;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  left:0;
  bottom: 0;
  height: 20px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    /*width: calc(100% - 225px);*/
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}
input[type="radio"], input[type="checkbox"]{margin:0px;margin-top:-3px;}


.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 3px;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.dropdown-menu.show {
    display: block;
}

.dropdown-menu-left {
    left: 0;
    left: auto;
    border-radius: 0 !important;
    left: 4px !important;
    margin: 0.3rem 0 0 !important;
    width: 300px !important;
}
.dropdown-menu-left {
    right: auto;
    left: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .8rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
}
.menu-icon {
	height:70px;
}

a.dropdown-item > img.mx-auto.d-block.menu-icon:hover{
	background:#FF0021 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
} 
.btnmenutop-margin{
	margin-top:20px;
	clear: both;
}
.btn-menu{
	text-decoration: none;
    background: FF0021 !important;
    border-radius: 2px !important;
	color:#ffffff !important;
}

.ddmenu-header {
    background-color: #ff0021;
    color: #fff;
	padding: .1rem 1rem;
	margin-top: -8px;
}

.dd-checkbox-menu {
    float: left;
	padding:10px;    
    min-width: 300px;	
}
.menu-filter {
    margin-top: 20px;
    clear: both;
    float: left;     
}
.selectWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 2px;
    background:#FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}

.selectWrapper select {
        padding: 12px 40px 12px 20px;
        
        line-height: 18px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: ellipsis;
    }
.ddrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}