@import 'zsi-trendtool.css';


.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#wrapper .content-wrapper {
    overflow-x: hidden;
    width: 100%;   
    padding-bottom: 20px !important;
}
.dropdown-menu-left {
    left: 0;
    left: auto;
    border-radius: 0 !important;
    left: -25px !important;
    margin: 0.4rem 0 0 !important;
	width:300px !important;
}
.menu-icon {
	height:70px;
}

a.dropdown-item > img.mx-auto.d-block.menu-icon:hover{
	background:#FF0021 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
} 
.btnmenutop-margin{
	margin-top:20px;
	clear: both;
}
.btn-menu{
	text-decoration: none;
    background: FF0021 !important;
    border-radius: 2px !important;
	color:#ffffff !important;
}

.ddmenu-header {
    background-color: #ff0021;
    color: #fff;
	padding: .1rem 1rem;
}

.tt-menu {
     
}
.menu-item {
    float: left;
	text-align:center;
}
.tt-menu a{
    background-color: #494749;
    color: #fff;
    border-radius: 8px;
    height: inherit;
    width: 89px;
    height: 80px;
    margin: 5px;
	float:left;
	text-decoration: none;
}
.tt-menu a:hover{
    background-color: red;
    color: #fff;
}

.tt-menu a i{
    font-size: 38px;
    line-height: 78px;
}

.menu-item{	
}
.dd-checkbox-menu {
     
}
.dd-checkbox-menu {
    float: left;
	padding:10px;    
    min-width: 300px;	
}
.menu-filter {
    margin-top: 20px;
    clear: both;
    float: left;     
}
.selectWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 2px;
    background:#FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}

.selectWrapper select {
        padding: 12px 40px 12px 20px;
        font-size: 18px;
        line-height: 18px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: ellipsis;
    }
.ddrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px; 
}
.navbar .lear-logo {
    color: red;
    font-size: 30px;
    margin-top: 1px;
    float: left;
}
.icon-size{    
    font-size: 50px;
    margin-top: 1px;
    float: left;
}
.img-slider {
	overflow:hidden;
	background:grey;
	min-height:295px;
	background-image: url("../images/ttool-bg-slider.png");
	background-size:cover;
	color:#fff;
	max-width: 100%;
    height: auto;
	margin-bottom:10px;
}
#content-margin{
	margin-top:55px;
	margin-left:25px;
}
.elec-content{
	margin-bottom:10px;
}
.elec-content-left{
	margin:20px;
	background:#cccccc;
	border-radius:5px;
	padding:20px;
}
.card-header a{    
    color: #fff !important;
}
.card-header a:hover{    
    color: #000 !important;
	text-decoration:none;
}
thead tr th, tbody tr th{
	background:#FF0021 !important;
	color:#fff;
}
.table th, .table td{
	border:1px solid#ccc;
	padding:0px !important;
}
.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 3px;
}