
@{
    Layout = ViewBag.layoutPage;

}
@{ if (ViewBag.masterPage.ToLower() != "_popup" && ViewBag.masterPage.ToLower() != "_nomenu")
    {

        <div class="pageTitle">@ViewBag.pageTitle </div>

    }
}
@Html.Raw(ViewBag.template)
@Html.Raw(ViewBag.pageJSLink) 
<style>
	main{
		 background: linear-gradient(to right, #243B55 40%, #141E30);
	}
	.btn-primary{
	   background: linear-gradient(to bottom, #508BD1 0px, #1D64B6 100%);
	}
</style>