<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta name="viewport" content="width=device-width" />
	<meta name="Developed By" content="zetta-solutions.net">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
