<style>
    .input-group-text { 
        height: 32px;
    }
     
    ::placeholder{
        padding:5px;
    }
    #orderListGroup{
        margin-left: 0.75em !important; 
    }
    #form{
        height: 80px;
    } 
    .input-group-append{
        left: 98% !important;
        bottom: 35% !important;
        position: relative; 
        cursor: pointer;
    }
    
    @media only screen and (max-width: 600px) {
        .input-group-append {
            left: 84% !important;
            bottom: 32% !important;
            position: relative;
        }
    }
</style>
<div class="panel">
    <div class="panel-container">
        <div class="panel-content">  
            <div id="orderListGroup" >     
                <form id="form">  
        			<input name="order_id" id="order_id" type="hidden">
                    <input name="is_edited" id="is_edited" type="hidden"> 
                    <div class="row ">
                		<div class="col-sm-3 col-md-3 col-xs-12">
                		    <label for="Oem" class="col-form-label">User OEM</label>   
                            <select class="autoCaps form-control form-control-sm" id="oem_id" name="oem_id" ></select>
                		</div>
                		 
                		<div class="col-sm-3 col-md-3 col-xs-12">
                		    <label for="Program" class="col-form-label control-label">Program</label>  
                            <select type="text" class="autoCaps form-control form-control-sm " id="program_id" name="program_id" ></select>
                		</div>   
            			<div class="col-sm-3 col-md-3 col-xs-12">
            			     <label for="Program" class="col-form-label control-label">PO Number</label>  
                             <input type="text" id="enterPONumber" name="enterPONumber" class="form-control form-control-sm p-2" placeholder="Enter PO Number">
            			     <div class="input-group-append col-md-8"> 
                                <span class="input-group-text btn-primary" id="btnGo"><i class="fa fa-filter" aria-hidden="true" ></i></span>
                            </div>
                		    
                		</div> 
            		    
                	</div>   
                </form> 
            </div>   
                <div class="zContainer form-grid"> 
                    <div class="col-md-12 col-sm-12 col-xs-12">     
                        <div id="gridOrderList" class="zGrid mb-2"></div>
                    </div> 
                </div>  
        </div>
    </div>
</div> 

