<style>

.tt-menu a:hover{
    background:none;
}
.dropdown-menu-excecutive-left{
    width:auto !important;
    max-width:auto !important;
}
.users-menu-content{
    margin:5px 5px 0 5px;
}
.users-menu-item{
    display:inline-block;
    margin:1px 2px 0 2px;
    
}
/*.users-menu-item a .userImgPrime{*/
/*    border:1px solid black;*/
/*}*/
/*.users-menu-item a .userImgFade{*/
/*    border:1px solid green;*/
/*}*/
/*.users-menu-item a .userLabel{*/
/*    border:1px solid gray;*/
/*}*/
.users-menu-item, .users-menu-item a .userImgPrime, .users-menu-item a .userImgFade, .users-menu-item a .userLabel{
    height:376px;
    width:376px;
    
}

.users-menu-item a{
    position:relative;
}
.users-menu-item a .userImgPrime, .users-menu-item a .userImgFade, .users-menu-item a .userLabel{
    position:absolute;
    top:0px;
    left:0px;
}
.users-menu-item a .userImgFade{
    transition: opacity 1s;
}
.users-menu-item a:hover .userImgFade{
    opacity:0.0;
}
.users-menu-item a .userLabel{
    /*padding:5px;*/
    color:white;
    text-align
    display:table-cell;
    vertical-align:bottom;
    
}
.users-menu-item a .userLabel span{
    font-size:15px;
    color: #fff;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    
    /*padding-top: 2px;*/
    display: table-cell;
    vertical-align: bottom;
    height: inherit;
    width: inherit;
    position: relative;
    opacity:0;
    transition:opacity .5s;
    /*padding-bottom: 13px;*/
}
.users-menu-item a:hover .userLabel span{
    opacity:1;
}
.userForm{
    display:table;
    /*border:solid 1px black;*/
    background-color: white;
    margin-top: 6px;
    border-radius:5px;
    overflow:hidden;
    width:100%;
    
}
.cursorContextMenu{
    cursor: context-menu;
    display: block;
}
.menuMargin{
    margin: 8px 8px 8px 7px;
}
.graphForm, .imageHolder{
    /*border:solid 1px black;*/
    float:left;
    display:table-cell;
}
.imageHolder{
    /*width:376px;*/
    height:auto;
    
    width:auto;
    

}
.graphForm{
    /*width:376px;*/
    margin:8px 8px 8px 7px;
    min-height:376px;
    width: auto;
    
}
.userForm:after{
    clear:both
    content: "";
    display: table;;
}

/* ---------CHART STYLE--------- */
#chart_container {
    min-height: 350px;
}
.chart-div {
  width: 100%;
  max-height: 380px;
  height: 100vh;
  border: 1px solid #333;
}
.chart-div-sub {
    width: 100%;
    max-height: 100%;
}

    .container {
    border: 1px solid red;
}

/*.manual_spacer {*/
/*    background: red;*/
/*    padding: 10px;*/
/*}*/
/*--- Chart Fix--*/

#btnGoTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1001;
}
#btnGoTop i {
    color: #fff;
    margin: 0;
    position: relative;
    /*left: 16px;*/
    top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#btnGoTop:hover {
    background: rgba(0, 0, 0, 0.9);
}
#btnGoTop:hover i {
    color: #fff;
    top: 5px;
}


/* ---------END CHART STYLE--------- */

/*.users-menu-item a{*/
/*    border:1px solid blue;*/
/*}*/
/*.users-menu-item a .userImgPrime{*/
/*    border:1px solid yellow;*/
/*}*/
/*.users-menu-item a .userImgFade{*/
/*    border:1px solid green;*/
/*}*/
/*.users-menu-item a .userLabel{*/
/*    border:1px solid black;*/
/*}*/
/*.users-menu-item, .users-menu-item a, .users-menu-item a .userImgPrime, .users-menu-item a .userImgFade, .users-menu-item a .userLabel{*/
/*    height:350px;*/
/*    width:350px;*/
/*}*/
/*.users-menu-item a{*/
/*    position:relative;*/
/*}*/

/*.tt-menu a.vehicle{*/
/*    background-image:url('/images/menu/menu-electrical-vehicle-architecture-colored.png');*/
/*}*/
</style>

<!-- Return to Top -->
<span id="btnGoTop"><i class="fas fa-angle-up fa-2x"></i></span>

<ul class="navbar-nav users">
	<li class="nav-item dropdown no-arrow">
		<div class="tt-menu dropdown-menu dropdown-menu-users-left show">
			<div class="users-menu-content">
			</div>
		</div>
	</li>
</ul>

<div id="main_container"></div>

<ul name="localTemplates">
    <li name="usersMenu" >
        <div class="users-menu-item">
		    <a href="{{link}}" onClick="{{onClick}}">
		        <img class="userImgPrime" src="/file/viewimagedb?sqlcode=t83&imageid={{imageId3}}" >
		        <img class="userImgFade"src="/file/viewimagedb?sqlcode=t83&imageid={{imageId4}}">
		        <div class="userLabel" style="{{style}}"><span>{{label}}</span></div>
		    </a>
		</div>
    </li>
    <li name="usersMenuGraph">
        <div class="userForm d-flex">
            <div class="imageHolder">
        	    <div class="users-menu-item menuMargin">
        	        <a class="cursorContextMenu" href="{{link}}" onClick="{{onClick}}">
        	            <img class="userImgPrime" src="/file/viewimagedb?sqlcode=t83&imageid={{imageId3}}">
        	            <img class="userImgFade" src="/file/viewimagedb?sqlcode=t83&imageid={{imageId4}}">
        	            <div class="userLabel"><span>{{label}}</span></div>
        	        </a>
        	    </div>
        	</div>
        	<div class="graphForm flex-grow-1 overflow-auto" id="{{chartId}}"></div>
        </div>
    </li>
    <li name="chart">
        <div class="card rounded-0 border-0 aniview {{card_class}}" id="{{card_id}}" data-av-animation="fadeIn">
            <div class="card-header bg-dark text-white rounded-0 px-3 py-2 h6 {{header_class}}">{{header_title}}</div>
            <div class="card-body p-0 mt-1">
                <div class="{{body_class}}" id="{{body_id}}"></div>  
            </div>
        </div>
    </li>
    <li name="chartDiv">
        <div id="{{id}}">
            <div class="bg-light px-3 py-2 h6 mb-0 font-weight-bold {{title_class}}">{{title}}</div>
            <div class="bg-white rounded-0">
                <div id="{{header_id}}" class="{{header_class}}"></div>
                <div id="d-flex">
                    <div id="{{chart_my_id}}" class="chart-div mb-1 {{chart_my_class}}"></div>
                    <div id="{{chart_region_id}}" class="chart-div mb-1 {{chart_region_class}}"></div>
                </div>
                <!--<div class="d-flex">-->
                <!--    <div class="p-1 flex-fill w-100">-->
                <!--        <h6 class="border-bottom border-gray py-2 mb-2 {{sub_title_class}}"><b>By Model Year</b></h6>-->
                <!--        <div id="{{by_model_year_id}}" class="chart-div"></div>-->
                <!--        <hr class="my-2">-->
                <!--    </div>-->
                <!--    <div class="p-1 flex-fill w-100">-->
                <!--        <h6 class="border-bottom border-gray py-2 mb-2 {{sub_title_class}}"><b>By Region</b></h6>-->
                <!--        <div id="{{by_region_id}}" class="chart-div"></div>-->
                <!--        <hr class="my-2">-->
                <!--    </div>-->
                <!--</div>-->
                <!--<div id="{{div_middle_id}}"></div>-->
                <!--<div class="d-flex">-->
                <!--    <div class="p-1 flex-fill w-50">-->
                <!--        <div id="{{each_model_year_id}}" class="chart-div-sub"></div>-->
                <!--    </div>-->
                <!--    <div class="p-1 flex-fill w-50">-->
                <!--        <div id="{{each_region_id}}" class="chart-div-sub"></div>-->
                <!--    </div>-->
                <!--</div>-->
                <div id="{{footer_id}}" class="{{footer_id}}"></div>
            </div>
        </div>
    </li>
    <li name="chartCardWrapper">
        <div class="my-2 bg-white">
            <h6 class="border-bottom border-gray pb-2 mb-3 h6 {{title_class}}"><b>{{title}}</b></h6>
            <div class="media">
                <div id="{{id}}" class="chart-div"></div>
            </div>
        </div>
    </li>
    <li name="chartCard">
        <div class="card border-dark mb-1 {{class}}" style="{{style}}">
          <div class="card-header {{header}} p-2 h6">{{title}}</div>
          <div class="card-body p-2">
            <div id="{{id}}" class="row h-100"></div>
          </div>
        </div>
    </li>
    <li name="trendResult">
        <div class="w-100 mb-2">
           <div class="bg-danger text-white px-2 py-1 h6">Result</div>
           <div class="d-flex bg-white rounded shadow-sm px-3 pb-2">
                <div class="p-2 flex-fill w-50">
                    <div class="font-weight-bold text-uppercase h6">TREND :</div> 
                    <div class="px-3">{{{trend}}}</div> 
                </div>
                <div class="p-2 flex-fill w-50">
                    <div class="font-weight-bold text-uppercase h6">OPPORTUNITIES/ EVOLUTION :</div> 
                    <div class="px-3">{{{opportunity}}}</div> 
                </div>
            </div>
        </div>
    </li>
</ul>

<script src="../Scripts/jquery.aniview.js"></script>
<script src="../Scripts/jquery.sticky-kit.min.js"></script>
<script src="../amcharts4/core.js"></script>
<script src="../amcharts4/charts.js"></script>
<script src="../amcharts4/maps.js"></script>
<script src="../amcharts4/themes/dark.js"></script>    
<script src="../amcharts4/themes/animated.js"></script>   
<script src="../amcharts4/geodata/worldLow.js"></script>    
<script src="../amcharts4/geodata/continentsLow.js"></script>  
<script src="../amcharts4/geodata/region/world/asiaLow.js"></script>    
<script src="../amcharts4/geodata/region/world/europeLow.js"></script>    
<script src="../amcharts4/geodata/region/world/northAmericaLow.js"></script>   
