  
<div class="panel hide" id="panelDeveloper">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
                         <div id="gridCompanyInfo" class="zGrid"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">    
                        <div class="button-group">     
                            <button type="button" class="btn btn-primary btn-sm" id="btnUpdateInfo" >
                                <i class="far fa-save"></i> Update
                            </button>   
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="modal zsi-elliptic-top" id="modalCompanyInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content"> 
            <div class="modal-header">
                <h3 class="modal-title mt-3"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                    <form id="frm_modalCompanyInfo"> 
                        <input type="hidden" id="company_id" name="company_id"> 
                        <div class="form-row mb-0">
                              <i class="far fa-building"></i>&nbsp;&nbsp;<i><h4>Company Profile</h4></i> 
                            </div>
                            <div class="form-row">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Code :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_codes"  readonly >  
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Tin :
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_tins"  readonly >  
                                    <input type="hidden" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_tin" name="company_tin" >  
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Name :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_name" name="company_name" > 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Contact Name :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="contact_name" name="contact_name" > 
                                </div>
                            </div>
                             <div class="form-row mt-3">
                               <i class="far fa-phone-volume"></i>&nbsp;&nbsp;<i><h4>Company Contact Information</h4></i> 
                            </div>
                            <div class="form-row">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Mobile :
                                        </span> 
                                    </div>  
                                     <input type="text" class="form-control form-control-sm border-left-0 bg-transparent pl-0" id="company_mobile" name="company_mobile">  
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Landline :
                                        </span>
                                    </div>   
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_landline" name="company_landline" >  
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Email Address :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="emal_add" readonly > 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Address :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_address" name="company_address" > 
                                </div>
                            </div>
                            <div class="form-row pt-3">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Province/State :
                                        </span> 
                                    </div>  
                                     <select  class="form-control form-control-sm  border-left-0 bg-transparent pl-0 " id="state_id"  ></select>   
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            City :
                                        </span>
                                    </div>   
                                    <select  class="form-control form-control-sm  border-left-0 bg-transparent pl-0 " id="city_id" name="city_id"></select>
                                    
                                </div>
                            </div> 
                            <div class="form-row mt-3">
                                <i class="far fa-users"></i>&nbsp;&nbsp;<i><h4>Bank Account Profile</h4></i>
                            </div> 
                            <div class="form-row ">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                        	        <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Bank :
                                        </span>
                                    </div> 
                                   <select  class="form-control form-control-sm  border-left-0 bg-transparent pl-0 " id="bank_id" name="bank_id"></select>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Account No. :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="account_no" name="account_no" >
                                </div>
                            </div>
                    </form>
                     <div class=" mt-4" > 
                        <button type="button" class="btn btn-primary btn-sm mt-2" id="btnSaveUpdateInfo" data-toggle="tooltip" title="Save">
                            <i class="far fa-save"></i> Save
                        </button>
                         <button type="button" class="btn btn-primary btn-sm mt-2 " id="btnUploadLogo" data-toggle="tooltip" title="Save">
                            <i class="far fa-upload"></i> Upload Logo
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div> 

<div class="panel hide" id="panelNotDeveloper">
    <div class="panel-container">
        <div class="panel-content">
            <div class="zContainer"> 
                <div class="row"> 
                    <div class="modal-header">
                        <h3 class="modal-title mt-3"></h3> 
                    </div> 
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">    
                        <form id="frm_CompanyInfo"> 
                            <input type="hidden" id="company_id" name="company_id">
                            <div class="form-row mb-0">
                              <i class="far fa-building"></i>&nbsp;&nbsp;<i><h4>Company Profile</h4></i> 
                            </div>
                            <div class="form-row">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Code :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_codes"  readonly >  
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Tin :
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_tins"  readonly >  
                                    <input type="hidden" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_tin" name="company_tin" >  
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Name :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_name" name="company_name" > 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Contact Name :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="contact_name" name="contact_name" > 
                                </div>
                            </div>
                             <div class="form-row mt-3">
                               <i class="far fa-phone-volume"></i>&nbsp;&nbsp;<i><h4>Company Contact Information</h4></i> 
                            </div>
                            <div class="form-row">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Mobile :
                                        </span> 
                                    </div>  
                                     <input type="text" class="form-control form-control-sm border-left-0 bg-transparent pl-0" id="company_mobile" name="company_mobile">  
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Landline :
                                        </span>
                                    </div>   
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_landline" name="company_landline" >  
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Email Address :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="emal_add" readonly > 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Company Address :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="company_address" name="company_address" > 
                                </div>
                            </div>
                            <div class="form-row pt-3">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Province/State :
                                        </span> 
                                    </div>  
                                     <select  class="form-control form-control-sm  border-left-0 bg-transparent pl-0 " id="state_id"  ></select>   
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            City :
                                        </span>
                                    </div>   
                                    <select  class="form-control form-control-sm  border-left-0 bg-transparent pl-0 " id="city_id" name="city_id"></select>
                                    
                                </div>
                            </div> 
                            <div class="form-row mt-3">
                                <i class="far fa-users"></i>&nbsp;&nbsp;<i><h4>Bank Account Profile</h4></i>
                            </div> 
                            <div class="form-row ">
                                <div class="input-group input-group-sm bg-white shadow-inset-2">
                        	        <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Bank :
                                        </span>
                                    </div> 
                                   <select  class="form-control form-control-sm  border-left-0 bg-transparent pl-0 " id="bank_id" name="bank_id"></select>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                            Account No. :
                                        </span>
                                    </div> 
                                    <input type="text" class="form-control form-control-sm  border-left-0 bg-transparent pl-0" id="account_no" name="account_no" >
                                </div>
                            </div>
                             
                        </form>
                        <div class=" mt-4" style="float:right;"> 
                            <button type="button" class="btn btn-primary btn-sm mt-2" id="btnSaveUpdateInfo" data-toggle="tooltip" title="Save">
                                <i class="far fa-save"></i> Save
                            </button>
                             <button type="button" class="btn btn-primary btn-sm mt-2 " id="btnUploadLogo" data-toggle="tooltip" title="Save">
                                <i class="far fa-upload"></i> Upload Logo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 
<ul name="localTemplates"> 
    <li name="modalBodyImageUser">
      <div class="pull-left"><button type="button" onclick="{{onClickUploadImageUser}}" class="btn btn-sm btn-primary"><span class="fas fa-upload"></span> Upload</button></div>
    </li> 
</ul> 
    










 